//字色
$white: #f00
$light-gray: #eee
$gray: #ccc
$dark-gray: #999
$light-black: #555
$dark-black: #111

//主色系與輔助色
$m-color-y: #fde38f
$m-color: #394B81
$sub-color: #c19b57//土黃
$off-color: #b88862//無狀態顏色
$cover-color: #220900

//物件色系
$btn-submit: #ac1a2f//紅
$btn-submit-hover: #971527//深紅

//漸層文字
=grad-txt
    background: -webkit-linear-gradient(top,#99432b,#ffaf2e 40%,#fcff96 48%,#fcffff,#fcff96 52%,#ffaf2e 60%,#99432b)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

=grad-tit
    background: -webkit-linear-gradient(top,#99432b 15%,#ffaf2e 30%,#fcff96 45%,#fcffff,#fcff96 55%,#ffaf2e 70%,#99432b 85%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

//框框線條漸層
=grad-border
    border: 2px solid
    //border-image: linear-gradient(215deg,$m-color02 ,#f5ed8d,) 10
    border-image: linear-gradient(145deg,#775729 10%,#eee33d 20%,#775729 30%) 10
    
//漸層
=grad-b
    background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: -o-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: -moz-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0))

=grad-b-bg
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))

//漸層線
=grad-side-line
    background: -webkit-linear-gradient(rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)
    background: -o-linear-gradientt(rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)
    background: -moz-linear-gradientt(rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)
    background: linear-gradient(rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)

//漸層線2
=grad-side-line2
    background: -webkit-linear-gradient(90deg,rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)
    background: -o-linear-gradientt(90deg,rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)
    background: -moz-linear-gradientt(90deg,rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)
    background: linear-gradient(90deg,rgba(#C4C4C4,0) 0%,rgba(#C4C4C4,0.6) 5.4%,rgba(#C4C4C4,1) 94.75%,rgba(#C4C4C4,0) 100%)

//漸層線發展
=grad-dev-line
    background: -webkit-linear-gradient(rgba(#F5BF58,1) ,rgba(#778AC2,1))
    background: -o-linear-gradientt(rgba(#F5BF58,1) ,rgba(#778AC2,1))
    background: -moz-linear-gradientt(rgba(#F5BF58,1) ,rgba(#778AC2,1))
    background: linear-gradient(rgba(#F5BF58,1) ,rgba(#778AC2,1))

//漸層線發展
=grad-dev-line-bot
    background: -webkit-linear-gradient(rgba(#778AC2,1) ,rgba(#778AC2,0))
    background: -o-linear-gradientt(rgba(#778AC2,1) ,rgba(#778AC2,0))
    background: -moz-linear-gradientt(rgba(#778AC2,1) ,rgba(#778AC2,0))
    background: linear-gradient(rgba(#778AC2,1) ,rgba(#778AC2,0))
// linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.692694) 5.4%, #C4C4C4 94.75%, rgba(196, 196, 196, 0) 100%);