//可寫入web font的地方
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
@font-face
    font-family: 'PFDin-font'
    src: url(../webfonts/PFDinTextCondPro-Regular.ttf)
@font-face
    font-family: 'PFDin-font-bold'
    src: url(../webfonts/PFDinTextCondPro-Bold.ttf)
    
@mixin fontSty
    font-family: -apple-system, 'Noto Sans TC', '微軟正黑體', Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro','新細明體'
@mixin fontDIN
    font-family: 'PFDin-font'
    letter-spacing: 1px
@mixin fontDINBold
    font-family: 'PFDin-font-bold'
    letter-spacing: 1px

//全域樣式，設定全站樣式統一的地方
.clearfix:after 
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
//.clearfix { display: inline-block;}
html[xmlns] .clearfix 
    display: block
* html .clearfix
    height: 1%
//全域樣式
body
    // min-width: 1024px
    +fontSty
    font-size: 16px
    // font-size: 100%
    color: #000

div
    box-sizing: border-box
    
input,textarea,select
    +fontSty
    color: #000

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button 
    appearance: none

input[type=number] 
    -moz-appearance: textfield


