//=== 更新區段 ===
@media screen and (max-width: 1800px)
 //依情況增加，不一定需要//1601-1920，1920以上如未指定需要滿版，以1920寬呈現

@media screen and (max-width: 1600px)
    //=== bannerVideo 1600 ===
    .banner-video-btn-box
        top: 0
        right: 0
        span
            text-shadow: 0 0 5px #fff
    
    nav
        .item
            span
                padding: 0 14px

@media screen and (max-width: 1400px)
    //=== nav 1400 ===
    nav
        .item
            span
                font-size: 15px
        
        .item.more
            // &:hover
            //     &:after
            //         bottom: -11px
            &:after
                border-width: 9px 5px 0 5px

    .nav-top
        a
            font-size: 14px
    .lang-box
        span
            font-size: 12px
                
    .sup-nav-box
        a
            font-size: 14px
    


    .sup-nav-box02
        margin-right: 533px
        // margin-right: 413px
    .sup-nav-box03
        margin-right: 500px
        // margin-right: 390px
    .sup-nav-box04
        margin-right: 260px
        // margin-right: 145px
    .sup-nav-box05
        margin-right: 224px
        // margin-right: 100px
    .sup-nav-box06
        margin-right: 273px
        // margin-right: 160px
    .sup-nav-box07
        margin-right: 199px
    .sup-nav-box08
        margin-right: 85px
    .lang-box
        a
            font-size: 15px

    .main-wrap
        padding: 0 50px
    //=== banner 1400 ===
    .sw-banner-wrap
        padding: 30px 50px

    //news
    .ind-wrap03
        padding-top: 50px
    .page-main-wrap
        padding-top: 20px
    .page-w
        .news-page-tit
            margin: 0 0 100px
    .page-tit-box
        .tit
            font-size: 28px
    .page-sup-tab-area
        .tab
            font-size: 16px
    .page-sup-inner
        font-size: 14px

@media screen and (max-width: 1300px)
    //=== video 1300 ===
    .banner-video-info
        .cont
            max-height: 300px

@media screen and (max-width: 1200px)
    //=== nav 1200 ===
    .logo
        width: 168px
    .nav-area
        width: calc(100% - 168px )
    .nav-top
        a
            font-size: 13px
    nav
        .item
            span
                font-size: 14px
                padding: 0 12px
    .lang-box
        a
            font-size: 14px
        span
            font-size: 12px
    // .sup-nav-area
    //     top: 40px
    //=== video 1200 ===
    .banner-video-info
        .cont
            max-height: 250px

    .sup-nav-box02
        margin-right: 475px
    .sup-nav-box03
        margin-right: 450px
    .sup-nav-box04
        margin-right: 220px
    .sup-nav-box05
        margin-right: 185px
    .sup-nav-box06
        margin-right: 242px
    .sup-nav-box07
        margin-right: 175px
    .sup-nav-box08
        margin-right: 70px
                
    //=== 首頁 - 最新消息 ===
    .ind-news-list
        width: calc(100% - 510px)
    .ind-news-box
        .ind-news-cont
            .tit
                width: 100%
                margin: 0 0 5px
                order: 1
            .date
                width: 100%
                order: 2
    
    //=== 首頁 - 地球所演講 1200 ===
    .ind-main-earth-box
        width: 470px
    .ind-earth-list
        width: calc(100% - 500px)
    .ind-earth-box
        margin: 0 0 30px

    //=== 成員列表 1200 ===
    .member-sup-box
        width: calc((100% - 40px)/3)
        margin-right: 20px

    //=== 主管簡介 1200 ===
    .director-sup-box
        justify-content: center
        .director-box
            width: 600px
            margin: 0 0 40px
            &:last-child
                margin: 0
        .director-info-top
            width: 100%

@media screen and (max-width: 1023px) 
    //=== nav 1023 ===
    .hamburger
        display: block
    .header-cont
        padding: 5px 10px
        align-items: $c
    .logo
        width: 120px
    .nav-area
        width: calc(100% - 120px)
        +flex($flex-e,$c)
    .nav-main
        width: calc(100% - 50px)
    .nav-top
        margin: 0
    nav
        width: 100%
        background: #fff
        +position(55px,null,null,0,5)
        max-height: calc(100vh - 55px)
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
        display: none
        .item
            width: 100%
            padding: 10px 0
            border-bottom: 2px solid $m-color
            span
                border-right: none
            &:last-child
                border-bottom: none
        .item.more
            padding-bottom: 0
            &:after
                display: none
    .mb-nav
        display: block
    .sup-nav-area
        display: none
    .lang-box
        padding: 0

    //=== banner video 1023 ===
    .banner-video-area
        padding: 20px
    .banner-video-cont
        width: calc(100% - 40px)
        left: 20px
    .banner-video-info
        .tit
            font-size: 24px
            margin: 0 0 10px
        .cont
            font-size: 16px
            max-height: 180px

    //=== banner txt 1023 ===
    .banner-txt
        font-size: 16px
        padding: 10px

    //=== 首頁 - 最新資訊 1023 ===
    .ind-main-news-box
        width: 100%
        margin: 0 0 30px
        +flex($sb,$c)
        .ind-news-img,.ind-news-cont
            width: 48%
        .ind-news-img
            margin: 0
    .ind-news-list
        width: 100%
    .ind-news-box
        margin: 0 0 30px
        .ind-news-img
            width: 240px
            height: 160px
        .ind-news-info
            width: calc(100% - 270px)

    //=== 首頁 - 地球所演講 1023 ===
    .earth-type-box
        padding: 0 15px
        .icon
            width: 30px
    .ind-main-earth-box
        width: 100%
        margin: 0 0 30px
        +flex($sb,$c)
        .ind-earth-img-box,.ind-earth-info
            width: 48%
        .ind-earth-img-box
            margin: 0
    .ind-earth-list
        width: 100%

    //=== 內頁共用 1023 ===
    .page-column-side
        top: 60px

    .page-top-w
        &:before
            height: 260px

    //=== 本所成員 1023 ===
    .member-box
        width: calc((100% - 40px)/3)
        margin-right: 20px

    .member-sup-box
        width: calc((100% - 20px)/2)
        margin-right: 20px
        &:nth-child(3n)
            margin-right: 20px
        &:nth-child(2n)
            margin-right: 0

    //=== 成員內頁 1023 ===
    .member-cont-img-box
        width: 250px
        top: 75px
    .member-cont-img
        width: 250px
        height: 275px
    .member-main-cont
        width: calc(100% - 270px)
    .member-main-info-cont
        padding-top: 55px

    //=== 關於我們 1023 ===
    .page-sup-tab-area
        margin: 20px 0 10px
        .tab
            margin-bottom: 10px
    .page-sup-inner
        margin-top: 0

    //=== 主管簡介 1023 ===
    .director-main-box
        .director-info
            width: calc(100% - 315px)
        .director-info-bot
            .director-info-box
                width: 100%
                &:nth-child(2)
                    margin: 0 0 20px

    //=== 聯絡我們 1023 ===
    .page-contact-info-list
        margin-right: 20px
    .page-contact-input-area
        padding: 0 20px

    //=== 研究領域 1023 ===
    .study-result-list
        .earth-sw-box
            width: calc((100% - 30px)/2)
            &:nth-child(3n)
                margin-right: 30px
            &:nth-child(2n)
                margin-right: 0

    //=== 資訊服務 1023 ===
    .info-server-box
        width: calc((100% - 80px)/2)
        &:nth-child(3n)
            margin-right: 80px
        &:nth-child(2n)
            margin-right: 0

    //=== 相關連結 1023 ===
    .web-link-box
        width: calc((100% - 80px)/2)
        &:nth-child(3n)
            margin-right: 80px
        &:nth-child(2n)
            margin-right: 0

    //=== 最新消息內頁 1023 ===
    .news-banner,.news-txt-cont
        width: calc((100% - 30px)/2)

    //=== 演講 1023 ===
    .speech-banner-area
        padding-bottom: 50px
        .speech-banner-box
            padding: 0
            width: 100%
            .ind-main-earth-box
                margin: 0
            &:first-child
                padding-right: 0
                border-right: 0
                margin: 0 0 50px
            &:last-child
                padding-left: 0
    .speech-box
        .ind-earth-box
            width: calc(100% - 180px)
            padding-right: 10px
        .add-date-box
            padding: 0 10px

    //=== 研究計畫 最新消息 1023 ===
    .plan-news-txt-cont
        width: 650px

    //=== 活動紀錄 1023 ===
    .event-box
        width: calc((100% - 60px)/3)
        margin: 0 30px 70px 0

    //=== 活動紀錄內頁 1023 ===
    .event-page-img
        width: 100%
    .event-page-cont
        width: 100%
        padding: 30px 30px 0
    .event-video-box
        width: 100%
        margin: 0 0 50px
    .event-photo-box
        width: calc((100% - 60px)/2)
        &:nth-child(3n)
            margin: 0 60px 60px 0
        &:nth-child(2n)
            margin: 0 0 60px 0

    //=== 網站導覽 1023 ===
    .sitemap-cont
        justify-content: $flex-s
        .sitemap-box
            width: 27%
            margin-right: calc(19%/3)

    //=== footer 1023 ===
    .footer-link-area
        padding: 100px 0 10px
        justify-content: $flex-s
    .footer-box
        padding: 0 10px
        margin: 0 0 30px
        width: calc(100%/5)

@media screen and (max-width: 900px)
    //=== 本所成員 900 ===
    .member-box
        width: calc((100% - 30px)/2)
        margin-right: 30px
        &:nth-child(3n)
            margin-right: 30px
        &:nth-child(2n)
            margin-right: 0

@media screen and (max-width: 767px)
    //=== banner video 767 ===
    .banner-video-area
        padding: 10px
        height: auto
    .banner-video-box
        width: 80%
        margin: 0 auto
    .banner-video-cont
        width: 100%
        position: relative
        left: 0
        transform: translateY(0)
    .banner-video-info
        width: 100%
        margin: 10px 0 0
        max-height: auto
    #bannerVideoInfo .mCSB_inside > .mCSB_container
        margin-right: 0
    .banner-video-btn-box
        width: 40px
    .banner-video-btn
        width: 40px
        height: 40px
        line-height: 40px
    .banner-video-close-box
        width: 40px
        text-align: center
    .banner-video-close
        padding: 10px
        display: inline-block
    .banner-page-box
        margin: 5px 0 0

    //=== 首頁共用 767 ===
    .ind-wrap
        margin-bottom: 50px
    .tit-box
        h2,h3
            font-size: 28px
            padding: 5px 0

    //=== 首頁 - 最新資訊 767 ===
    .ind-main-news-box
        .ind-news-img,.ind-news-cont
            width: 100%
        .ind-news-img
            margin: 0
    .ind-news-cont
        .tit
            margin: 10px 0
    .ind-news-box
        .ind-news-img-box
            width: 100%
            margin: 0 0 15px
        .ind-news-img
            width: 100%
            padding-bottom: 65%
        .ind-news-info
            width: 100%

    //=== 首頁 - 地球所演講 767 ===
    .ind-main-earth-box
        .ind-earth-img-box,.ind-earth-info
            width: 100%
        .ind-earth-img-box
            margin: 0 0 20px
    .ind-earth-box
        .ind-earth-date
            height: auto
            padding: 15px
        .ind-earth-img-box,.ind-earth-info-area
            width: 100%
        .ind-earth-img-box
            margin: 0 0 20px
        .earth-tag
            margin: 0 0 10px
    
    .ind-earth-img
        transition: .2s
        &:hover
            opacity: 0.8
        .cover
            opacity: 1
            background: none
        .add-date.pc
            display: none
    .add-date.mb
        display: block


    //=== 首頁 - 研究成果 767 ===
    .earth-type-area
        margin: 0 0 25px
    .earth-type-box
        width: 50%
        margin: 0 0 10px
        &:nth-child(2n)
            &:after
                display: none
        .txt
            width: calc(100% - 35px)

    .arr-sw-area
        padding: 0 20px
        .swiper-button-prev,.swiper-button-next
            top: 50%
            transform: translateY(-50%)
            img
                width: 40px

    //=== 內頁共用 767 ===
    .page-tit-wrap
        .page-cont
            height: 150px
        h2
            font-size: 28px
    .bread-box
        margin: 0 0 30px
    .page-tit-box
        .tit
            font-size: 28px
        .tit.line
            padding: 0 0 20px

    //=== 本所成員 767 ===
    .mb-select-area
        display: block
    .pc-side-box
        display: none
    .page-column-side
        margin: 0 0 30px
        padding: 0
        width: 100%
        position: relative
        top: 0
        // &:after
        //     display: none
    .page-column-cont
        width: 100%
    .member-name-box
        padding: 15px
    .member-info
        padding: 10px 15px

    //=== 成員內頁 767 ===
    .member-cont-img-box
        display: none
    .member-main-info-cont
        padding-top: 0
        margin-bottom: 30px
    .member-main-cont
        width: 100%
        .member-cont-img
            display: block
    .member-main-name-box
        margin: 0 0 15px
        .name
            margin: 0 0 15px
    .member-main-info
        .item
            margin: 0 0 10px

    //=== 關於我們 767 ===
    .page-sup-tab-area
        // margin: 20px 0 10px
        .tab
            // font-size: 16px
            padding: 10px 15px
            margin-right: 10px
            // margin-bottom: 10px

    .about-video-cont,.about-txt-cont
        width: 100%
    .about-video-cont
        margin: 0 0 30px
    .page-sup-tit
        font-size: 20px
    .about-video-box
        padding: 0 0 30px
        margin: 0 0 30px
        &:last-child
            padding: 0
        .page-sup-tit
            margin: 0 0 10px

    //=== 發展沿革 767 ===
    .develop-page-tit
        width: calc(100% - 180px)
        margin: 0
        +position(50%,0,null,null,1)
        transform: translateY(-50%)
        .page-sup-tit
            margin: 0 0 5px
    .develop-main
        margin: 0
    .develop
        margin: 0
        transform: translateX(25px)
    .develop-info-box
        width: calc(100% - 170px)
        left: auto
        right: 0
        .tit
            margin: 0 0 5px
    .develop-box
        &:nth-child(even)
            .develop-info-box
                text-align: left
                border-left: 5px solid #000
                border-right: none
                left: auto
                right: 0

    //=== 主管簡介 767 ===
    .director-main-box
        .director-img
            margin: 0
        .director-info
            width: 100%
    .director-info-top
        margin: 0 0 30px
    .director-info
        width: 100%
    .director-box
        justify-content: $c
    .director-sup-box
        .director-box
            width: 100%
            
    //=== 聯絡我們 767 ===
    .page-contact-info-box
        margin: 0 0 50px
    .page-contact-info-list
        padding: 0 15px
        width: 100%
        margin-right: 0
    .page-contact-input-area
        padding: 0
    .page-contact-column
        width: 100%
        margin: 0 0 30px
        &:last-child
            margin: 0
    .page-btn-submit
        width: 100%

    //=== 研究領域 767 ===
    .study-txt
        padding: 20px
    .study-result-area
        .page-tit-box
            margin: 0 0 30px
    .study-result-list
        .earth-sw-box
            width: 100%
            margin-right: 0
            margin-bottom: 20px
            &:nth-child(3n)
                margin-right: 0

    //=== 資訊服務 767 ===
    .info-server-area
        .page-tit-box
            margin: 0 0 30px
    .info-server-box
        width: 100%
        margin-bottom: 50px
        margin-right: 0
        &:nth-child(3n)
            margin-right: 0
        .tit
            font-size: 20px
        .cont
            margin: 15px 0

    //=== 相關連結 767 ===
    .web-link-area
        .page-tit-box
            margin: 0 0 30px
    .web-link-box
        width: calc((100% - 30px)/2)
        margin-right: 30px
        &:nth-child(3n)
            margin-right: 30px
        .tit
            font-size: 20px

    //=== 最新消息 767 ===
    .news-box
        width: 100%
        margin-right: 0
        margin-bottom: 60px

    //=== 最新消息內頁 767 ===
    .page-w
        .news-page-tit
            margin: 0 0 20px
    .news-banner,.news-txt-cont
        width: 100%
    .news-banner
        transform: translateY(0px)
        margin: 0 0 30px
        position: relative
        top: 0
    .news-txt-tit-box
        margin: 0 0 30px
        .tit
            font-size: 20px

    //=== 地球部落內頁 767 ===
    .page-earth-area
        .date
            margin: 10px 0 25px
        .tit
            font-size: 20px
            margin: 0 0 30px
    .page-earth-video
        top: 0

    //=== 演講 767 ===
    .speech-box
        .ind-earth-box
            width: 100%
            padding: 0 0 20px
            border-right: none
        .add-date-box
            padding: 0
            width: 100%

    //=== 研究計畫 767 ===
    .page-plan
        .page-cont
            height: 200px

    .plan-info-box
        width: 50%
        margin: 0 0 50px
        &:nth-child(3), &:nth-child(4)
            margin: 0
    
    .plan-more-info-cont
        margin-bottom: 50px

    .plan-mem
        margin: 0 20px 15px

    //=== 活動紀錄 767 ===
    .event-list
        margin: 0
    .event-box
        width: 100%
        margin: 0 0 50px
        &:nth-child(3n)
            margin: 0 0 50px
        // width: calc((100% - 60px)/2)
        // margin: 0 60px 70px 0
        // &:nth-child(3n)
        //     margin: 0 60px 70px 0
        // &:nth-child(2n)
        //     margin: 0 0 60px
    
    //=== 活動紀錄內頁 767 ===
    .event-page-img
        margin: 0
    .event-page-cont
        padding: 20px 20px 0
    .event-photo-box
        width: 100%
        margin: 0 0 50px
        &:nth-child(3n)
            margin: 0 0 50px
        &:nth-child(2n)
            margin: 0 0 50px

    //=== 相簿列表 767 ===
    .event-album-list
        a
            width: 50%
            padding-bottom: 38%

    //=== 本院位置及交通資訊 767 ===
    .location-area
        margin-top: 0
    .google-map
        height: 500px

    //=== 網站導覽 767 ===
    .sitemap-cont
        width: calc((100%/3)*2)
        .sitemap-box
            width: 43%
            margin-right: 7%
    .sitemap-side
        width: calc(100%/3)

    //=== footer 767 ===
    .footer-link-area
        padding: 50px 0 10px
    .footer-box
        width: calc(100%/4)
    .footer-info-logo
        width: 100%
        .txt
            width: 100%
            text-align: right
        a.logo
            margin: 0 20px 0 0
        
@media screen and (max-width: 480px)
    .nav-top 
        margin: 0 0 8px
        a
            font-size: 14px
            margin: 0 0 0 8px
    .hamburger
        margin-left: 5px
    .main-wrap
        padding: 0 25px
    //=== banner 480 ===
    .sw-banner-wrap
        padding: 20px 25px

    //=== 首頁共用 480 ===
    .tit-box
        margin: 0 0 20px
        h2,h3
            font-size: 24px
    
    //=== 首頁 - 最新資訊 480 ===
    .ind-news-box
        .ind-news-cont
            width: calc(100% - 75px)
    
    //=== 首頁 - 研究成果 480 ===
    .ind-wrap03
        padding-top: 30px
    .arr-sw-area
        padding: 0 10px
        .swiper-button-prev,.swiper-button-next
            padding: 10px
            img
                width: 30px

    //=== 首頁 - 地球部落影片 480 ===
    .tit-wrap04
        margin: 0 0 5px

    //=== 內頁共用 480 ===
    .page-tit-wrap
        .page-cont
            height: 100px
        h2
            font-size: 24px
            bottom: 10px
    .page-main-wrap
        padding-top: 10px
    .bread-box
        margin: 0 0 20px
    .page-tit-box
        .tit
            font-size: 24px
        .tit.line
            padding: 0 0 10px
    .page-w
        .page-tit-box
            margin: 0 0 10px

    //=== 本所成員 480 ===
    .member-box
        width: calc((100% - 20px)/2)
        margin-right: 20px
        margin-bottom: 20px
        &:nth-child(3n)
            margin-right: 20px
        &:nth-child(2n)
            margin-right: 0
    .member-name-box
        padding: 10px
    .member-info
        padding: 10px

    .member-sup-box
        width: 100%
        margin-right: 0
        &:nth-child(3n)
            margin-right: 0
        &:nth-child(2n)
            margin-right: 0

    //=== 成員內頁 767 ===
    .member-main-txt
        padding: 10px
    .more-hide
        padding-bottom: 40px

    //=== 關於我們 480 ===
    .page-sup-area
        padding: 20px 0
    .page-sup-tab-area
        // margin: 20px 0 10px
        .tab
            font-size: 15px
            padding: 5px 12px
            margin-right: 5px
            // margin-bottom: 5px
    .page-sup-inner
        font-size: 13px

    //=== 發展沿革 480 ===
    .develop-main
        font-size: 32px
        width: 100px
        height: 100px
        line-height: 90px
        border-width: 5px
        &:after
            width: 10px
            top: 92px
    .develop-page-tit
        width: calc(100% - 110px)
        .page-sup-tit
            font-size: 18px
        .develop-p
            font-size: 16px
    // .develop-box
    //     margin: 0 0 95px
    .develop
        font-size: 26px
        width: 80px
        height: 80px
        line-height: 70px
        border-width: 5px
        transform: translateX(10px)
        &:after
            width: 10px
            top: 72px
            // height: 100px
    .develop-info-box
        width: calc(100% - 100px)
        padding: 0 10px
        .tit
            font-size: 16px
        .info
            font-size: 14px

    //=== 研究領域 480 ===
    .study-txt
        padding: 10px
    .study-result-area
        .page-tit-box
            margin: 0 0 20px

    //=== 相關連結 480 ===
    .web-link-box
        width: 100%
        margin-right: 0
        &:nth-child(3n)
            margin-right: 0

    //=== 最新消息 480 ===
    .news-box
        margin-bottom: 40px
    .news-img
        width: 40%
        height: 0
        padding-bottom: 27%
    .news-cont
        width: calc(60% - 10px)
        .date
            margin: 10px 0 5px

    //=== 研究計畫 480 ===
    .page-plan
        .page-cont
            height: 150px

    .plan-info-cont
        margin: 60px 0 0

    .page-plan-sw-area
        // padding-bottom: 30px
        .tit-box
            margin: 10px auto
    .plan-about
        .tit
            font-size: 20px
    .plan-mem-area
        margin: 0 0 50px
    .plan-mem-tit
        .tit
            margin: 0 0 20px
            font-size: 20px

    //=== 網站導覽 480 ===
    .sitemap-cont
        width: 100%
        justify-content: $sb
        .sitemap-box
            width: 45%
            margin-right: 0
    .sitemap-side
        width: 100%
    .sitemap-box
        margin-bottom: 50px

    //=== footer 480 ===
    .footer-box
        width: calc(100%/3)
    .footer-info-box
        width: 100%
        margin: 0 0 20px
    .footer-info-logo
        +flex($flex-e,$c)
    //     a.logo
    //         margin: 0 20px 0 0

@media screen and (max-width: 375px)
 //依情況增加，不一定需要
    
@media screen and (max-height: 770px)
    //== 當member側邊太多 筆電高度看不到 調整側邊高度 ==
    .column-side-list
        li
            font-size: 15px
            margin: 0 0 10px
    .column-side-box
        padding-top: 10px
        padding-bottom: 10px