@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty

//input 樣式
//=== header ===
.ht
    color: transparent
    line-height: 0
    display: none
.header-wrap
    top: 0
    position: sticky
    z-index: 20
.header-area
    position: relative
.header-cont
    padding: 12px 20px 0px
    border-bottom: 4px solid $m-color
    background: #fff
    +flex($sb,$flex-s)
    position: relative
    z-index: 22
.logo
    width: 180px
    h1
        height: 0
        opacity: 0
    img
        width: 100%

.nav-area
    width: calc(100% - 180px )
.nav-top
    width: 100%
    margin: 6px 0 10px
    +flex($flex-e,$c)
    a
        font-size: 15px
        color: #000
        line-height: 1
        margin: 0 0 0 25px
        +flex($flex-e,$c)
        .icon
            margin-right: 5px
        &:hover
            color: $m-color
.nav-bot
    width: 100%
    +flex($flex-e,$c)
    a
        display: inline-block
    span
        display: inline-block
        
    // span
    //     margin: 0 3px
    a
        color: #999
        &:hover
            color: #000
    a.act
        color: #000
.nav-main
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
.lang-box
    line-height: 1
    +flex($flex-e,$c)
    margin: 0 0 0 15px
    padding: 0 0 15px
    .icon
        margin-right: 3px
    span
        margin: 0 5px
    i
        font-weight: 500
.hamburger
    padding: 0
    margin-left: 10px
    display: none
.hamburger-box
    margin: 3px 0 0
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    height: 3px
nav
    +flex($flex-e,$c)
    .item
        color: #000
        // padding: 0
        padding: 0 0 15px
        position: relative
        display: block
        +tcursor
        &:hover
            color: $m-color
        span
            line-height: 1
            padding: 0 20px 2px
            border-right: 2px solid #000
        &:last-child
            span
                border-right: none
    .item.more
        &:after
            content: ''
            display: block
            width: 0
            height: 0
            border-style: solid
            border-width: 10px 6px 0 6px
            border-color: $m-color transparent transparent transparent
            +position(null,null,-3px,50%,1)
            transform: translateX(-50%)
            transition: .2s
            opacity: 0
        &:hover
            &:after
                bottom: -13px
                opacity: 1
    .item.more.act
        &:after
            bottom: 3px
            // bottom: -13px
            opacity: 1
.mb-nav
    font-size: 14px
    margin: 10px 0 0
    padding: 10px 10px 5px
    display: block
    background: $m-color
    display: none
    a
        color: #fff
        margin-right: 15px
        margin-bottom: 5px
        display: inline-block
        &:last-child
            margin-right: 0
        &:hover
            color: #ccc
.sup-nav-area
    width: 100%
    padding: 5px 10px 10px
    background: rgba($m-color,0.8)
    +position(20px,null,null,0,21)
.sup-nav-box
    padding: 0 20px
    +flex($flex-e,$c)
    a
        color: #fff
        margin: 0 10px
        line-height: 24px
        display: inline-block
        &:hover
            color: #ddd
.sup-nav-box02
    margin-right: 548px
    // margin-right: 533px
.sup-nav-box03
    margin-right: 515px
    // margin-right: 490px
.sup-nav-box04
    margin-right: 255px
.sup-nav-box05
    margin-right: 215px
    // margin-right: 170px
.sup-nav-box06
    margin-right: 278px
    // margin-right: 218px
.sup-nav-box07
    margin-right: 200px
.sup-nav-box08
    margin-right: 80px

//=== 主要寬度 ===
.main-wrap
    padding: 0 20px
.main-cont
    max-width: 1400px
    margin: 0 auto
.swiper
    overflow: hidden

//=== banner ===
.sw-banner-wrap
    padding-top: 38px
    padding-bottom: 40px
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: 65%
        background: #eee
        +position(0,null,null,0,1)
    .main-cont
        position: relative
.banner-video-btn-box
    text-align: center
    +position(66%,-75px,null,null,12)
    span
        font-size: 14px
.banner-video-btn
    width: 60px
    height: 60px
    line-height: 60px
    margin: 0 auto
    background: #F27C18
    +tcursor
    &:hover
        background: darken(#F27C18,10%)
    img
        display: inline-block
    span
        font-size: 14px
        display: inline-block
.banner-wrap
    position: relative
    z-index: 3
.sw-banner-area
    position: relative

//== bannerVideo ==
.banner-video-area
    width: 100%
    height: 100%
    padding: 45px
    background: rgba(#105994,0.9)
    +position(0,null,null,0,11)
    display: none
.banner-video-close-box
    text-align: center
    +position(0,0,null,null,4)
    span
        color: #fff
        font-size: 14px
        display: inline-block
.banner-video-close
    padding: 20px
    background: #000
    +tcursor
    &:hover
        background: #002240
.banner-video-cont
    width: calc(100% - 90px)
    +position(50%,null,null,45px,3)
    +flex($sb,$flex-e)
    transform: translateY(-50%)
.banner-video-box
    width: 70%
.banner-video
    position: relative
    padding-bottom: 60%
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
.banner-video-info
    width: 28%
    color: #fff
    line-height: 1.5
    .tit
        font-size: 32px
        margin: 0 0 40px
    .cont
        font-size: 18px
        max-height: 350px
        overflow: hidden

#bannerVideoInfo
    .mCSB_inside>.mCSB_container
        margin-right: 20px
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 6px
    .mCSB_scrollTools .mCSB_draggerRail
        width: 6px
    
//== bannerImgSw ==
.banner-img
    padding-bottom: 46.5%
    position: relative
    display: block
    img
        width: 100%
        width: 100%
        object-fit: cover
        +position(0,null,null,0,1)
.banner-page-box
    margin: 20px 0 0
    +flex($c,$c)
    .swiper-pagination
        margin: 0 10px
        +flex($c,$c)
        position: relative
    .swiper-pagination-bullet
        transform: scale(0.5)
        margin: 0 5px
        display: block
        transition: .2s
    .swiper-pagination-bullet-active
        transform: scale(1)
        background: #000
    .swiper-button-prev,.swiper-button-next
        font-size: 26px
        color: #000
        width: auto
        height: auto
        margin-top: 0
        top: 0
        background: none
        position: relative
    .swiper-button-prev
        left: 0
    .swiper-button-next
        right: 0
//== bannerTxt ==
.sw-banner-txt
    width: 100%
    +position(null,null,0,0,2)
    .swiper-slide
        background: rgba(#000,0.6)
        height: auto
        +tcursor
        &:hover
            background: rgba(#000,0.4)
    .swiper-slide.act
        background: $m-color
        .banner-txt
            color: #fff
.banner-txt
    font-size: 18px
    font-weight: 500
    color: #868FAA
    padding: 20px

//=== 首頁共用 === 32 28 24
.ind-wrap
    margin-bottom: 100px
.tit-box
    margin: 0 0 40px
    +flex($sb,$c)
    h2,h3
        font-size: 32px
        letter-spacing: 2px
        font-weight: 700
        padding: 10px 0
    .more-btn
        font-size: 15px
        color: #000
        display: inline-block
        padding: 5px 30px 5px 15px
        border: 1px solid #000
        border-radius: 25px
        position: relative
        &:after
            content: ''
            display: block
            width: 8px
            height: 8px
            border-radius: 50%
            background: #000
            +position(50%,10px,null,null,1)
            transform: translateY(-4px)
            transition: .2s
        &:hover
            color: #fff
            background: #000
            &:after
                background: #fff
    &:after
        content: ''
        display: block
        width: 100%
        height: 10px
        background: url(../img/hr_line.svg) top left


//=== 首頁 - 最新消息 ===
.ind-news-wrap
    +flex($sb,$flex-s)
.ind-main-news-box
    width: 480px
    display: inline-block
    &:hover
        opacity: 0.8
.ind-news-img
    // padding-bottom: 50%
    position: relative
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
    .news-tag
        +position(null,null,0,0,3)
    &:before,&:after
        content: ''
        display: block
        height: 15%
        background: #fff
    &:before
        width: 25%
        +position(0,0,null,null,2)
    &:after
        width: 50%
        +position(null,null,0,0,2)
.news-tag
    font-size: 15px
    color: #fff
    padding: 10px 20px
    background: #F27C18
.ind-main-news-img
    padding-bottom: 75%
.ind-news-cont
    .tit
        color: #000
        font-weight: 500
        margin: 15px 0
    .date
        +fontDIN
        color: #bbb
        font-weight: 700
.ind-news-list
    width: calc(100% - 540px)
.ind-news-box
    margin: 0 0 40px
    +flex($sb,$c)
    &:hover
        opacity: 0.8
    &:last-child
        margin: 0
    .ind-news-img
        width: 120px
        height: 80px
        padding-bottom: 0
        background-size: cover
    .ind-news-info
        width: calc(100% - 150px)
        +flex($sb,$c)
    .news-tag
        width: 60px
        padding: 5px
        text-align: center
        // margin-right: 30px
    .ind-news-cont
        width: calc(100% - 90px)
        +flex($sb,$c)
        .tit
            width: calc(100% - 105px)
            margin: 0
            +ctline(3)
            order: 2
        .date
            +fontDIN
            width: 80px
            line-height: 1
            order: 1

//=== 首頁 - 地球所演講 ===
.ind-earth-wrap
    +flex($sb,$flex-s)
.ind-main-earth-box
    width: 600px
    display: block
    .ind-earth-img-box
        margin: 0 0 20px
.ind-earth-list
    width: calc(100% - 660px)
.ind-earth-img
    padding-bottom: 84%
    // margin: 0 0 20px
    position: relative
    overflow: hidden
    display: block
    &:hover
        .add-date.pc,.cover
            opacity: 1
            // display: block
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
    .cover
        width: 100%
        height: 100%
        +position(0,null,null,null,3)
        background: rgba(#000,0.3)
        // display: none
        opacity: 0
        +tcursor
    .add-date.pc
        +position(null,null,0,0,4)
        opacity: 0
.add-date.mb
    display: none
.add-date
    font-size: 18px
    color: #fff
    width: 100%
    padding: 10px
    text-align: center
    background: #F27C18
    // display: none
    +tcursor
    &:hover
        background: darken(#F27C18,10%)
.ind-earth-date
    color: #fff
    +fontDIN
    text-align: center
    width: 84px
    padding: 15px
    background: rgba(#4C6840,85%)
    +position(0,null,null,0,2)
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    .day
        font-size: 60px
        line-height: 1
        width: 100%
    .mon
        font-size: 22px
        line-height: 1
        width: 100%
        padding: 0 0 10px
        margin: 0 0 10px
        border-bottom: 1px solid #fff
    .time
        line-height: 1
        width: 100%
        margin: 0 0 10px
    i
        font-size: 26px
.ind-earth-info
    display: block
    &:hover
        opacity: 0.8
    .earth-tag
        margin: 0 0 10px
    .date
        +fontDIN
        font-size: 16px
        color: #999
        font-weight: 600
        margin: 0 0 5px
    .tit
        font-size: 18px
        color: $m-color
        font-weight: 700
        margin: 0 0 10px
    .info
        font-size: 15px
        color: #000
.earth-tag
    font-size: 14px
    color: #fff
    padding: 5px 15px
    border-radius: 25px
    background: #F5BF58
    display: inline-block

.ind-earth-box
    margin: 0 0 60px
    display: block
    +flex($sb,$str)
    &:last-child
        margin: 0
    &:hover
        opacity: 0.8
    .ind-earth-date
        width: 70px
        height: 100%
        padding: 10px
        .day
            font-size: 50px
        .mon
            padding: 0 0 6px
            margin: 0 0 6px
    .ind-earth-img-box
        width: 205px
        // margin: 0
    .ind-earth-info-area
        +flexs($flex-s,$sb)
        width: calc(100% - 235px)
    .ind-earth-info
        width: 100%

//=== 首頁 - 地球所演講 ===
.ind-wrap03
    padding-top: 50px
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: 70%
        background: #eee
        +position(0,null,null,0,1)
    .main-cont
        position: relative
        z-index: 2
    .tit-box
        justify-content: $c
        &:after
            display: none

//=== 首頁 - 研究成果 ===
.earth-type-area
    margin: 0 0 35px
    +flex($c,$c)
.earth-type-box
    padding: 0 20px
    +flex($c,$c)
    position: relative
    +tcursor
    &:after
        content: ''
        display: block
        height: 16px
        width: 1px
        background: #999
        +position(50%,0,null,null,1)
        transform: translateY(-8px)
    &:last-child
        &:after
            display: none
    &:hover
        opacity: 0.8
    .icon
        margin-right: 5px
        width: 45px
        img
            width: 100%
    .txt
        color: $m-color

.earth-sw-area
    .swiper-slide
        height: auto
        box-shadow: 0 0 5px rgba(#000,0.3)
.arr-sw-area
    padding: 0 40px
    position: relative
    .swiper-button-prev,.swiper-button-next
        padding: 15px 10px
        width: auto
        height: auto
        margin-top: 0
        top: 28%
        background: none
        transition: .2s
        &:hover
            box-shadow: 0 0 5px rgba(#000,0.3)
            background: #fff
    .swiper-button-prev
        left: 0
    .swiper-button-next
        right: 0
        .icon
            transform: rotate(180deg)
.arr-sw
    padding: 10px
.earth-sw-box
    // width: 420px
    padding: 20px
    background: #fff
    // box-shadow: 0 0 5px rgba(#000,0.3)
.earth-sw-img
    padding-bottom: 60%
    margin: 0 0 10px
    position: relative
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,2)
.earth-sw-info
    .tit
        font-size: 18px
        color: $m-color
        line-height: 25px
        font-weight: 700
        margin: 0 0 10px
        +ctline(2)
    .cont
        font-size: 14px
        color: #999
        line-height: 20px
        +ctline(2)
.earth-sw-more
    margin: 15px 0 0
    padding: 15px 0 0
    border-top: 1px solid #ddd
    +flex($sb,$c)
    .name-box
        color: $m-color
        +flex($flex-s,$c)
        .icon
            width: 40px
            height: 40px
            border-radius: 50%
            margin-right: 10px
            overflow: hidden
            position: relative
            img
                +imgfull(1)
    .more
        color: $m-color
        +flex($flex-e,$c)
        .icon
            margin-left: 5px
            transition: .2s
        &:hover
            .icon
                transform: translateX(5px)

//=== 首頁 - 地球部落影片 ===
.ind-wrap04
    .main-cont
        position: relative
        &:after
            content: ''
            display: block
            width: 70%
            height: 50%
            +position(0,0,null,null,1)
            background: rgba(#CEB856,0.3)
    section
        position: relative
        z-index: 2
    .tit-box
        &:after
            display: none
        .more-btn
            margin: 0 50px 0 0
.tit-wrap04
    margin: 0 0 10px
    justify-content: $flex-e
.earth-video-sw
    padding-bottom: 55%
    margin: 0 0 10px
    position: relative
    box-shadow: 0 0 5px rgb(#000,0.3)
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
.earth-video-sw-info
    .tit
        color: $m-color
        line-height: 24px
        margin: 0 0 15px
        display: block
        +ctline(2)
        +tcursor
        &:hover
            color: darken($m-color,10%)
    .date-box
        font-size: 14px
        color: #999
        +flex($sb,$c)

//=== 內頁共用 ===
.page-cont
    max-width: 1200px
    margin: 0 auto
.page-tit-wrap
    .page-cont
        height: 200px
        position: relative
    h2
        font-size: 32px
        color: #fff
        text-shadow: 0 0 7px rgba(#000,0.75)
        font-weight: 700
        +position(null,null,20px,0,1)
.page-main-wrap
    padding-top: 20px
.bread-box
    font-size: 15px
    color: #000
    margin: 0 0 90px
    a
        color: #999
        &:hover
            color: $m-color
    span
        margin: 0 10px
    span.act
        color: $m-color
        margin: 0
.page-tit-box
    .tit
        font-size: 32px
        font-weight: 700
    .tit.line
        padding: 0 0 30px
        text-align: center
        position: relative
        &:after
            content: ''
            display: block
            width: 55px
            height: 1px
            background: #bbb
            +position(null,null,0,50%,1)
            transform: translateX(-50%)

.page-column-wrap
    +flex($sb,$flex-s)
.page-column-side
    width: 170px
    margin-top: 65px
    // margin-bottom: 30px
    padding: 20px 0 20px 0
    position: sticky
    top: 110px
    // &:after
    //     content: ''
    //     display: block
    //     width: 1px
    //     height: 100%
    //     +grad-side-line
    //     +position(0,0,null,null,1)
.page-column-cont
    padding: 0 0 40px
    width: calc(100% - 210px)
    .page-tit-box
        margin: 0 0 30px
.column-side-box
    margin: 0 0 20px
    padding: 20px 35px 20px 5px
    position: relative
    &:last-child
        margin: 20px 0 0
    &:after
        content: ''
        display: block
        width: 1px
        height: 100%
        +grad-side-line
        +position(0,0,null,null,1)
.column-side-hr
    border-bottom: 1px dashed #999
.column-side-list
    text-align: right
    li
        margin: 0 0 15px
        &:last-child
            margin: 0
    .item
        color: #999
        font-weight: 500
        position: relative
        +tcursor
        &:after
            content: ''
            display: block
            width: 0
            height: 0
            border-style: solid
            border-width: 7px 0 7px 14px
            border-color: transparent transparent transparent #F5BF58
            +position(50%,0,null,null,1)
            transform: translateY(-50%)
            opacity: 0
            transition: .2s
        &:hover
            color: $m-color
    .item.act
        color: $m-color
        &:after
            display: block
            right: -25px
            opacity: 1
.mb-select-area
    display: none
.mb-select-box
    position: relative
    &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        +grad-side-line2
        +position(null,null,0,0,1)
    &:before
        content: ''
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 10px 7px 0 7px
        border-color: #F5BF58 transparent transparent transparent
        +position(50%,10px,null,null,1)
        transform: translateY(-50%)
.mb-select
    color: $m-color
    font-weight: 700
    padding: 5px 10px
    position: relative
    z-index: 2
.mb-select-list
    width: 100%
    background: #fff
    border: 1px solid $m-color
    +position(33px,null,null,0,3)
    display: none
    .item
        color: #999
        font-weight: 700
        padding: 5px 10px
        border-bottom: 1px solid $m-color
        display: block
        +tcursor
        &:hover
            color: $m-color
        &:last-child
            border-bottom: none
.page-top-w
    position: relative
    background: #fafafa
    &:before
        content: ''
        display: block
        width: 100%
        height: 320px
        border-bottom: 1px solid #ddd
        background: #fff
        +position(0,null,null,0,1)
    .page-cont
        position: relative
        z-index: 2 

//=== 本所成員 ===
.page-mem
    background: url(../img/page_mem.jpg) center center/cover
.member-list
    margin: 0 0 50px
    +flex($flex-s,$flex-s)
    &:last-child
        margin: 0
    .no-data
        color: #999
        width: 100%
        text-align: center
        padding: 20px
.member-box
    width: calc((100% - 100px)/3)
    margin-right: 50px
    margin-bottom: 45px
    &:nth-child(3n)
        margin-right: 0
    &:hover
        opacity: 0.8
.member-img
    padding-bottom: 110%
    position: relative
    img
        +imgcover
.member-name-box
    color: #fff
    padding: 20px
    width: 100%
    +grad-b-bg
    +position(null,null,0,0,2)
    .tit
        font-size: 14px
    .name-box
        +flex($flex-s,$flex-e)
        span
            display: inline-block
        span.name
            font-size: 22px
            font-weight: 700
            margin-right: 3px
        span.en
            font-size: 12px
.member-info
    font-size: 14px
    padding: 10px 20px
    .info-box
        margin: 0 0 10px
        &:last-child
            margin: 0
    .tit
        color: #000
        font-weight: 700
        margin: 0 0 5px
    .cont
        color: #999

.member-sup-list
    margin: 0 0 50px
    +flex($flex-s,$flex-s)
    .no-data
        color: #999
        width: 100%
        text-align: center
        padding: 20px
.member-sup-box
    width: calc((100% - 80px)/3)
    margin-right: 40px
    margin-bottom: 15px
    position: relative
    &:nth-child(3n)
        margin-right: 0
    &:after
        content: ''
        display: block
        border-left: 1px solid #bbb
        border-bottom: 1px solid #bbb
        width: 50%
        height: 70%
        +position(null,null,0,0,1)
.member-sup-cont
    padding: 20px
    position: relative
    z-index: 2
    .office
        font-size: 14px
        color: #999
        margin: 0 0 3px
    .name-box
        font-weight: 700
        padding: 0 0 10px
        margin: 0 0 10px
        border-bottom: 1px solid #bbb
        +flex($flex-s,$flex-e)
        .name
            font-size: 22px
            margin-right: 3px
        .en
            font-size: 12px
.member-sup-info
    li
        font-size: 12px
        margin: 0 0 10px
        word-break: break-all
        +flex($sb,$c)
        &:last-child
            margin: 0
    .icon
        width: 25px
        img
            width: 100%
    .txt
        width: calc(100% - 30px)

//=== 成員內頁 ===
.member-cont-wrap
    +flex($sb,$flex-s)
.member-cont-img-box
    padding-bottom: 30px
    position: sticky
    top: 130px
.member-cont-img
    width: 320px
    height: 350px
    margin: 0 0 20px
    position: relative
    img
        +imgcover
// .member-cont-img-txt-box
//     width: 100%
//     +position(370px,null,null,0,1)
.member-cont-img-txt
    margin: 0 0 50px
    font-weight: 700
    display: none
    .office
        font-size: 14px
        margin: 0 0 10px
    .name
        font-size: 22px
.back-box
    .back-btn
        color: #fff
        width: 120px
        margin: 0 auto
        padding: 10px 15px
        border-radius: 50px
        background: $m-color
        +flex($c,$c)
        box-sizing: border-box
        i
            font-size: 20px
            +dvm
        .dot
            width: 8px
            height: 8px
            border-radius: 50px
            margin: 0 3px
            background: #fff
            display: inline-block
            transition: .2s
            +dvm
        span
            display: inline-block
            +dvm
        &:hover
            background: darken($m-color,10%)
.member-main-cont
    width: calc(100% - 370px)

.member-main-info-cont
    padding-top: 115px
    margin-bottom: 40px
    .member-cont-img
        display: none
.member-main-name-box
    margin: 0 0 30px
    .office
        font-size: 14px
        color: #999
        margin: 0 0 10px
    .name
        font-size: 22px
        font-weight: 700
        margin: 0 0 30px
    .cont
        font-size: 18px
.member-main-info
    +flex($sb,$c)
    .item
        width: calc((100% - 50px)/2)
        margin: 0 0 20px
        +flex($sb,$c)
        .icon
            width: 25px
            img
                width: 100%
        .txt
            font-size: 15px
            width: calc(100% - 35px)
        a
            color: #000
            &:hover
                color: $m-color

.member-main-tit
    font-size: 18px
    padding: 10px 15px
    border-bottom: 4px solid #000
    background: #eee
    +flex($sb,$c)
    .icon
        +tcursor
        &:hover
            opacity: 0.8
.member-main-txt
    padding: 20px

.edit-area
    h2.table-tit
        font-size: 22px
        font-weight: 600
        text-align: center
        &:after
            content: ''
            display: block
            width: 20px
            height: 2px
            background: #000
            margin: 20px auto
    p.def
        font-size: 15px
        text-align: justify
        line-height: 2
        margin: 0 0 30px
        // &:last-child
        //     margin: 0
    ul.def
        padding-left: 20px
        margin: 0 0 30px
        // &:last-child
        //     margin: 0
    p.def + ul.def
        margin: -30px 0 30px
    img.def
        max-width: 100%
        margin: 0 0 30px
    .tit.def
        font-size: 18
        color: $m-color
        font-weight: 700
        margin: 0 0 10px

.table-sty
    font-size: 15px
    line-height: 1.8
    // border: 1px solid #999
    background-color: #fff
    box-shadow: 10px 10px 0px #eee
    margin: 0 0 30px
    tr
        border-right: 1px solid #ddd
        transition: .3s
        &:nth-child(even)
            background: #fbfbfb
        &:hover
            background: #dceaed
    th,td
        padding: 10px
    th
        color: #fff
        text-align: center
        background: #247a7a
        border: 1px solid #247a7a
        border-bottom: 4px solid #136060
        padding: 5px 0
    td
        border-left: 1px solid #ddd
        border-bottom: 1px solid #ddd

.table-sty2
    font-size: 15px
    line-height: 1.8
    // border: 1px solid #999
    background-color: #fff
    box-shadow: 0 0 15px rgba(0,0,0,0.2)
    margin: 0 0 30px
    tr
        border-bottom: 1px dashed #ddd
        transition: .3s
        &:nth-child(even)
            background: #f5faff
        &:nth-child(odd)
            background: #eaf2fa
        &:nth-last-child(1)
            border-bottom: none
        &:hover
            background: #cbe0f5
            
    th,td
        padding: 10px
    th
        color: #fff
        text-align: center
        background: #394B81
        border: 1px solid #394B81
        border-bottom: 4px solid #0b205d
        padding: 5px 0
    td
        // border-left: 1px solid #ddd
        // border-bottom: 1px solid #ddd

.table-box
    padding: 30px
    background: #eee
    margin: 0 0 30px
.table-sty3
    font-size: 15px
    line-height: 1.8
    border: 10px solid #fff
    // border: 1px solid #999
    background-color: #fff
    // box-shadow: 0 0 15px rgba(0,0,0,0.4)
    
    tr
        border-bottom: 1px dashed #ddd
        &:nth-child(even)
            background: #f8f8f8
        &:nth-child(odd)
            // background: #eee
        &:nth-last-child(1)
            border-bottom: none
            
    th,td
        padding: 10px
    th
        color: #fff
        text-align: center
        background: #ababab
        border: 1px solid #ababab
        border-bottom: 4px solid #676767
        padding: 5px 0
    td
        // border-left: 1px solid #ddd
        // border-bottom: 1px solid #ddd

.more-hide
    padding-bottom: 50px
    .edit-area
        height: 800px
        overflow: hidden

//=== 關於我們 ===
.page-about
    background: url(../img/page_about.jpg) center center/cover
.page-w
    border-bottom: 1px solid #ddd
    background: #fff
    .page-tit-box
        margin: 0 0 20px
.page-gray
    background: #fafafa
.page-gray-b
    background: #eee
.page-black
    background: #000
.page-sup-tab-area
    margin: 40px 0 20px
    +flex($flex-s,$c)
    .tab
        font-size: 18px
        color: #999
        padding: 10px 20px
        border-radius: 50px
        margin-right: 15px
        background: #ddd
        +tcursor
        &:last-child
            margin-right: 0
        &:hover
            color: #fff
            background: $m-color
    .tab.act
        color: #fff
        background: $m-color
.page-sup-area
    padding: 40px 0
.page-sup-inner
    width: 100%
    border-top: 1px dashed #ddd
    padding-top: 10px
    margin-top: 10px 
    +flex($flex-s,$c)
    .stab
        color: #999
        margin-right: 5px
        margin-bottom: 5px
        border-radius: 50px
        padding: 5px 15px
        background: #eee
        display: inline-block
        +tcursor
        &:hover
            color: #fff
            background: #F27C18
    .stab.act
        color: #fff
        background: #F27C18
        
.about-wrap
    +flex($sb,$flex-s)
.about-video-cont,.about-txt-cont
    width: calc((100% - 50px)/2)
.page-sup-tit
    font-size: 22px
    letter-spacing: 2px
    font-weight: 600
.page-sup-en-tit
    font-family: 'PFDin-font'
    font-weight: 500
    color: #999
    font-size: 23px
    letter-spacing: 1px
.about-video-box
    padding: 0 0 80px
    margin: 0 0 60px
    border-bottom: 1px solid #ddd
    &:last-child
        margin: 0
        border-bottom: none
    .page-sup-tit
        margin: 0 0 20px
        span
            color: #F27C18
            display: inline-block
            margin: 0 10px
    .video-box
        padding-bottom: 55%
        position: relative
        iframe
            width: 100%
            height: 100%
            +position(0,null,null,0,1)
.about-txt-cont
    p
        line-height: 2
        letter-spacing: 1.2px
        text-align: justify
        margin: 0 0 30px

//=== 發展沿革 ===
.develop-main-area
    position: relative

.develop-page-tit
    margin: 0 0 40px
    .page-sup-tit
        margin: 0 0 10px
        text-align: center
    .develop-p
        line-height: 1.5
        text-align: center

.develop-main-box
    margin: 0 0 65px
    position: relative
    // &:after
    //     content: ''
    //     display: block
    //     width: 16px
    //     height: 70px 
    //     +position(168px,null,null,50%,1)
    //     transform: translateX(-50%)
    //     +grad-dev-line
.develop-main
    font-family: 'PFDin-font'
    font-size: 62px
    color: #fff
    width: 170px
    height: 170px
    line-height: 158px
    font-weight: 700
    letter-spacing: 1px
    text-align: center
    margin: 0 auto
    border-radius: 50%
    border: 10px solid #F5BF58
    background: #F27C18
    position: relative
    &:after
        content: ''
        display: block
        width: 16px
        height: 70px 
        +position(158px,null,null,50%,1)
        transform: translateX(-50%)
        +grad-dev-line

.develop-box
    margin: 0 0 65px
    position: relative
    // &:after
    //     content: ''
    //     display: block
    //     width: 16px
    //     height: 70px 
    //     +position(118px,null,null,50%,1)
    //     transform: translateX(-50%)
    //     background: #778AC2
    &:last-child
        margin: 0 0 200px
        .develop
            &:after
                height: 150px
                +grad-dev-line-bot
        
.develop
    font-family: 'PFDin-font'
    font-size: 36px
    color: #fff
    font-weight: 700
    letter-spacing: 1px
    width: 120px
    height: 120px
    line-height: 106px
    text-align: center
    margin: 0 auto
    border-radius: 50%
    border: 10px solid #778AC2
    background: $m-color
    // position: relative
    position: relative
    &:after
        content: ''
        display: block
        width: 16px
        height: 70px 
        +position(108px,null,null,50%,1)
        transform: translateX(-50%)
        background: #778AC2
.develop-info-box
    width: calc((100% - 160px)/2)
    padding: 0 20px
    border-left: 5px solid #000
    +position(50%,0,null,null,1)
    transform: translateY(-50%)
    .tit
        font-size: 18px
        letter-spacing: 1px
        font-weight: 600
        margin: 0 0 10px
    .info
        color: #999
        line-height: 1.5
// .develop-info-box.right
.develop-box
    &:nth-child(even)
        .develop-info-box
            text-align: right
            border-left: none
            border-right: 5px solid #000
            right: auto
            left: 0

//=== 主管簡介 ===
.director-main-box
    padding:30px 0 70px
    border-bottom: 1px solid #ddd
    .director-box
        justify-content: $c
    .director-img
        width: 285px
        height: 390px
        margin-right: 30px
        &:before
            width: 140px
        &:after
            width: 70px
    .director-info
        width: 450px
    .director-name
        .tit
            font-size: 32px
        span
            font-size: 22px
    .director-info-bot
        +flex($flex-s,$c)
        .director-info-box
            &:first-child
                width: 100%
            &:nth-child(2)
                margin: 0 35px 0 0
    .director-txt
        .tit
            font-size: 20px
.director-sup-box
    padding: 70px 0
    border-bottom: 1px solid #ddd
    +flex($sb,$flex-s)
    .director-box
        width: calc((100% - 60px)/2)
.director-box
    +flex($sb,$str)
.director-img
    width: 250px
    height: 350px
    position: relative
    img
        width: 100%
        height: 100%
        object-fit: cover
    &:before,&:after
        content: ''
        display: block
        height: 25px
        background: #fafafa
        position: absolute
        z-index: 2
    &:before
        width: 125px
        top: 0
        right: 0
    &:after
        width: 60px
        bottom: 0
        left: 0
.director-info
    width: calc(100% - 270px)
    padding-top: 20px
    +flexs($flex-s,$sb)
.director-name
    margin: 0 0 30px
    +flex($flex-s,$flex-e)
    .tit
        font-size: 26px
        font-weight: 700
        border-bottom: 1px solid #000
        margin-right: 10px
    span
        font-size: 18px
.director-txt
    .tit
        font-weight: 700
        span
            font-weight: initial
.director-info-box
    margin: 0 0 20px
    &:last-child
        margin: 0
    .tit
        font-size: 14px
        line-height: 14px
        color: #fff
        padding: 5px 10px
        border-radius: 30px
        background: #000
        display: inline-block
.director-list
    max-width: 350px
    margin: 0 auto
    padding: 60px 0
    .title
        font-size: 22px
        font-weight: 700
        border-bottom: 2px solid #000
        margin: 0 0 50px
        display: inline-block
    .director-info-box
        +flex($sb,$c)
        .tit
            width: 160px
            text-align: center
        .cont
            width: calc(100% - 170px)

//=== 聯絡我們 ===
.page-contact-tit-box
    margin: 0 0 30px
.page-contact-info-box
    margin: 0 0 100px
    +flex($flex-s,$flex-s)
.page-contact-info-list
    padding: 0 20px
    border-left: 5px solid $m-color
    margin-right: 30px
    li
        padding: 3px 0

.page-contact-input-area
    padding: 0 70px
    margin: 0 0 100px
    +flex($sb,$flex-s)
    .note
        font-size: 15px
        color: #DD4545
        width: 100%
        margin: 0 0 30px
.page-contact-column
    width: calc((100% - 70px)/2)
.page-input-box
    padding: 10px 0
    margin: 0 0 30px
    border-bottom: 1px solid #000
    +flex($sb,$c)
    label
        font-size: 15px
        width: 90px
        display: block
    &:last-child
        margin: 0
.page-input-box.txtarea
    label
        width: 100%
        margin: 0 0 10px
    .page-input
        width: 100%
    textarea
        font-size: 15px
        width: 100%
        padding: 0 10px
        height: 150px
        resize: none
        background: transparent
.page-input
    width: calc(100% - 100px)
    position: relative
    label.error
        font-size: 13px
        color: #fff
        width: auto
        padding: 5px 10px
        background: #DD4545
        +position(50%,0,null,null,2)
        transform: translateY(-50%)
.page-input-sty
    font-size: 15px
    width: 100%
    padding-right: 20px
    padding: 5px 0
    background: transparent
.page-input.page-sel
    position: relative
    &:after
        content: ''
        display: block
        width: 0
        height: 0
        border-style: solid
        border-width: 8px 5px 0 5px
        border-color: #000 transparent transparent transparent
        +position(50%,10px,null,null,2)
        transform: translateY(-50%)
.page-sel-sty
    font-size: 15px
    width: 100%
    padding: 5px 20px 5px 0
    background: transparent
        
.page-btn-area
    width: 100%
    margin: 45px 0 0
    +flex($flex-e,$c)
.page-btn-submit
    font-size: 16px
    color: #fff
    width: calc((100% - 70px)/2)
    padding: 12px
    text-align: center
    border-radius: 25px
    background: $m-color
    position: relative
    +tcursor
    &:hover
        background: darken($m-color,10%)
    input
        width: 100%
        height: 100%
        +position(0,null,null,0,2)
        opacity: 0
        cursor: pointer

//=== 研究領域 ===
.study-tit
    font-size: 18px
    font-weight: 700
.study-txt
    padding: 30px
    p
        line-height: 2
        margin: 0 0 30px
        &:last-child
            margin: 0
    a
        color: #F27C18
        text-decoration: underline
        &:hover
            color: lighten(#F27C18,10%)

.study-result-area
    .page-tit-box
        color: #fff
        margin: 0 0 50px
.study-result-list
    +flex($flex-s,$str)
    .earth-sw-box
        width: calc((100% - 60px)/3)
        margin-right: 30px
        margin-bottom: 40px
        &:nth-child(3n)
            margin-right: 0

//=== 研究領域內頁 ===
.study-author
    margin: 10px 0 0
    +flex($flex-s,$c)
    .icon
        width: 40px
        height: 40px
        border-radius: 50%
        margin-right: 10px
        overflow: hidden
        position: relative
        img
            +imgfull(1)
    .name
        font-size: 15px
        color: $m-color
        display: inline-block
    a.name
        &:hover
            color: darken($m-color,10%)

//=== 資訊服務 ===
.info-server-area
    .page-tit-box
        margin: 0 0 60px

.info-server-list
    +flex($flex-s,$str)
.info-server-box
    width: calc((100% - 160px)/3)
    margin-right: 80px
    margin-bottom: 80px
    &:nth-child(3n)
        margin-right: 0
    .tit
        font-size: 22px
        font-weight: 700
        margin: 0 0 15px
    .cont
        font-size: 15px
        color: #999
        line-height: 1.5
        margin: 20px 0
.icon-link-box
    +flex($sb,$c)
    .icon
        width: 25px
        img
            width: 100%
    .link
        width: calc(100% - 30px)
    a
        color: #F27C18
        text-decoration: underline
        word-break: break-all
        &:hover
            color: lighten(#F27C18,10%)
.info-server-img
    padding-bottom: 70%
    position: relative
    &:before,&:after
        content: ''
        display: block
        height: 11%
        position: absolute
        background: #fafafa
        z-index: 2
    &:before
        width: 50%
        top: 0
        right: 0
    &:after
        width: 25%
        left: 0
        bottom: 0
    img
        +imgcover

//=== 相關連結 ===
.web-link-area
    .page-tit-box
        margin: 0 0 60px
    
.web-link-list
    margin: 0 0 40px
    +flex($flex-s,$c)
.web-link-box
    width: calc((100% - 160px)/3)
    margin-right: 80px
    margin-bottom: 60px
    &:nth-child(3n)
        margin-right: 0
    .tit
        font-size: 22px
        font-weight: 700
        margin: 0 0 10px
.web-link-list.center
    justify-content: $c
    .web-link-box
        &:nth-child(2n)
            margin-right: 0

//=== 最新消息 ===
.page-news
    background: url(../img/page_news.jpg) center center/cover
.page-sup-tab-area.orange
    .tab
        &:hover
            background: #F27C18
    .tab.act
        background: #F27C18

.news-list
    border-bottom: 1px solid #ddd
    +flex($sb,$flex-s)
.news-box
    width: calc((100% - 30px)/2)
    margin-right: 30px
    margin-bottom: 60px
    +flex($sb,$flex-s)
    &:nth-child(2n)
        margin-right: 0
    &:hover
        opacity: 0.8
.news-img
    width: 160px
    padding-bottom: 17.95%
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    position: relative
    &:before,&:after
        content: ''
        display: block
        height: 15%
        background: #FAFAFA
        position: absolute
        z-index: 2
    &:before
        width: 25%
        top: 0
        right: 0
    &:after
        width: 50%
        left: 0
        bottom: 0
    img
        +imgcover
.news-cont
    width: calc(100% - 180px)
    .news-tag
        padding: 5px 10px
        display: inline-block
    .date
        +fontDIN
        font-size: 14px
        font-weight: 700
        color: #bbb
        margin: 15px 0 5px
    .tit
        color: #000

.news-cont.earth-cont
    .date
        +flex($sb,$c)

//=== 頁碼 ===
.pagination-box
    margin: 45px 0 0
    +flex($c,$c)
    .page
        margin: 0 5px
    .page.center
            height: 13px
            line-height: 5px
    a.page
        color: #000
        width: 26px
        height: 26px
        line-height: 26px
        text-align: center
        font-weight: 700
        border-radius: 50%
        &:hover
            color: #fff
            background: #000
    a.act
        color: #fff
        background: #000
.pagination-select-box
    margin: 40px 0 20px
    +flex($c,$c)
    .txt
        font-size: 15px
    .select
        width: 70px
        margin: 0 3px
    .page-sel
        color: #000
        font-weight: 700
        font-size: 14px
        width: 100%
        padding: 5px 15px 5px 5px
        border: 1px solid #bbb
        background: url(../img/icon_page_arr.svg) no-repeat right 5px center, transparent

//=== 最新消息內頁 ===
.page-w
    .news-page-tit
        margin: 0 0 120px
.news-area
    padding-bottom: 60px
    border-bottom: 1px solid #ddd
    +flex($sb,$flex-s)
.news-area + .back-box
    margin: 60px 0
    text-align: center
.news-banner
    width: 500px
    transform: translateY(-100px)
    position: sticky
    top: 189px //要加上translate的 -100
    img
        width: 100%
.news-txt-cont
    width: calc(100% - 550px)
.news-txt-tit-box
    margin: 0 0 60px
    +flex($flex-s,$c)
    .news-tag,.date
        font-size: 14px
    .news-tag
        padding: 5px 10px
        margin-right: 10px
    .date
        +fontDIN
        font-size: 18px
        color: #bbb
        font-weight: 600
        margin-top: 3px
        // margin: 3px 0 0 10px
    .tit
        font-size: 22px
        letter-spacing: 2px
        font-weight: 700
        width: 100%
        margin: 10px 0 0

a.news-def
    color: #F27C18
    text-decoration: underline
    word-break: break-all
    &:hover
        color: lighten(#F27C18,10%)

.doc-area
    .tit
        font-weight: 700
        padding: 10px 0
        margin: 0 0 10px
        border-bottom: 1px solid #ddd
    .list
        li
            margin: 0 0 20px
            +flex($flex-s,$c)
            &:last-child
                margin: 0
        .icon
            width: 20px
            height: 26px
            margin-right: 10px
        a
            color: #000
            transition: .2s
            &:hover
                color: $m-color
        .note
            color: #bbb
            margin-left: 10px
        .icon.pdf
            background: url(../img/icon_pdf.svg) no-repeat center center/contain
        .icon.odt
            background: url(../img/icon_odf.svg) no-repeat center center/contain
        .icon.doc
            background: url(../img/icon_doc.svg) no-repeat center center/contain
        .icon.xsl
            background: url(../img/icon_xsl.svg) no-repeat center center/contain
        .icon.csv
            background: url(../img/icon_csv.svg) no-repeat center center/contain
        .icon.zip
            background: url(../img/icon_zip.svg) no-repeat center center/contain
        .icon.ppt
            background: url(../img/icon_ppt.svg) no-repeat center center/contain

//=== 地球部落內頁 ===
.page-earth-area
    width: 100%
    max-width: 840px
    margin: 0 auto
    .date
        +fontDIN
        font-size: 14px
        color: #bbb
        margin: -90px 0 25px
        +flex($sb,$c)
    .tit
        font-size: 22px
        font-weight: 700
        margin: 0 0 60px
.page-earth-video
    padding-bottom: 55%
    position: relative
    top: -100px
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,2)

//=== 學術出版 ===
.academic-year-box
    margin: 50px 0 30px
    +flex($flex-s,$flex-e)
    .tit
        font-size: 18px
        color: #999
        margin-right: 20px
.academic-year-sel
    +fontDIN
    font-size: 52px
    padding: 0 50px 0 5px
    border-bottom: 1px solid #000
    background: url(../img/icon_ayear_arr.svg)  no-repeat right 10px center
.academic-list
    list-style-type: decimal
    padding-left: 30px
    li
        line-height: 1.6
        margin-bottom: 20px
        padding-bottom: 20px
        border-bottom: 1px dashed #999
        &:last-child
            margin-bottom: 0
        b
            font-weight: bold
            text-decoration: underline
        a
            color: #F27C18
            text-decoration: underline
            word-break: break-all
            &:hover
                color: darken(#F27C18,10%)

//=== 演講 ===
.speech-banner-area
    padding-bottom: 60px
    border-bottom: 1px solid #bbb
    +flex($sb,$flex-s)
    .speech-banner-box
        width: 50%
        .ind-main-earth-box
            width: 100%
        &:first-child
            padding-right: 50px
            border-right: 1px solid #bbb
        &:last-child
            padding-left: 50px
.speech-list
    padding: 50px 0
    border-bottom: 1px solid #ddd
.speech-box
    margin: 0 0 50px
    +flex($sb,$c)
    &:last-child
        margin: 0
    .ind-earth-box
        width: calc(100% - 210px)
        padding-right: 20px
        border-right: 1px solid #999
        margin: 0
        box-sizing: border-box
    .add-date-box
        padding: 0 20px
        .add-date
            padding: 10px 20px
            border-radius: 50px

//=== 演講內頁 ===
.speech-note-list
    font-size: 15px
    margin: 0 0 30px
    .item
        margin: 0 0 5px
        &:last-child
            margin: 0
    span
        color: #12568D
.add-date-page-box
    margin: 50px 0 0
    .add-date
        width: auto
        padding: 10px 20px
        border-radius: 50px
        display: inline-block

//=== 專題報導列表 ===
.topic-cont
    .author
        font-size: 14px
        color: #bbb
        margin: 5px 0 0
        span
            color: $m-color
            font-weight: 700
            margin-left: 5px

//=== 專題報導內頁 ===
.topic-author
    font-size: 15px
    color: #bbb
    margin: 10px 0 0
    .author
        color: $m-color
        display: inline-block
        margin-left: 10px
        &:hover
            color: darken($m-color,10%)

//=== 研究計畫 ===
.page-plan
    background: url(../img/page_plan.jpg) center center/cover
    h2
        span.block
            display: inline-block
            margin: 0 0 5px
            padding: 5px 10px
            background: rgba(#000,0.7)
        span
            display: block
.plan-info-area
    padding: 40px 0
    p
        font-size: 18px
        max-width: 970px
.plan-info-cont
    margin: 100px 0 0
    +flex($c,$flex-s)
.plan-info-box
    width: 25%
    text-align: center
    .tit
        font-size: 22px
        +flex($c,$c)
        .block
            color: #fff
            margin-right: 10px
            position: relative
            span
                position: relative
                z-index: 2
            &:before
                content: ''
                width: 42px
                height: 42px
                background: $m-color
                transform: rotate(-45deg)
                +position(-4px,null,null,0,1)
        .line
            color: $m-color
            border-bottom: 3px solid $m-color
    .icon
        width: 80px
        margin: 40px auto 30px
        img
            width: 100%
    .txt
        font-size: 15px
.page-plan-sw-area
    // padding-bottom: 50px
    .tit-box
        margin: 30px auto
        
.plan-more-info-area
    .tit-box
        justify-content: $c
        &:after
            display: none
.plan-more-info-cont
    margin-bottom: 100px
.plan-more-info
    font-size: 15px
    text-align: center
    margin: 0 0 30px
    &:last-child
        margin: 0
    .tit
        font-weight: 700
    .txt
        color: #555
    a.txt
        text-decoration: underline
        display: inline-block
        &:hover
            color: darken(#555,10%)

.plan-about-box
    max-width: 760px
    margin: 0 auto
    padding: 50px 40px
    background: #F7F7F7
    position: relative
    &:before,&:after
        content: ''
        display: block
        height: 30px
        background: #fff
    &:before
        width: 25%
        +position(0,null,null,0,1)
    &:after
        width: 50%
        +position(null,0,0,null,1)
.plan-about
    text-align: center
    margin: 0 0 50px
    &:last-child
        margin: 0
    .tit
        font-size: 22px
        color: $m-color
        font-weight: 700
        margin: 0 0 15px
    .txt
        color: #555

.plan-mem-area
    margin: 0 0 100px
.plan-mem-tit
    text-align: center
    margin: 0 0 30px
    .tit
        font-size: 22px
        color: $m-color
        font-weight: 700
        margin: 0 0 30px
.plan-mem-group
    text-align: center
    .tit
        font-size: 18px
        font-weight: 700
        margin: 0 0 30px
.plan-mem-box
    +flex($c,$c)
.plan-mem
    margin: 0 25px
    .img-box
        width: 70px
        height: 70px
        margin: 0 auto 15px
        border-radius: 50%
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover

//=== 研究計畫 最新消息 ===
.plan-news-list
    max-width: 820px
    margin: 0 auto
.plan-news-list-box
    color: #000
    padding: 20px 0
    border-bottom: 1px solid #ddd
    +flex($sb,$c)
    &:hover
        background: #eee
    &:last-child
        border-bottom: none
    .title-box
        width: calc(100% - 80px)
        +flex($flex-s,$c)
        .tit
            width: calc(100% - 30px)
            margin-left: 10px
    .date
        font-size: 14px
        color: #bbb
        font-weight: 700
        +fontDIN
.plan-news-txt-cont
    width: 650px
    margin: 0 auto
    .news-txt-tit-box
        .date
            margin: 0

//=== 活動紀錄 ===
.event-list
    margin-top: -100px
    +flex($flex-s,$flex-s)
.event-box
    width: calc((100% - 120px)/3)
    color: #000
    margin: 0 60px 70px 0
    &:hover
        img
            transform: scale(1.05)
    &:nth-child(3n)
         margin: 0 0 60px
.event-img
    margin: 0 0 20px
    padding-bottom: 67%
    position: relative
    overflow: hidden
    img
        width: 100%
        height: 100%
        object-fit: cover
        +position(0,null,null,0,1)
        transition: .2s
    &:before,&:after
        content: ''
        height: 25px
        background: #fff
        display: block
        position: absolute
        z-index: 2
    &:before
        width: 50%
        top: 0
        right: 0
    &:after
        width: 25%
        bottom: 0
        left: 0
.event-tit
    font-size: 18px
    font-weight: 700
    margin: 0 0 10px
.event-txt
    margin: 0 0 10px
    +ctline(2)
.event-date
    font-family: 'PFDin-font'
    color: #999

//=== 活動紀錄內頁 ===
.event-page-area
    padding-bottom: 50px
    border-bottom: 1px solid #ddd
    +flex($flex-s,$flex-s)
.event-page-img
    width: 630px
    margin-top: -100px
    img
        width: 100%
.event-page-cont
    width: calc(100% - 630px)
    padding: 0 50px
    >div
        &:last-child
            margin: 0
    .cont
        margin: 0 0 15px
        line-height: 1.7
    .link-box
        margin: 0 0 10px
        a
            color: #F27C18
            text-decoration: underline
            &:hover
                color: darken(#F27C18,10%)
.event-video-area
    padding: 50px 0 0
    +flex($flex-s,$flex-s)
.event-video-box
    width: calc((100% - 60px)/2)
    margin: 0 60px 50px 0
    &:nth-child(2n)
        margin: 0 0 50px 0
.event-video
    width: 100%
    padding-bottom: 55%
    position: relative
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
.event-photo-area
    .title
        font-size: 20px
        font-weight: 700
        margin: 0 0 30px
.event-photo-list
    border-bottom: 1px solid #ddd
    +flex($flex-s,$flex-s)
.event-photo-list + .back-box
    margin: 60px 0
    text-align: center
.event-photo-box
    width: calc((100% - 120px)/3)
    margin: 0 60px 60px 0
    &:nth-child(3n)
        margin: 0 0 60px 0
    .img-box
        padding-bottom: 67%
        border-radius: 8px
        margin: 0 0 20px
        overflow: hidden
        position: relative
        display: block
        img
            width: 100%
            height: 100%
            object-fit: cover
            +position(0,null,null,0,1)
        .view-btn
            color: #fff
            width: 230px
            text-align: center
            border-radius: 6px
            padding: 15px
            border: 1px solid #fff
            +position(50%,null,null,50%,3)
            transform: translate(-50%,-50%)
            opacity: 0
            transition: .2s
        &:before
            content: ''
            display: block
            opacity: 0
            background: rgba(#000,0.4)
            +position(0,0,0,0,2)
            transition: .2s
        &:hover
            .view-btn,&:before
                opacity: 1
    .tit
        font-size: 18px
        font-weight: 700

//=== 相簿列表 ===
.event-album-area
    padding: 50px 0
    .title-box
        font-size: 18px
        font-weight: 700
        margin: 0 0 30px
        +flex($sb,$c)
        .tit
            width: calc(100% - 90px)
        a
            color: #000
.event-album-list
    margin: 0 0 70px
    +flex($flex-s,$c)
    a
        width: 25%
        padding-bottom: 19%
        display: block
        position: relative
        img
            width: 100%
            transition: .2s
            +imgfull(1)
        &:hover
            img
                opacity: 0.8

//=== google 搜尋引擎 ===
.gsc-control-cse
    background-color: #fafafa !important
    border: 1px solid #fafafa !important
.gsc-webResult.gsc-result
    border: none !important
    border-bottom: 1px solid #eee !important

//=== 本院位置及交通資訊 ===
.location-area
    margin-top: -100px
.google-map
    height: 600px
    margin: 0 0 80px
    position: relative
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,1)
.map-info-box
    margin: 0 0 80px
    .tit
        font-size: 22px
        font-weight: 700
        margin: 0 0 30px
    .cont
        font-size: 18px
        line-height: 1.5
    .tit-s
        font-weight: 700

//=== 網站導覽 ===
.sitemap-area
    +flex($sb,$flex-s)
.sitemap-cont
    width: 75%
    +flex($sb,$flex-s)
    .sitemap-box
        width: 20%
        margin-right: calc(20%/4)
.sitemap-side
    width: 20%
.sitemap-box
    margin-bottom: 80px
    .tit
        font-size: 18px
        font-weight: 700
        margin: 0 0 15px
    .list
        font-size: 15px
        padding-left: 15px
        border-left: 5px solid #12568D
        li
            padding: 7px 0
            border-bottom: 1px solid #bbb
            a
                color: #000
                &:hover
                    color: #12568D
            &:last-child
                border-bottom: none

//=== footer ===
.footer-wrap
    background: #303544
    position: relative
footer
    max-width: 1200px
    margin: 0 auto
.footer-link-area
    padding: 100px 0 40px
    border-bottom: 1px solid #505B7C
    +flex($sb,$flex-s)
.footer-box
    width: 95px
    .tit
        font-size: 18px
        color: #fff
        margin: 0 0 20px
    .list
        font-size: 13px
        li
            margin: 0 0 10px
            &:last-child
                margin: 0
        a
            color: #fff
            display: inline-block
            &:hover
                color: #ddd
.footer-info-area
    padding: 30px 0
    border-bottom: 1px solid #505B7C
    +flex($sb,$flex-e)
.footer-info-box
    .tit
        font-size: 15px
        color: #fff
        font-weight: 700
        margin: 0 0 15px
    .list
        margin: 0 0 10px
        li
            color: #fff
            margin: 0 0 10px
            &:last-child
                margin: 0
    .local-box
        margin: 0 0 35px
        +flex($flex-s,$c)
        .icon
            margin-right: 5px
        a
            color: #fff
            display: inline-block
            text-decoration: underline
            &:hover
                color: #ddd
    .logo
        display: inline-block
        &:hover
            opacity: 0.8
.footer-info-logo
    width: 230px
    +flex($flex-e,$flex-e)
    .txt
        margin: 0 0 10px
        a
            font-size: 15px
            color: #fff
            display: inline-block
            padding-bottom: 2px
            border-bottom: 1px solid #fff
            &:hover
                opacity: 0.8
    a.logo
        margin: 0 0 15px
        display: inline-block
        &:hover
            opacity: 0.8
.copyright
    font-size: 12px
    color: #8795BD
    text-align: right
    padding: 20px 0
.gotop
    width: 60px
    height: 60px
    position: fixed
    bottom: -100px
    right: 10px
    z-index: 15
    transition: .2s
    img
        width: 100%
.gotop-fix
    position: absolute






.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

//== 編輯器 ==
.edit-area
    p
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
    strong
        font-weight: bold
    em
        font-style: italic
    h1
        font-size: 2em
        margin-block-start: 0.67em
        margin-block-end: 0.67em
    h2
        font-size: 1.5em
        margin-block-start: 0.83em
        margin-block-end: 0.83em
    h3
        font-size: 1.17em
        margin-block-start: 1em
        margin-block-end: 1em
    h4
        margin-block-start: 1.33em
        margin-block-end: 1.33em
    h5
        font-size: 0.83em
        margin-block-start: 1.67em
        margin-block-end: 1.67em
    h6
        font-size: 0.67em
        margin-block-start: 2.33em
        margin-block-end: 2.33em
    h1,h2,h3,h4,h5,h6
        font-weight: normal
        line-height: 1.2
        display: block
        margin-inline-start: 0px
        margin-inline-end: 0px
    ol
        display: block
        list-style-type: decimal
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    ul
        display: block
        list-style-type: disc
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    li
        display: list-item
        text-align: -webkit-match-parent
    img
        max-width: 100%
        // margin: 0 auto !important
        height: auto !important

//== 自定義滾軸設定 ==
.mCSB_scrollTools .mCSB_draggerRail
    width: 12px
    background: #eee
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    width: 12px
    background: #ccc
    &:hover
        background: #ccc
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
    background: #ccc

//RWD 手機版css 
@import m_sty