@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
  transition: 0.2s;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

@font-face {
  font-family: "PFDin-font";
  src: url(../webfonts/PFDinTextCondPro-Regular.ttf);
}
@font-face {
  font-family: "PFDin-font-bold";
  src: url(../webfonts/PFDinTextCondPro-Bold.ttf);
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: -apple-system, "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  font-size: 16px;
  color: #000;
}

div {
  box-sizing: border-box;
}

input, textarea, select {
  font-family: -apple-system, "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  color: #000;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box-area {
  width: 100%;
  margin: 0 0 5px;
  text-align: left;
}
.input-box-area label {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}
.input-box-area p {
  color: #fff;
  line-height: 40px;
  display: block;
}

.input-box {
  position: relative;
}
.input-box label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0;
  background: #e53b57;
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 2;
  transform: translateY(-50%);
}

.input-sty {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}
.input-sty::placeholder {
  color: rgba(249, 182, 1, 0.8);
}

.label-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item-wrap label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  background: #e53b57;
}

.input-tit {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}

.label-item {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item span {
  font-size: 86%;
  margin: 0 0 0 5px;
}

.radio-box {
  width: 14px;
  height: 14px;
  padding: 2px 0 0 2px;
  border: 1px solid #009aff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #009aff;
  display: block;
}

input[type=radio] {
  opacity: 0;
}

.check-box {
  width: 13px;
  height: 13px;
  border: 2px solid #009aff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-size: 15px;
  color: #009aff;
  transform: translateY(-1px);
  display: block;
}

.input-sel {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #329a04;
}
.switch input:checked + .slider:after {
  content: "on";
  right: 35px;
}
.switch input:focus + .slider {
  box-shadow: 0 0 5px #111111;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50px;
  padding: 3px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 30px;
  left: 3px;
  bottom: 3px;
}
.slider:after {
  position: absolute;
  content: "off";
  color: #ffffff;
  line-height: 25px;
  padding: 0 0 0 5px;
  right: 15px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(51, 51, 51) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

.pasw {
  -webkit-text-security: disc;
}

.btn-area {
  text-align: center;
  margin: 15px 0 0;
}

.btn {
  font-size: 125%;
  color: #fff;
  font-weight: 500;
  width: 100px;
  padding: 5px 10px;
  background: #f9b601;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  position: relative;
}
.submit-btn input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.sub-filter-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.sub-filter-btn input {
  position: absolute;
}
.sub-filter-btn label {
  color: #d89f1f;
  border-radius: 10px;
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.sub-filter-btn label:hover {
  color: #fff;
}
.sub-filter-btn input[type=radio]:checked + label {
  color: #fff;
  background: #d89f1f;
}

.check-box2 {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border: 2px solid #d1c0a5;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box2::after {
  content: "\f00c";
  font-size: 15px;
  color: #d1c0a5;
  transition: 0.2s;
}

.check-box-c {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

input[type=radio]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ex-inp-wrap {
  margin: 10px 20px;
  border: 1px solid #009aff;
  border-radius: 5px;
}

.ex-tit {
  font-size: 18px;
  color: #fff;
  padding: 5px;
  background: #009aff;
}

.ex-box {
  padding: 5px;
}
.ex-box p {
  margin: 5px 0;
}
.ex-box i {
  color: #009aff;
}

.table-sty {
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid #999;
}
.table-sty th {
  color: #fff;
  text-align: center;
  background: #394B81;
  padding: 3px 0;
}

.ht {
  color: transparent;
  line-height: 0;
  display: none;
}

.header-wrap {
  top: 0;
  position: sticky;
  z-index: 20;
}

.header-area {
  position: relative;
}

.header-cont {
  padding: 12px 20px 0px;
  border-bottom: 4px solid #394B81;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 22;
}

.logo {
  width: 180px;
}
.logo h1 {
  height: 0;
  opacity: 0;
}
.logo img {
  width: 100%;
}

.nav-area {
  width: calc(100% - 180px);
}

.nav-top {
  width: 100%;
  margin: 6px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav-top a {
  font-size: 15px;
  color: #000;
  line-height: 1;
  margin: 0 0 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav-top a .icon {
  margin-right: 5px;
}
.nav-top a:hover {
  color: #394B81;
}

.nav-bot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav-bot a {
  display: inline-block;
}
.nav-bot span {
  display: inline-block;
}
.nav-bot a {
  color: #999;
}
.nav-bot a:hover {
  color: #000;
}
.nav-bot a.act {
  color: #000;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lang-box {
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 15px;
  padding: 0 0 15px;
}
.lang-box .icon {
  margin-right: 3px;
}
.lang-box span {
  margin: 0 5px;
}
.lang-box i {
  font-weight: 500;
}

.hamburger {
  padding: 0;
  margin-left: 10px;
  display: none;
}

.hamburger-box {
  margin: 3px 0 0;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  height: 3px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
nav .item {
  color: #000;
  padding: 0 0 15px;
  position: relative;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
nav .item:hover {
  color: #394B81;
}
nav .item span {
  line-height: 1;
  padding: 0 20px 2px;
  border-right: 2px solid #000;
}
nav .item:last-child span {
  border-right: none;
}
nav .item.more:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #394B81 transparent transparent transparent;
  position: absolute;
  bottom: -3px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  transition: 0.2s;
  opacity: 0;
}
nav .item.more:hover:after {
  bottom: -13px;
  opacity: 1;
}
nav .item.more.act:after {
  bottom: 3px;
  opacity: 1;
}

.mb-nav {
  font-size: 14px;
  margin: 10px 0 0;
  padding: 10px 10px 5px;
  display: block;
  background: #394B81;
  display: none;
}
.mb-nav a {
  color: #fff;
  margin-right: 15px;
  margin-bottom: 5px;
  display: inline-block;
}
.mb-nav a:last-child {
  margin-right: 0;
}
.mb-nav a:hover {
  color: #ccc;
}

.sup-nav-area {
  width: 100%;
  padding: 5px 10px 10px;
  background: rgba(57, 75, 129, 0.8);
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 21;
}

.sup-nav-box {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.sup-nav-box a {
  color: #fff;
  margin: 0 10px;
  line-height: 24px;
  display: inline-block;
}
.sup-nav-box a:hover {
  color: #ddd;
}

.sup-nav-box02 {
  margin-right: 548px;
}

.sup-nav-box03 {
  margin-right: 515px;
}

.sup-nav-box04 {
  margin-right: 255px;
}

.sup-nav-box05 {
  margin-right: 215px;
}

.sup-nav-box06 {
  margin-right: 278px;
}

.sup-nav-box07 {
  margin-right: 200px;
}

.sup-nav-box08 {
  margin-right: 80px;
}

.main-wrap {
  padding: 0 20px;
}

.main-cont {
  max-width: 1400px;
  margin: 0 auto;
}

.swiper {
  overflow: hidden;
}

.sw-banner-wrap {
  padding-top: 38px;
  padding-bottom: 40px;
  position: relative;
}
.sw-banner-wrap:before {
  content: "";
  display: block;
  width: 100%;
  height: 65%;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sw-banner-wrap .main-cont {
  position: relative;
}

.banner-video-btn-box {
  text-align: center;
  position: absolute;
  top: 66%;
  right: -75px;
  z-index: 12;
}
.banner-video-btn-box span {
  font-size: 14px;
}

.banner-video-btn {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  background: #F27C18;
  cursor: pointer;
  transition: 0.2s;
}
.banner-video-btn:hover {
  background: #cc640b;
}
.banner-video-btn img {
  display: inline-block;
}
.banner-video-btn span {
  font-size: 14px;
  display: inline-block;
}

.banner-wrap {
  position: relative;
  z-index: 3;
}

.sw-banner-area {
  position: relative;
}

.banner-video-area {
  width: 100%;
  height: 100%;
  padding: 45px;
  background: rgba(16, 89, 148, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
}

.banner-video-close-box {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
.banner-video-close-box span {
  color: #fff;
  font-size: 14px;
  display: inline-block;
}

.banner-video-close {
  padding: 20px;
  background: #000;
  cursor: pointer;
  transition: 0.2s;
}
.banner-video-close:hover {
  background: #002240;
}

.banner-video-cont {
  width: calc(100% - 90px);
  position: absolute;
  top: 50%;
  left: 45px;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  transform: translateY(-50%);
}

.banner-video-box {
  width: 70%;
}

.banner-video {
  position: relative;
  padding-bottom: 60%;
}
.banner-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-video-info {
  width: 28%;
  color: #fff;
  line-height: 1.5;
}
.banner-video-info .tit {
  font-size: 32px;
  margin: 0 0 40px;
}
.banner-video-info .cont {
  font-size: 18px;
  max-height: 350px;
  overflow: hidden;
}

#bannerVideoInfo .mCSB_inside > .mCSB_container {
  margin-right: 20px;
}
#bannerVideoInfo .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}
#bannerVideoInfo .mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
}

.banner-img {
  padding-bottom: 46.5%;
  position: relative;
  display: block;
}
.banner-img img {
  width: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner-page-box {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.banner-page-box .swiper-pagination {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-page-box .swiper-pagination-bullet {
  transform: scale(0.5);
  margin: 0 5px;
  display: block;
  transition: 0.2s;
}
.banner-page-box .swiper-pagination-bullet-active {
  transform: scale(1);
  background: #000;
}
.banner-page-box .swiper-button-prev, .banner-page-box .swiper-button-next {
  font-size: 26px;
  color: #000;
  width: auto;
  height: auto;
  margin-top: 0;
  top: 0;
  background: none;
  position: relative;
}
.banner-page-box .swiper-button-prev {
  left: 0;
}
.banner-page-box .swiper-button-next {
  right: 0;
}

.sw-banner-txt {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.sw-banner-txt .swiper-slide {
  background: rgba(0, 0, 0, 0.6);
  height: auto;
  cursor: pointer;
  transition: 0.2s;
}
.sw-banner-txt .swiper-slide:hover {
  background: rgba(0, 0, 0, 0.4);
}
.sw-banner-txt .swiper-slide.act {
  background: #394B81;
}
.sw-banner-txt .swiper-slide.act .banner-txt {
  color: #fff;
}

.banner-txt {
  font-size: 18px;
  font-weight: 500;
  color: #868FAA;
  padding: 20px;
}

.ind-wrap {
  margin-bottom: 100px;
}

.tit-box {
  margin: 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tit-box h2, .tit-box h3 {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 10px 0;
}
.tit-box .more-btn {
  font-size: 15px;
  color: #000;
  display: inline-block;
  padding: 5px 30px 5px 15px;
  border: 1px solid #000;
  border-radius: 25px;
  position: relative;
}
.tit-box .more-btn:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-4px);
  transition: 0.2s;
}
.tit-box .more-btn:hover {
  color: #fff;
  background: #000;
}
.tit-box .more-btn:hover:after {
  background: #fff;
}
.tit-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: url(../img/hr_line.svg) top left;
}

.ind-news-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ind-main-news-box {
  width: 480px;
  display: inline-block;
}
.ind-main-news-box:hover {
  opacity: 0.8;
}

.ind-news-img {
  position: relative;
}
.ind-news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.ind-news-img .news-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.ind-news-img:before, .ind-news-img:after {
  content: "";
  display: block;
  height: 15%;
  background: #fff;
}
.ind-news-img:before {
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.ind-news-img:after {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.news-tag {
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
  background: #F27C18;
}

.ind-main-news-img {
  padding-bottom: 75%;
}

.ind-news-cont .tit {
  color: #000;
  font-weight: 500;
  margin: 15px 0;
}
.ind-news-cont .date {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  color: #bbb;
  font-weight: 700;
}

.ind-news-list {
  width: calc(100% - 540px);
}

.ind-news-box {
  margin: 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.ind-news-box:hover {
  opacity: 0.8;
}
.ind-news-box:last-child {
  margin: 0;
}
.ind-news-box .ind-news-img {
  width: 120px;
  height: 80px;
  padding-bottom: 0;
  background-size: cover;
}
.ind-news-box .ind-news-info {
  width: calc(100% - 150px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.ind-news-box .news-tag {
  width: 60px;
  padding: 5px;
  text-align: center;
}
.ind-news-box .ind-news-cont {
  width: calc(100% - 90px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.ind-news-box .ind-news-cont .tit {
  width: calc(100% - 105px);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  order: 2;
}
.ind-news-box .ind-news-cont .date {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  width: 80px;
  line-height: 1;
  order: 1;
}

.ind-earth-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.ind-main-earth-box {
  width: 600px;
  display: block;
}
.ind-main-earth-box .ind-earth-img-box {
  margin: 0 0 20px;
}

.ind-earth-list {
  width: calc(100% - 660px);
}

.ind-earth-img {
  padding-bottom: 84%;
  position: relative;
  overflow: hidden;
  display: block;
}
.ind-earth-img:hover .add-date.pc, .ind-earth-img:hover .cover {
  opacity: 1;
}
.ind-earth-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.ind-earth-img .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  cursor: pointer;
  transition: 0.2s;
}
.ind-earth-img .add-date.pc {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
}

.add-date.mb {
  display: none;
}

.add-date {
  font-size: 18px;
  color: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #F27C18;
  cursor: pointer;
  transition: 0.2s;
}
.add-date:hover {
  background: #cc640b;
}

.ind-earth-date {
  color: #fff;
  font-family: "PFDin-font";
  letter-spacing: 1px;
  text-align: center;
  width: 84px;
  padding: 15px;
  background: rgba(76, 104, 64, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ind-earth-date .day {
  font-size: 60px;
  line-height: 1;
  width: 100%;
}
.ind-earth-date .mon {
  font-size: 22px;
  line-height: 1;
  width: 100%;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #fff;
}
.ind-earth-date .time {
  line-height: 1;
  width: 100%;
  margin: 0 0 10px;
}
.ind-earth-date i {
  font-size: 26px;
}

.ind-earth-info {
  display: block;
}
.ind-earth-info:hover {
  opacity: 0.8;
}
.ind-earth-info .earth-tag {
  margin: 0 0 10px;
}
.ind-earth-info .date {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  font-size: 16px;
  color: #999;
  font-weight: 600;
  margin: 0 0 5px;
}
.ind-earth-info .tit {
  font-size: 18px;
  color: #394B81;
  font-weight: 700;
  margin: 0 0 10px;
}
.ind-earth-info .info {
  font-size: 15px;
  color: #000;
}

.earth-tag {
  font-size: 14px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  background: #F5BF58;
  display: inline-block;
}

.ind-earth-box {
  margin: 0 0 60px;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.ind-earth-box:last-child {
  margin: 0;
}
.ind-earth-box:hover {
  opacity: 0.8;
}
.ind-earth-box .ind-earth-date {
  width: 70px;
  height: 100%;
  padding: 10px;
}
.ind-earth-box .ind-earth-date .day {
  font-size: 50px;
}
.ind-earth-box .ind-earth-date .mon {
  padding: 0 0 6px;
  margin: 0 0 6px;
}
.ind-earth-box .ind-earth-img-box {
  width: 205px;
}
.ind-earth-box .ind-earth-info-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: calc(100% - 235px);
}
.ind-earth-box .ind-earth-info {
  width: 100%;
}

.ind-wrap03 {
  padding-top: 50px;
  position: relative;
}
.ind-wrap03:before {
  content: "";
  display: block;
  width: 100%;
  height: 70%;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.ind-wrap03 .main-cont {
  position: relative;
  z-index: 2;
}
.ind-wrap03 .tit-box {
  justify-content: center;
}
.ind-wrap03 .tit-box:after {
  display: none;
}

.earth-type-area {
  margin: 0 0 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.earth-type-box {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.earth-type-box:after {
  content: "";
  display: block;
  height: 16px;
  width: 1px;
  background: #999;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-8px);
}
.earth-type-box:last-child:after {
  display: none;
}
.earth-type-box:hover {
  opacity: 0.8;
}
.earth-type-box .icon {
  margin-right: 5px;
  width: 45px;
}
.earth-type-box .icon img {
  width: 100%;
}
.earth-type-box .txt {
  color: #394B81;
}

.earth-sw-area .swiper-slide {
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.arr-sw-area {
  padding: 0 40px;
  position: relative;
}
.arr-sw-area .swiper-button-prev, .arr-sw-area .swiper-button-next {
  padding: 15px 10px;
  width: auto;
  height: auto;
  margin-top: 0;
  top: 28%;
  background: none;
  transition: 0.2s;
}
.arr-sw-area .swiper-button-prev:hover, .arr-sw-area .swiper-button-next:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
}
.arr-sw-area .swiper-button-prev {
  left: 0;
}
.arr-sw-area .swiper-button-next {
  right: 0;
}
.arr-sw-area .swiper-button-next .icon {
  transform: rotate(180deg);
}

.arr-sw {
  padding: 10px;
}

.earth-sw-box {
  padding: 20px;
  background: #fff;
}

.earth-sw-img {
  padding-bottom: 60%;
  margin: 0 0 10px;
  position: relative;
}
.earth-sw-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.earth-sw-info .tit {
  font-size: 18px;
  color: #394B81;
  line-height: 25px;
  font-weight: 700;
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.earth-sw-info .cont {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.earth-sw-more {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.earth-sw-more .name-box {
  color: #394B81;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.earth-sw-more .name-box .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.earth-sw-more .more {
  color: #394B81;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.earth-sw-more .more .icon {
  margin-left: 5px;
  transition: 0.2s;
}
.earth-sw-more .more:hover .icon {
  transform: translateX(5px);
}

.ind-wrap04 .main-cont {
  position: relative;
}
.ind-wrap04 .main-cont:after {
  content: "";
  display: block;
  width: 70%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: rgba(206, 184, 86, 0.3);
}
.ind-wrap04 section {
  position: relative;
  z-index: 2;
}
.ind-wrap04 .tit-box:after {
  display: none;
}
.ind-wrap04 .tit-box .more-btn {
  margin: 0 50px 0 0;
}

.tit-wrap04 {
  margin: 0 0 10px;
  justify-content: flex-end;
}

.earth-video-sw {
  padding-bottom: 55%;
  margin: 0 0 10px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.earth-video-sw iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.earth-video-sw-info .tit {
  color: #394B81;
  line-height: 24px;
  margin: 0 0 15px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  cursor: pointer;
  transition: 0.2s;
}
.earth-video-sw-info .tit:hover {
  color: #29365e;
}
.earth-video-sw-info .date-box {
  font-size: 14px;
  color: #999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-cont {
  max-width: 1200px;
  margin: 0 auto;
}

.page-tit-wrap .page-cont {
  height: 200px;
  position: relative;
}
.page-tit-wrap h2 {
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
}

.page-main-wrap {
  padding-top: 20px;
}

.bread-box {
  font-size: 15px;
  color: #000;
  margin: 0 0 90px;
}
.bread-box a {
  color: #999;
}
.bread-box a:hover {
  color: #394B81;
}
.bread-box span {
  margin: 0 10px;
}
.bread-box span.act {
  color: #394B81;
  margin: 0;
}

.page-tit-box .tit {
  font-size: 32px;
  font-weight: 700;
}
.page-tit-box .tit.line {
  padding: 0 0 30px;
  text-align: center;
  position: relative;
}
.page-tit-box .tit.line:after {
  content: "";
  display: block;
  width: 55px;
  height: 1px;
  background: #bbb;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.page-column-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.page-column-side {
  width: 170px;
  margin-top: 65px;
  padding: 20px 0 20px 0;
  position: sticky;
  top: 110px;
}

.page-column-cont {
  padding: 0 0 40px;
  width: calc(100% - 210px);
}
.page-column-cont .page-tit-box {
  margin: 0 0 30px;
}

.column-side-box {
  margin: 0 0 20px;
  padding: 20px 35px 20px 5px;
  position: relative;
}
.column-side-box:last-child {
  margin: 20px 0 0;
}
.column-side-box:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: -webkit-linear-gradient(rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  background: -o-linear-gradientt(rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  background: -moz-linear-gradientt(rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  background: linear-gradient(rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.column-side-hr {
  border-bottom: 1px dashed #999;
}

.column-side-list {
  text-align: right;
}
.column-side-list li {
  margin: 0 0 15px;
}
.column-side-list li:last-child {
  margin: 0;
}
.column-side-list .item {
  color: #999;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.column-side-list .item:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #F5BF58;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.2s;
}
.column-side-list .item:hover {
  color: #394B81;
}
.column-side-list .item.act {
  color: #394B81;
}
.column-side-list .item.act:after {
  display: block;
  right: -25px;
  opacity: 1;
}

.mb-select-area {
  display: none;
}

.mb-select-box {
  position: relative;
}
.mb-select-box:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  background: -o-linear-gradientt(90deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  background: -moz-linear-gradientt(90deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.6) 5.4%, #c4c4c4 94.75%, rgba(196, 196, 196, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.mb-select-box:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #F5BF58 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);
}

.mb-select {
  color: #394B81;
  font-weight: 700;
  padding: 5px 10px;
  position: relative;
  z-index: 2;
}

.mb-select-list {
  width: 100%;
  background: #fff;
  border: 1px solid #394B81;
  position: absolute;
  top: 33px;
  left: 0;
  z-index: 3;
  display: none;
}
.mb-select-list .item {
  color: #999;
  font-weight: 700;
  padding: 5px 10px;
  border-bottom: 1px solid #394B81;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.mb-select-list .item:hover {
  color: #394B81;
}
.mb-select-list .item:last-child {
  border-bottom: none;
}

.page-top-w {
  position: relative;
  background: #fafafa;
}
.page-top-w:before {
  content: "";
  display: block;
  width: 100%;
  height: 320px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.page-top-w .page-cont {
  position: relative;
  z-index: 2;
}

.page-mem {
  background: url(../img/page_mem.jpg) center center/cover;
}

.member-list {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.member-list:last-child {
  margin: 0;
}
.member-list .no-data {
  color: #999;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.member-box {
  width: calc((100% - 100px) / 3);
  margin-right: 50px;
  margin-bottom: 45px;
}
.member-box:nth-child(3n) {
  margin-right: 0;
}
.member-box:hover {
  opacity: 0.8;
}

.member-img {
  padding-bottom: 110%;
  position: relative;
}
.member-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.member-name-box {
  color: #fff;
  padding: 20px;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.member-name-box .tit {
  font-size: 14px;
}
.member-name-box .name-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.member-name-box .name-box span {
  display: inline-block;
}
.member-name-box .name-box span.name {
  font-size: 22px;
  font-weight: 700;
  margin-right: 3px;
}
.member-name-box .name-box span.en {
  font-size: 12px;
}

.member-info {
  font-size: 14px;
  padding: 10px 20px;
}
.member-info .info-box {
  margin: 0 0 10px;
}
.member-info .info-box:last-child {
  margin: 0;
}
.member-info .tit {
  color: #000;
  font-weight: 700;
  margin: 0 0 5px;
}
.member-info .cont {
  color: #999;
}

.member-sup-list {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.member-sup-list .no-data {
  color: #999;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.member-sup-box {
  width: calc((100% - 80px) / 3);
  margin-right: 40px;
  margin-bottom: 15px;
  position: relative;
}
.member-sup-box:nth-child(3n) {
  margin-right: 0;
}
.member-sup-box:after {
  content: "";
  display: block;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 50%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.member-sup-cont {
  padding: 20px;
  position: relative;
  z-index: 2;
}
.member-sup-cont .office {
  font-size: 14px;
  color: #999;
  margin: 0 0 3px;
}
.member-sup-cont .name-box {
  font-weight: 700;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.member-sup-cont .name-box .name {
  font-size: 22px;
  margin-right: 3px;
}
.member-sup-cont .name-box .en {
  font-size: 12px;
}

.member-sup-info li {
  font-size: 12px;
  margin: 0 0 10px;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.member-sup-info li:last-child {
  margin: 0;
}
.member-sup-info .icon {
  width: 25px;
}
.member-sup-info .icon img {
  width: 100%;
}
.member-sup-info .txt {
  width: calc(100% - 30px);
}

.member-cont-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.member-cont-img-box {
  padding-bottom: 30px;
  position: sticky;
  top: 130px;
}

.member-cont-img {
  width: 320px;
  height: 350px;
  margin: 0 0 20px;
  position: relative;
}
.member-cont-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.member-cont-img-txt {
  margin: 0 0 50px;
  font-weight: 700;
  display: none;
}
.member-cont-img-txt .office {
  font-size: 14px;
  margin: 0 0 10px;
}
.member-cont-img-txt .name {
  font-size: 22px;
}

.back-box .back-btn {
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  background: #394B81;
  display: inline-block;
}
.back-box .back-btn i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.back-box .back-btn .dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin: 0 3px;
  background: #fff;
  display: inline-block;
  transition: 0.2s;
  display: inline-block;
  vertical-align: middle;
}
.back-box .back-btn span {
  display: inline-block;
  display: inline-block;
  vertical-align: middle;
}
.back-box .back-btn:hover {
  background: #29365e;
}

.member-main-cont {
  width: calc(100% - 370px);
}

.member-main-info-cont {
  padding-top: 115px;
  margin-bottom: 40px;
}
.member-main-info-cont .member-cont-img {
  display: none;
}

.member-main-name-box {
  margin: 0 0 30px;
}
.member-main-name-box .office {
  font-size: 14px;
  color: #999;
  margin: 0 0 10px;
}
.member-main-name-box .name {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 30px;
}
.member-main-name-box .cont {
  font-size: 18px;
}

.member-main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.member-main-info .item {
  width: calc((100% - 50px) / 2);
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.member-main-info .item .icon {
  width: 25px;
}
.member-main-info .item .icon img {
  width: 100%;
}
.member-main-info .item .txt {
  font-size: 15px;
  width: calc(100% - 35px);
}
.member-main-info .item a {
  color: #000;
}
.member-main-info .item a:hover {
  color: #394B81;
}

.member-main-tit {
  font-size: 18px;
  padding: 10px 15px;
  border-bottom: 4px solid #000;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.member-main-tit .icon {
  cursor: pointer;
  transition: 0.2s;
}
.member-main-tit .icon:hover {
  opacity: 0.8;
}

.member-main-txt {
  padding: 20px;
}

.edit-area p.def {
  font-size: 15px;
  text-align: justify;
  line-height: 2;
  margin: 0 0 30px;
}
.edit-area ul.def {
  padding-left: 20px;
  margin: 0 0 30px;
}
.edit-area p.def + ul.def {
  margin: -30px 0 30px;
}
.edit-area img.def {
  max-width: 100%;
  margin: 0 0 30px;
}
.edit-area .tit.def {
  font-size: 18;
  color: #394B81;
  font-weight: 700;
  margin: 0 0 10px;
}

.more-hide {
  padding-bottom: 50px;
}
.more-hide .edit-area {
  height: 800px;
  overflow: hidden;
}

.page-about {
  background: url(../img/page_about.jpg) center center/cover;
}

.page-w {
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.page-w .page-tit-box {
  margin: 0 0 20px;
}

.page-gray {
  background: #fafafa;
}

.page-gray-b {
  background: #eee;
}

.page-black {
  background: #000;
}

.page-sup-tab-area {
  margin: 40px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.page-sup-tab-area .tab {
  font-size: 18px;
  color: #999;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 15px;
  background: #ddd;
  cursor: pointer;
  transition: 0.2s;
}
.page-sup-tab-area .tab:last-child {
  margin-right: 0;
}
.page-sup-tab-area .tab:hover {
  color: #fff;
  background: #394B81;
}
.page-sup-tab-area .tab.act {
  color: #fff;
  background: #394B81;
}

.page-sup-area {
  padding: 40px 0;
}

.page-sup-inner {
  width: 100%;
  border-top: 1px dashed #ddd;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.page-sup-inner .stab {
  color: #999;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50px;
  padding: 5px 15px;
  background: #eee;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.page-sup-inner .stab:hover {
  color: #fff;
  background: #F27C18;
}
.page-sup-inner .stab.act {
  color: #fff;
  background: #F27C18;
}

.about-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.about-video-cont, .about-txt-cont {
  width: calc((100% - 50px) / 2);
}

.page-sup-tit {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
}

.page-sup-en-tit {
  font-family: "PFDin-font";
  font-weight: 500;
  color: #999;
  font-size: 23px;
  letter-spacing: 1px;
}

.about-video-box {
  padding: 0 0 80px;
  margin: 0 0 60px;
  border-bottom: 1px solid #ddd;
}
.about-video-box:last-child {
  margin: 0;
  border-bottom: none;
}
.about-video-box .page-sup-tit {
  margin: 0 0 20px;
}
.about-video-box .page-sup-tit span {
  color: #F27C18;
  display: inline-block;
  margin: 0 10px;
}
.about-video-box .video-box {
  padding-bottom: 55%;
  position: relative;
}
.about-video-box .video-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.about-txt-cont p {
  line-height: 2;
  letter-spacing: 1.2px;
  text-align: justify;
  margin: 0 0 30px;
}

.develop-main-area {
  position: relative;
}

.develop-page-tit {
  margin: 0 0 40px;
}
.develop-page-tit .page-sup-tit {
  margin: 0 0 10px;
  text-align: center;
}
.develop-page-tit .develop-p {
  line-height: 1.5;
  text-align: center;
}

.develop-main-box {
  margin: 0 0 65px;
  position: relative;
}

.develop-main {
  font-family: "PFDin-font";
  font-size: 62px;
  color: #fff;
  width: 170px;
  height: 170px;
  line-height: 158px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid #F5BF58;
  background: #F27C18;
  position: relative;
}
.develop-main:after {
  content: "";
  display: block;
  width: 16px;
  height: 70px;
  position: absolute;
  top: 158px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(#f5bf58, #778ac2);
  background: -o-linear-gradientt(#f5bf58, #778ac2);
  background: -moz-linear-gradientt(#f5bf58, #778ac2);
  background: linear-gradient(#f5bf58, #778ac2);
}

.develop-box {
  margin: 0 0 65px;
  position: relative;
}
.develop-box:last-child {
  margin: 0 0 200px;
}
.develop-box:last-child .develop:after {
  height: 150px;
  background: -webkit-linear-gradient(#778ac2, rgba(119, 138, 194, 0));
  background: -o-linear-gradientt(#778ac2, rgba(119, 138, 194, 0));
  background: -moz-linear-gradientt(#778ac2, rgba(119, 138, 194, 0));
  background: linear-gradient(#778ac2, rgba(119, 138, 194, 0));
}

.develop {
  font-family: "PFDin-font";
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  width: 120px;
  height: 120px;
  line-height: 106px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  border: 10px solid #778AC2;
  background: #394B81;
  position: relative;
}
.develop:after {
  content: "";
  display: block;
  width: 16px;
  height: 70px;
  position: absolute;
  top: 108px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background: #778AC2;
}

.develop-info-box {
  width: calc((100% - 160px) / 2);
  padding: 0 20px;
  border-left: 5px solid #000;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.develop-info-box .tit {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 0 10px;
}
.develop-info-box .info {
  color: #999;
  line-height: 1.5;
}

.develop-box:nth-child(even) .develop-info-box {
  text-align: right;
  border-left: none;
  border-right: 5px solid #000;
  right: auto;
  left: 0;
}

.page-contact-tit-box {
  margin: 0 0 30px;
}

.page-contact-info-box {
  margin: 0 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-contact-info-list {
  padding: 0 20px;
  border-left: 5px solid #394B81;
  margin-right: 30px;
}
.page-contact-info-list li {
  padding: 3px 0;
}

.page-contact-input-area {
  padding: 0 70px;
  margin: 0 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.page-contact-input-area .note {
  font-size: 15px;
  color: #DD4545;
  width: 100%;
  margin: 0 0 30px;
}

.page-contact-column {
  width: calc((100% - 70px) / 2);
}

.page-input-box {
  padding: 10px 0;
  margin: 0 0 30px;
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-input-box label {
  font-size: 15px;
  width: 90px;
  display: block;
}
.page-input-box:last-child {
  margin: 0;
}

.page-input-box.txtarea label {
  width: 100%;
  margin: 0 0 10px;
}
.page-input-box.txtarea .page-input {
  width: 100%;
}
.page-input-box.txtarea textarea {
  font-size: 15px;
  width: 100%;
  padding: 0 10px;
  height: 150px;
  resize: none;
  background: transparent;
}

.page-input {
  width: calc(100% - 100px);
  position: relative;
}
.page-input label.error {
  font-size: 13px;
  color: #fff;
  width: auto;
  padding: 5px 10px;
  background: #DD4545;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  transform: translateY(-50%);
}

.page-input-sty {
  font-size: 15px;
  width: 100%;
  padding-right: 20px;
  padding: 5px 0;
  background: transparent;
}

.page-input.page-sel {
  position: relative;
}
.page-input.page-sel:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  transform: translateY(-50%);
}

.page-sel-sty {
  font-size: 15px;
  width: 100%;
  padding: 5px 20px 5px 0;
  background: transparent;
}

.page-btn-area {
  width: 100%;
  margin: 45px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.page-btn-submit {
  font-size: 16px;
  color: #fff;
  width: calc((100% - 70px) / 2);
  padding: 12px;
  text-align: center;
  border-radius: 25px;
  background: #394B81;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}
.page-btn-submit:hover {
  background: #29365e;
}
.page-btn-submit input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.study-tit {
  font-size: 18px;
  font-weight: 700;
}

.study-txt {
  padding: 30px;
}
.study-txt p {
  line-height: 2;
  margin: 0 0 30px;
}
.study-txt p:last-child {
  margin: 0;
}
.study-txt a {
  color: #F27C18;
  text-decoration: underline;
}
.study-txt a:hover {
  color: #f59748;
}

.study-result-area .page-tit-box {
  color: #fff;
  margin: 0 0 50px;
}

.study-result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.study-result-list .earth-sw-box {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 40px;
}
.study-result-list .earth-sw-box:nth-child(3n) {
  margin-right: 0;
}

.study-author {
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.study-author .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.study-author .name {
  font-size: 15px;
  color: #394B81;
  display: inline-block;
}
.study-author a.name:hover {
  color: #29365e;
}

.info-server-area .page-tit-box {
  margin: 0 0 60px;
}

.info-server-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.info-server-box {
  width: calc((100% - 160px) / 3);
  margin-right: 80px;
  margin-bottom: 80px;
}
.info-server-box:nth-child(3n) {
  margin-right: 0;
}
.info-server-box .tit {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 15px;
}
.info-server-box .cont {
  font-size: 15px;
  color: #999;
  line-height: 1.5;
  margin: 20px 0;
}

.icon-link-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.icon-link-box .icon {
  width: 25px;
}
.icon-link-box .icon img {
  width: 100%;
}
.icon-link-box .link {
  width: calc(100% - 30px);
}
.icon-link-box a {
  color: #F27C18;
  text-decoration: underline;
  word-break: break-all;
}
.icon-link-box a:hover {
  color: #f59748;
}

.info-server-img {
  padding-bottom: 70%;
  position: relative;
}
.info-server-img:before, .info-server-img:after {
  content: "";
  display: block;
  height: 11%;
  position: absolute;
  background: #fafafa;
  z-index: 2;
}
.info-server-img:before {
  width: 50%;
  top: 0;
  right: 0;
}
.info-server-img:after {
  width: 25%;
  left: 0;
  bottom: 0;
}
.info-server-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.web-link-area .page-tit-box {
  margin: 0 0 60px;
}

.web-link-list {
  margin: 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.web-link-box {
  width: calc((100% - 160px) / 3);
  margin-right: 80px;
  margin-bottom: 60px;
}
.web-link-box:nth-child(3n) {
  margin-right: 0;
}
.web-link-box .tit {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}

.web-link-list.center {
  justify-content: center;
}
.web-link-list.center .web-link-box:nth-child(2n) {
  margin-right: 0;
}

.page-news {
  background: url(../img/page_news.jpg) center center/cover;
}

.page-sup-tab-area.orange .tab:hover {
  background: #F27C18;
}
.page-sup-tab-area.orange .tab.act {
  background: #F27C18;
}

.news-list {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.news-box {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.news-box:nth-child(2n) {
  margin-right: 0;
}
.news-box:hover {
  opacity: 0.8;
}

.news-img {
  width: 160px;
  padding-bottom: 17.95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.news-img:before, .news-img:after {
  content: "";
  display: block;
  height: 15%;
  background: #FAFAFA;
  position: absolute;
  z-index: 2;
}
.news-img:before {
  width: 25%;
  top: 0;
  right: 0;
}
.news-img:after {
  width: 50%;
  left: 0;
  bottom: 0;
}
.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.news-cont {
  width: calc(100% - 180px);
}
.news-cont .news-tag {
  padding: 5px 10px;
  display: inline-block;
}
.news-cont .date {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  color: #bbb;
  margin: 15px 0 5px;
}
.news-cont .tit {
  color: #000;
}

.news-cont.earth-cont .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pagination-box {
  margin: 45px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination-box .page {
  margin: 0 5px;
}
.pagination-box .page.center {
  height: 13px;
  line-height: 5px;
}
.pagination-box a.page {
  color: #000;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
}
.pagination-box a.page:hover {
  color: #fff;
  background: #000;
}

.pagination-select-box {
  margin: 40px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination-select-box .txt {
  font-size: 15px;
}
.pagination-select-box .select {
  width: 70px;
  margin: 0 3px;
}
.pagination-select-box .page-sel {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding: 5px 15px 5px 5px;
  border: 1px solid #bbb;
  background: url(../img/icon_page_arr.svg) no-repeat right 5px center, transparent;
}

.page-w .news-page-tit {
  margin: 0 0 120px;
}

.news-area {
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.news-area + .back-box {
  margin: 60px 0;
  text-align: center;
}

.news-banner {
  width: 500px;
  transform: translateY(-100px);
  position: sticky;
  top: 189px;
}
.news-banner img {
  width: 100%;
}

.news-txt-cont {
  width: calc(100% - 550px);
}

.news-txt-tit-box {
  margin: 0 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.news-txt-tit-box .news-tag, .news-txt-tit-box .date {
  font-size: 14px;
}
.news-txt-tit-box .news-tag {
  padding: 5px 10px;
}
.news-txt-tit-box .date {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  font-size: 18px;
  color: #bbb;
  font-weight: 600;
  margin: 3px 0 0 10px;
}
.news-txt-tit-box .tit {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  width: 100%;
  margin: 10px 0 0;
}

a.news-def {
  color: #F27C18;
  text-decoration: underline;
  word-break: break-all;
}
a.news-def:hover {
  color: #f59748;
}

.doc-area .tit {
  font-weight: 700;
  padding: 10px 0;
  margin: 0 0 10px;
  border-bottom: 1px solid #ddd;
}
.doc-area .list li {
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.doc-area .list li:last-child {
  margin: 0;
}
.doc-area .list .icon {
  width: 20px;
  height: 26px;
  margin-right: 10px;
}
.doc-area .list a {
  color: #000;
  transition: 0.2s;
}
.doc-area .list a:hover {
  color: #394B81;
}
.doc-area .list .note {
  color: #bbb;
  margin-left: 10px;
}
.doc-area .list .icon.pdf {
  background: url(../img/icon_pdf.svg) no-repeat center center/contain;
}
.doc-area .list .icon.otd {
  background: url(../img/icon_odf.svg) no-repeat center center/contain;
}
.doc-area .list .icon.doc {
  background: url(../img/icon_doc.svg) no-repeat center center/contain;
}
.doc-area .list .icon.xsl {
  background: url(../img/icon_xsl.svg) no-repeat center center/contain;
}
.doc-area .list .icon.csv {
  background: url(../img/icon_csv.svg) no-repeat center center/contain;
}
.doc-area .list .icon.zip {
  background: url(../img/icon_zip.svg) no-repeat center center/contain;
}
.doc-area .list .icon.ppt {
  background: url(../img/icon_ppt.svg) no-repeat center center/contain;
}

.page-earth-area {
  max-width: 840px;
  margin: 0 auto;
}
.page-earth-area .date {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  font-size: 14px;
  color: #bbb;
  margin: -90px 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-earth-area .tit {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 60px;
}

.page-earth-video {
  padding-bottom: 55%;
  position: relative;
  top: -100px;
}
.page-earth-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.academic-year-box {
  margin: 50px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.academic-year-box .tit {
  font-size: 18px;
  color: #999;
  margin-right: 20px;
}

.academic-year-sel {
  font-family: "PFDin-font";
  letter-spacing: 1px;
  font-size: 52px;
  padding: 0 50px 0 5px;
  border-bottom: 1px solid #000;
  background: url(../img/icon_ayear_arr.svg) no-repeat right 10px center;
}

.academic-list {
  list-style-type: decimal;
  padding-left: 30px;
}
.academic-list li {
  line-height: 1.6;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #999;
}
.academic-list li:last-child {
  margin-bottom: 0;
}
.academic-list li b {
  font-weight: bold;
  text-decoration: underline;
}
.academic-list li a {
  color: #F27C18;
  text-decoration: underline;
  word-break: break-all;
}
.academic-list li a:hover {
  color: #cc640b;
}

.speech-banner-area {
  padding-bottom: 60px;
  border-bottom: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.speech-banner-area .speech-banner-box {
  width: 50%;
}
.speech-banner-area .speech-banner-box .ind-main-earth-box {
  width: 100%;
}
.speech-banner-area .speech-banner-box:first-child {
  padding-right: 50px;
  border-right: 1px solid #bbb;
}
.speech-banner-area .speech-banner-box:last-child {
  padding-left: 50px;
}

.speech-list {
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
}

.speech-box {
  margin: 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.speech-box:last-child {
  margin: 0;
}
.speech-box .ind-earth-box {
  width: calc(100% - 210px);
  padding-right: 20px;
  border-right: 1px solid #999;
  margin: 0;
  box-sizing: border-box;
}
.speech-box .add-date-box {
  padding: 0 20px;
}
.speech-box .add-date-box .add-date {
  padding: 10px 20px;
  border-radius: 50px;
}

.speech-note-list {
  font-size: 15px;
  margin: 0 0 30px;
}
.speech-note-list .item {
  margin: 0 0 5px;
}
.speech-note-list .item:last-child {
  margin: 0;
}
.speech-note-list span {
  color: #12568D;
}

.add-date-page-box {
  margin: 50px 0 0;
}
.add-date-page-box .add-date {
  width: auto;
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
}

.topic-cont .author {
  font-size: 14px;
  color: #bbb;
  margin: 5px 0 0;
}
.topic-cont .author span {
  color: #394B81;
  font-weight: 700;
  margin-left: 5px;
}

.topic-author {
  font-size: 15px;
  color: #bbb;
  margin: 10px 0 0;
}
.topic-author .author {
  color: #394B81;
  display: inline-block;
  margin-left: 10px;
}
.topic-author .author:hover {
  color: #29365e;
}

.page-plan {
  background: url(../img/page_plan.jpg) center center/cover;
}
.page-plan h2 span.block {
  display: inline-block;
  margin: 0 0 5px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.7);
}
.page-plan h2 span {
  display: block;
}

.plan-info-area {
  padding: 40px 0;
}
.plan-info-area p {
  font-size: 18px;
  max-width: 970px;
}

.plan-info-cont {
  margin: 100px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.plan-info-box {
  width: 25%;
  text-align: center;
}
.plan-info-box .tit {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.plan-info-box .tit .block {
  color: #fff;
  margin-right: 10px;
  position: relative;
}
.plan-info-box .tit .block span {
  position: relative;
  z-index: 2;
}
.plan-info-box .tit .block:before {
  content: "";
  width: 42px;
  height: 42px;
  background: #394B81;
  transform: rotate(-45deg);
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 1;
}
.plan-info-box .tit .line {
  color: #394B81;
  border-bottom: 3px solid #394B81;
}
.plan-info-box .icon {
  width: 80px;
  margin: 40px auto 30px;
}
.plan-info-box .icon img {
  width: 100%;
}
.plan-info-box .txt {
  font-size: 15px;
}

.page-plan-sw-area .tit-box {
  margin: 30px auto;
}

.plan-more-info-area .tit-box {
  justify-content: center;
}
.plan-more-info-area .tit-box:after {
  display: none;
}

.plan-more-info-cont {
  margin-bottom: 100px;
}

.plan-more-info {
  font-size: 15px;
  text-align: center;
  margin: 0 0 30px;
}
.plan-more-info:last-child {
  margin: 0;
}
.plan-more-info .tit {
  font-weight: 700;
}
.plan-more-info .txt {
  color: #555;
}
.plan-more-info a.txt {
  text-decoration: underline;
  display: inline-block;
}
.plan-more-info a.txt:hover {
  color: #3c3c3c;
}

.plan-about-box {
  max-width: 760px;
  margin: 0 auto;
  padding: 50px 40px;
  background: #F7F7F7;
  position: relative;
}
.plan-about-box:before, .plan-about-box:after {
  content: "";
  display: block;
  height: 30px;
  background: #fff;
}
.plan-about-box:before {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.plan-about-box:after {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.plan-about {
  text-align: center;
  margin: 0 0 50px;
}
.plan-about:last-child {
  margin: 0;
}
.plan-about .tit {
  font-size: 22px;
  color: #394B81;
  font-weight: 700;
  margin: 0 0 15px;
}
.plan-about .txt {
  color: #555;
}

.plan-mem-area {
  margin: 0 0 100px;
}

.plan-mem-tit {
  text-align: center;
  margin: 0 0 30px;
}
.plan-mem-tit .tit {
  font-size: 22px;
  color: #394B81;
  font-weight: 700;
  margin: 0 0 30px;
}

.plan-mem-group {
  text-align: center;
}
.plan-mem-group .tit {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 30px;
}

.plan-mem-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.plan-mem {
  margin: 0 25px;
}
.plan-mem .img-box {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
}
.plan-mem .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-wrap {
  background: #303544;
  position: relative;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-link-area {
  padding: 100px 0 40px;
  border-bottom: 1px solid #505B7C;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-box {
  width: 95px;
}
.footer-box .tit {
  font-size: 18px;
  color: #fff;
  margin: 0 0 20px;
}
.footer-box .list {
  font-size: 13px;
}
.footer-box .list li {
  margin: 0 0 10px;
}
.footer-box .list li:last-child {
  margin: 0;
}
.footer-box .list a {
  color: #fff;
  display: inline-block;
}
.footer-box .list a:hover {
  color: #ddd;
}

.footer-info-area {
  padding: 30px 0;
  border-bottom: 1px solid #505B7C;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-info-box .tit {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  margin: 0 0 15px;
}
.footer-info-box .list {
  margin: 0 0 10px;
}
.footer-info-box .list li {
  color: #fff;
  margin: 0 0 10px;
}
.footer-info-box .list li:last-child {
  margin: 0;
}
.footer-info-box .local-box {
  margin: 0 0 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.footer-info-box .local-box .icon {
  margin-right: 5px;
}
.footer-info-box .local-box a {
  color: #fff;
  display: inline-block;
  text-decoration: underline;
}
.footer-info-box .local-box a:hover {
  color: #ddd;
}
.footer-info-box .logo {
  display: inline-block;
}
.footer-info-box .logo:hover {
  opacity: 0.8;
}

.footer-info-logo a.logo {
  margin: 0 0 15px;
  display: inline-block;
}
.footer-info-logo a.logo:hover {
  opacity: 0.8;
}

.copyright {
  font-size: 12px;
  color: #8795BD;
  text-align: right;
  padding: 20px 0;
}

.gotop {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: -100px;
  right: 10px;
  z-index: 15;
  transition: 0.2s;
}
.gotop img {
  width: 100%;
}

.gotop-fix {
  position: absolute;
}

.test-wrap {
  width: 300px;
  height: 200px;
  margin: 10px;
  background: #ff6c6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.test-box {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}
.test-box img {
  width: 100%;
}
.test-box .t-img {
  width: 80%;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(145deg, #775729 10%, #eee33d 20%, #775729 30%) 10;
  padding: 50px;
  margin: 10px;
  display: inline-block;
  background: rgba(51, 28, 18, 0.35);
}
.border-grad p {
  background: -webkit-linear-gradient(top, #99432b, #ffaf2e 40%, #fcff96 48%, #fcffff, #fcff96 52%, #ffaf2e 60%, #99432b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.edit-area p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area strong {
  font-weight: bold;
}
.edit-area em {
  font-style: italic;
}
.edit-area h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
.edit-area h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
.edit-area h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.edit-area h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.edit-area h5 {
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}
.edit-area h6 {
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}
.edit-area h1, .edit-area h2, .edit-area h3, .edit-area h4, .edit-area h5, .edit-area h6 {
  font-weight: normal;
  line-height: 1.2;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.edit-area ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.edit-area li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.edit-area img {
  max-width: 100%;
  height: auto !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 12px;
  background: #eee;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  background: #ccc;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #ccc;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #ccc;
}

@media screen and (max-width: 1600px) {
  .banner-video-btn-box {
    top: 0;
    right: 0;
  }
  .banner-video-btn-box span {
    text-shadow: 0 0 5px #fff;
  }
  nav .item span {
    padding: 0 14px;
  }
}
@media screen and (max-width: 1400px) {
  nav .item span {
    font-size: 15px;
  }
  nav .item.more:after {
    border-width: 9px 5px 0 5px;
  }
  .nav-top a {
    font-size: 14px;
  }
  .lang-box span {
    font-size: 12px;
  }
  .sup-nav-box a {
    font-size: 14px;
  }
  .sup-nav-box02 {
    margin-right: 533px;
  }
  .sup-nav-box03 {
    margin-right: 500px;
  }
  .sup-nav-box04 {
    margin-right: 260px;
  }
  .sup-nav-box05 {
    margin-right: 224px;
  }
  .sup-nav-box06 {
    margin-right: 273px;
  }
  .sup-nav-box07 {
    margin-right: 199px;
  }
  .sup-nav-box08 {
    margin-right: 85px;
  }
  .lang-box a {
    font-size: 15px;
  }
  .main-wrap {
    padding: 0 50px;
  }
  .sw-banner-wrap {
    padding: 30px 50px;
  }
  .ind-wrap03 {
    padding-top: 50px;
  }
  .page-main-wrap {
    padding-top: 20px;
  }
  .page-w .news-page-tit {
    margin: 0 0 100px;
  }
  .page-tit-box .tit {
    font-size: 28px;
  }
  .page-sup-tab-area .tab {
    font-size: 16px;
  }
  .page-sup-inner {
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
  .banner-video-info .cont {
    max-height: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .logo {
    width: 168px;
  }
  .nav-area {
    width: calc(100% - 168px);
  }
  .nav-top a {
    font-size: 13px;
  }
  nav .item span {
    font-size: 14px;
    padding: 0 12px;
  }
  .lang-box a {
    font-size: 14px;
  }
  .lang-box span {
    font-size: 12px;
  }
  .banner-video-info .cont {
    max-height: 250px;
  }
  .sup-nav-box02 {
    margin-right: 475px;
  }
  .sup-nav-box03 {
    margin-right: 450px;
  }
  .sup-nav-box04 {
    margin-right: 220px;
  }
  .sup-nav-box05 {
    margin-right: 185px;
  }
  .sup-nav-box06 {
    margin-right: 242px;
  }
  .sup-nav-box07 {
    margin-right: 175px;
  }
  .sup-nav-box08 {
    margin-right: 70px;
  }
  .ind-news-list {
    width: calc(100% - 510px);
  }
  .ind-news-box .ind-news-cont .tit {
    width: 100%;
    margin: 0 0 5px;
    order: 1;
  }
  .ind-news-box .ind-news-cont .date {
    width: 100%;
    order: 2;
  }
  .ind-main-earth-box {
    width: 470px;
  }
  .ind-earth-list {
    width: calc(100% - 500px);
  }
  .ind-earth-box {
    margin: 0 0 30px;
  }
  .member-sup-box {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .hamburger {
    display: block;
  }
  .header-cont {
    padding: 5px 10px;
    align-items: center;
  }
  .logo {
    width: 120px;
  }
  .nav-area {
    width: calc(100% - 120px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-main {
    width: calc(100% - 50px);
  }
  .nav-top {
    margin: 0;
  }
  nav {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 5;
    max-height: calc(100vh - 55px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
  }
  nav .item {
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #394B81;
  }
  nav .item span {
    border-right: none;
  }
  nav .item:last-child {
    border-bottom: none;
  }
  nav .item.more {
    padding-bottom: 0;
  }
  nav .item.more:after {
    display: none;
  }
  .mb-nav {
    display: block;
  }
  .sup-nav-area {
    display: none;
  }
  .lang-box {
    padding: 0;
  }
  .banner-video-area {
    padding: 20px;
  }
  .banner-video-cont {
    width: calc(100% - 40px);
    left: 20px;
  }
  .banner-video-info .tit {
    font-size: 24px;
    margin: 0 0 10px;
  }
  .banner-video-info .cont {
    font-size: 16px;
    max-height: 180px;
  }
  .banner-txt {
    font-size: 16px;
    padding: 10px;
  }
  .ind-main-news-box {
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .ind-main-news-box .ind-news-img, .ind-main-news-box .ind-news-cont {
    width: 48%;
  }
  .ind-main-news-box .ind-news-img {
    margin: 0;
  }
  .ind-news-list {
    width: 100%;
  }
  .ind-news-box {
    margin: 0 0 30px;
  }
  .ind-news-box .ind-news-img {
    width: 240px;
    height: 160px;
  }
  .ind-news-box .ind-news-info {
    width: calc(100% - 270px);
  }
  .earth-type-box {
    padding: 0 15px;
  }
  .earth-type-box .icon {
    width: 30px;
  }
  .ind-main-earth-box {
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .ind-main-earth-box .ind-earth-img-box, .ind-main-earth-box .ind-earth-info {
    width: 48%;
  }
  .ind-main-earth-box .ind-earth-img-box {
    margin: 0;
  }
  .ind-earth-list {
    width: 100%;
  }
  .page-column-side {
    top: 60px;
  }
  .page-top-w:before {
    height: 260px;
  }
  .member-box {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
  }
  .member-sup-box {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
  }
  .member-sup-box:nth-child(3n) {
    margin-right: 20px;
  }
  .member-sup-box:nth-child(2n) {
    margin-right: 0;
  }
  .member-cont-img-box {
    width: 250px;
    top: 75px;
  }
  .member-cont-img {
    width: 250px;
    height: 275px;
  }
  .member-main-cont {
    width: calc(100% - 270px);
  }
  .member-main-info-cont {
    padding-top: 55px;
  }
  .page-sup-tab-area {
    margin: 20px 0 10px;
  }
  .page-sup-tab-area .tab {
    margin-bottom: 10px;
  }
  .page-sup-inner {
    margin-top: 0;
  }
  .page-contact-info-list {
    margin-right: 20px;
  }
  .page-contact-input-area {
    padding: 0 20px;
  }
  .study-result-list .earth-sw-box {
    width: calc((100% - 30px) / 2);
  }
  .study-result-list .earth-sw-box:nth-child(3n) {
    margin-right: 30px;
  }
  .study-result-list .earth-sw-box:nth-child(2n) {
    margin-right: 0;
  }
  .info-server-box {
    width: calc((100% - 80px) / 2);
  }
  .info-server-box:nth-child(3n) {
    margin-right: 80px;
  }
  .info-server-box:nth-child(2n) {
    margin-right: 0;
  }
  .web-link-box {
    width: calc((100% - 80px) / 2);
  }
  .web-link-box:nth-child(3n) {
    margin-right: 80px;
  }
  .web-link-box:nth-child(2n) {
    margin-right: 0;
  }
  .news-banner, .news-txt-cont {
    width: calc((100% - 30px) / 2);
  }
  .speech-banner-area {
    padding-bottom: 50px;
  }
  .speech-banner-area .speech-banner-box {
    padding: 0;
    width: 100%;
  }
  .speech-banner-area .speech-banner-box .ind-main-earth-box {
    margin: 0;
  }
  .speech-banner-area .speech-banner-box:first-child {
    padding-right: 0;
    border-right: 0;
    margin: 0 0 50px;
  }
  .speech-banner-area .speech-banner-box:last-child {
    padding-left: 0;
  }
  .speech-box .ind-earth-box {
    width: calc(100% - 180px);
    padding-right: 10px;
  }
  .speech-box .add-date-box {
    padding: 0 10px;
  }
  .footer-link-area {
    padding: 100px 0 10px;
    justify-content: flex-start;
  }
  .footer-box {
    padding: 0 10px;
    margin: 0 0 30px;
    width: 20%;
  }
}
@media screen and (max-width: 900px) {
  .member-box {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .member-box:nth-child(3n) {
    margin-right: 30px;
  }
  .member-box:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .banner-video-area {
    padding: 10px;
    height: auto;
  }
  .banner-video-box {
    width: 80%;
    margin: 0 auto;
  }
  .banner-video-cont {
    width: 100%;
    position: relative;
    left: 0;
    transform: translateY(0);
  }
  .banner-video-info {
    width: 100%;
    margin: 10px 0 0;
    max-height: auto;
  }
  #bannerVideoInfo .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
  .banner-video-btn-box {
    width: 40px;
  }
  .banner-video-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .banner-video-close-box {
    width: 40px;
    text-align: center;
  }
  .banner-video-close {
    padding: 10px;
    display: inline-block;
  }
  .banner-page-box {
    margin: 5px 0 0;
  }
  .ind-wrap {
    margin-bottom: 50px;
  }
  .tit-box h2, .tit-box h3 {
    font-size: 28px;
    padding: 5px 0;
  }
  .ind-main-news-box .ind-news-img, .ind-main-news-box .ind-news-cont {
    width: 100%;
  }
  .ind-main-news-box .ind-news-img {
    margin: 0;
  }
  .ind-news-cont .tit {
    margin: 10px 0;
  }
  .ind-news-box .ind-news-img-box {
    width: 100%;
    margin: 0 0 15px;
  }
  .ind-news-box .ind-news-img {
    width: 100%;
    padding-bottom: 65%;
  }
  .ind-news-box .ind-news-info {
    width: 100%;
  }
  .ind-main-earth-box .ind-earth-img-box, .ind-main-earth-box .ind-earth-info {
    width: 100%;
  }
  .ind-main-earth-box .ind-earth-img-box {
    margin: 0 0 20px;
  }
  .ind-earth-box .ind-earth-date {
    height: auto;
    padding: 15px;
  }
  .ind-earth-box .ind-earth-img-box, .ind-earth-box .ind-earth-info-area {
    width: 100%;
  }
  .ind-earth-box .ind-earth-img-box {
    margin: 0 0 20px;
  }
  .ind-earth-box .earth-tag {
    margin: 0 0 10px;
  }
  .ind-earth-img {
    transition: 0.2s;
  }
  .ind-earth-img:hover {
    opacity: 0.8;
  }
  .ind-earth-img .cover {
    opacity: 1;
    background: none;
  }
  .ind-earth-img .add-date.pc {
    display: none;
  }
  .add-date.mb {
    display: block;
  }
  .earth-type-area {
    margin: 0 0 25px;
  }
  .earth-type-box {
    width: 50%;
    margin: 0 0 10px;
  }
  .earth-type-box:nth-child(2n):after {
    display: none;
  }
  .earth-type-box .txt {
    width: calc(100% - 35px);
  }
  .arr-sw-area {
    padding: 0 20px;
  }
  .arr-sw-area .swiper-button-prev, .arr-sw-area .swiper-button-next {
    top: 50%;
    transform: translateY(-50%);
  }
  .arr-sw-area .swiper-button-prev img, .arr-sw-area .swiper-button-next img {
    width: 40px;
  }
  .page-tit-wrap .page-cont {
    height: 150px;
  }
  .page-tit-wrap h2 {
    font-size: 28px;
  }
  .bread-box {
    margin: 0 0 30px;
  }
  .page-tit-box .tit {
    font-size: 28px;
  }
  .page-tit-box .tit.line {
    padding: 0 0 20px;
  }
  .mb-select-area {
    display: block;
  }
  .pc-side-box {
    display: none;
  }
  .page-column-side {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
    position: relative;
    top: 0;
  }
  .page-column-cont {
    width: 100%;
  }
  .member-name-box {
    padding: 15px;
  }
  .member-info {
    padding: 10px 15px;
  }
  .member-cont-img-box {
    display: none;
  }
  .member-main-info-cont {
    padding-top: 0;
    margin-bottom: 30px;
  }
  .member-main-cont {
    width: 100%;
  }
  .member-main-cont .member-cont-img {
    display: block;
  }
  .member-main-name-box {
    margin: 0 0 15px;
  }
  .member-main-name-box .name {
    margin: 0 0 15px;
  }
  .member-main-info .item {
    margin: 0 0 10px;
  }
  .page-sup-tab-area .tab {
    padding: 10px 15px;
    margin-right: 10px;
  }
  .about-video-cont, .about-txt-cont {
    width: 100%;
  }
  .about-video-cont {
    margin: 0 0 30px;
  }
  .page-sup-tit {
    font-size: 20px;
  }
  .about-video-box {
    padding: 0 0 30px;
    margin: 0 0 30px;
  }
  .about-video-box:last-child {
    padding: 0;
  }
  .about-video-box .page-sup-tit {
    margin: 0 0 10px;
  }
  .develop-page-tit {
    width: calc(100% - 180px);
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
  .develop-page-tit .page-sup-tit {
    margin: 0 0 5px;
  }
  .develop-main {
    margin: 0;
  }
  .develop {
    margin: 0;
    transform: translateX(25px);
  }
  .develop-info-box {
    width: calc(100% - 170px);
    left: auto;
    right: 0;
  }
  .develop-info-box .tit {
    margin: 0 0 5px;
  }
  .develop-box:nth-child(even) .develop-info-box {
    text-align: left;
    border-left: 5px solid #000;
    border-right: none;
    left: auto;
    right: 0;
  }
  .page-contact-info-box {
    margin: 0 0 50px;
  }
  .page-contact-info-list {
    padding: 0 15px;
    width: 100%;
    margin-right: 0;
  }
  .page-contact-input-area {
    padding: 0;
  }
  .page-contact-column {
    width: 100%;
    margin: 0 0 30px;
  }
  .page-contact-column:last-child {
    margin: 0;
  }
  .page-btn-submit {
    width: 100%;
  }
  .study-txt {
    padding: 20px;
  }
  .study-result-area .page-tit-box {
    margin: 0 0 30px;
  }
  .study-result-list .earth-sw-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .study-result-list .earth-sw-box:nth-child(3n) {
    margin-right: 0;
  }
  .info-server-area .page-tit-box {
    margin: 0 0 30px;
  }
  .info-server-box {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }
  .info-server-box:nth-child(3n) {
    margin-right: 0;
  }
  .info-server-box .tit {
    font-size: 20px;
  }
  .info-server-box .cont {
    margin: 15px 0;
  }
  .web-link-area .page-tit-box {
    margin: 0 0 30px;
  }
  .web-link-box {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .web-link-box:nth-child(3n) {
    margin-right: 30px;
  }
  .web-link-box .tit {
    font-size: 20px;
  }
  .news-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }
  .page-w .news-page-tit {
    margin: 0 0 20px;
  }
  .news-banner, .news-txt-cont {
    width: 100%;
  }
  .news-banner {
    transform: translateY(0px);
    margin: 0 0 30px;
    position: relative;
    top: 0;
  }
  .news-txt-tit-box {
    margin: 0 0 30px;
  }
  .news-txt-tit-box .tit {
    font-size: 20px;
  }
  .page-earth-area .date {
    margin: 10px 0 25px;
  }
  .page-earth-area .tit {
    font-size: 20px;
    margin: 0 0 30px;
  }
  .page-earth-video {
    top: 0;
  }
  .speech-box .ind-earth-box {
    width: 100%;
    padding: 0 0 20px;
    border-right: none;
  }
  .speech-box .add-date-box {
    padding: 0;
    width: 100%;
  }
  .page-plan .page-cont {
    height: 200px;
  }
  .plan-info-box {
    width: 50%;
    margin: 0 0 50px;
  }
  .plan-info-box:nth-child(3), .plan-info-box:nth-child(4) {
    margin: 0;
  }
  .plan-more-info-cont {
    margin-bottom: 50px;
  }
  .plan-mem {
    margin: 0 20px 15px;
  }
  .footer-link-area {
    padding: 50px 0 10px;
  }
  .footer-box {
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  .nav-top {
    margin: 0 0 8px;
  }
  .nav-top a {
    font-size: 14px;
    margin: 0 0 0 8px;
  }
  .hamburger {
    margin-left: 5px;
  }
  .main-wrap {
    padding: 0 25px;
  }
  .sw-banner-wrap {
    padding: 20px 25px;
  }
  .tit-box {
    margin: 0 0 20px;
  }
  .tit-box h2, .tit-box h3 {
    font-size: 24px;
  }
  .ind-news-box .ind-news-cont {
    width: calc(100% - 75px);
  }
  .ind-wrap03 {
    padding-top: 30px;
  }
  .arr-sw-area {
    padding: 0 10px;
  }
  .arr-sw-area .swiper-button-prev, .arr-sw-area .swiper-button-next {
    padding: 10px;
  }
  .arr-sw-area .swiper-button-prev img, .arr-sw-area .swiper-button-next img {
    width: 30px;
  }
  .tit-wrap04 {
    margin: 0 0 5px;
  }
  .page-tit-wrap .page-cont {
    height: 100px;
  }
  .page-tit-wrap h2 {
    font-size: 24px;
    bottom: 10px;
  }
  .page-main-wrap {
    padding-top: 10px;
  }
  .bread-box {
    margin: 0 0 20px;
  }
  .page-tit-box .tit {
    font-size: 24px;
  }
  .page-tit-box .tit.line {
    padding: 0 0 10px;
  }
  .page-w .page-tit-box {
    margin: 0 0 10px;
  }
  .member-box {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .member-box:nth-child(3n) {
    margin-right: 20px;
  }
  .member-box:nth-child(2n) {
    margin-right: 0;
  }
  .member-name-box {
    padding: 10px;
  }
  .member-info {
    padding: 10px;
  }
  .member-sup-box {
    width: 100%;
    margin-right: 0;
  }
  .member-sup-box:nth-child(3n) {
    margin-right: 0;
  }
  .member-sup-box:nth-child(2n) {
    margin-right: 0;
  }
  .member-main-txt {
    padding: 10px;
  }
  .more-hide {
    padding-bottom: 40px;
  }
  .page-sup-area {
    padding: 20px 0;
  }
  .page-sup-tab-area .tab {
    font-size: 15px;
    padding: 5px 12px;
    margin-right: 5px;
  }
  .page-sup-inner {
    font-size: 13px;
  }
  .develop-main {
    font-size: 32px;
    width: 100px;
    height: 100px;
    line-height: 90px;
    border-width: 5px;
  }
  .develop-main:after {
    width: 10px;
    top: 92px;
  }
  .develop-page-tit {
    width: calc(100% - 110px);
  }
  .develop-page-tit .page-sup-tit {
    font-size: 18px;
  }
  .develop-page-tit .develop-p {
    font-size: 16px;
  }
  .develop {
    font-size: 26px;
    width: 80px;
    height: 80px;
    line-height: 70px;
    border-width: 5px;
    transform: translateX(10px);
  }
  .develop:after {
    width: 10px;
    top: 72px;
  }
  .develop-info-box {
    width: calc(100% - 100px);
    padding: 0 10px;
  }
  .develop-info-box .tit {
    font-size: 16px;
  }
  .develop-info-box .info {
    font-size: 14px;
  }
  .study-txt {
    padding: 10px;
  }
  .study-result-area .page-tit-box {
    margin: 0 0 20px;
  }
  .web-link-box {
    width: 100%;
    margin-right: 0;
  }
  .web-link-box:nth-child(3n) {
    margin-right: 0;
  }
  .news-box {
    margin-bottom: 40px;
  }
  .news-img {
    width: 40%;
    height: 0;
    padding-bottom: 27%;
  }
  .news-cont {
    width: calc(60% - 10px);
  }
  .news-cont .date {
    margin: 10px 0 5px;
  }
  .page-plan .page-cont {
    height: 150px;
  }
  .plan-info-cont {
    margin: 60px 0 0;
  }
  .page-plan-sw-area .tit-box {
    margin: 10px auto;
  }
  .plan-about .tit {
    font-size: 20px;
  }
  .plan-mem-area {
    margin: 0 0 50px;
  }
  .plan-mem-tit .tit {
    margin: 0 0 20px;
    font-size: 20px;
  }
  .footer-box {
    width: 33.3333333333%;
  }
  .footer-info-box {
    width: 100%;
    margin: 0 0 20px;
  }
  .footer-info-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-info-logo a.logo {
    margin: 0 20px 0 0;
  }
}
@media screen and (max-height: 770px) {
  .column-side-list li {
    font-size: 15px;
    margin: 0 0 10px;
  }
  .column-side-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
