.main-wrap.footer-wrap
    .gotop#goTop
        img(src="img/gotop.svg", alt="")
    footer
        .footer-link-area
            -const footer01={'tit':'關於本所','list':[{'name':'本所簡介','link':'about.html'},{'name':'發展沿革','link':'develop.html'},{'name':'主管簡介','link':'director_info.html'},{'name':'聯絡我們','link':'contact.html'}]};
            +footerBox(footer01)
            -const footer02={'tit':'成員','list':[{'name':'研究人員','link':'member_list.html#1','id':'footerMemBtn1'}, {'name':'研究技術人員','link':'member_list.html#2','id':'footerMemBtn2'}, {'name':'駐所、訪問學者','link':'member_list.html#3','id':'footerMemBtn3'}, {'name':'博士後研究','link':'member_list.html#4','id':'footerMemBtn4'}, {'name':'學術諮詢委員','link':'member_list.html#5','id':'footerMemBtn5'}, {'name':'合聘、兼任及通信研究人員','link':'member_list.html#6','id':'footerMemBtn6'}, {'name':'研究助理','link':'member_list.html#7','id':'footerMemBtn7'}, {'name':'行政人員','link':'member_list.html#8','id':'footerMemBtn8'}, {'name':'TIGP研究生','link':'member_list.html#9','id':'footerMemBtn9'}, {'name':'退休研究人員','link':'member_list.html#10','id':'footerMemBtn10'}, {'name':'地球所友','link':'member_list.html#11','id':'footerMemBtn11'}]};
            +footerBox(footer02)
            -const footer03={'tit':'研究','list':[{'name':'研究領域','link':'study_area.html'}, {'name':'研究計畫','link':'plan.html'}, {'name':'學術出版','link':'academic_list.html'}, {'name':'TIGP學程','link':'tigp.html'}, {'name':'實驗室','link':'laboratory.html'}, {'name':'觀測網 / 設備 ','link':'observation.html'}]};
            +footerBox(footer03)
            -const footer04={'tit':'資料服務','list':[{'name':'資料服務','link':'info_server.html'},{'name':'儀器服務','link':'info_server.html#s2','id':'footerInfoBtn2'},{'name':'即時系統','link':'info_server.html#s3','id':'footerInfoBtn3'}]};
            +footerBox(footer04)
            -const footer05={'tit':'圖書館','list':[{'name':'地球所圖書館','link':'###','blank':true},{'name':'中研院圖書館','link':'###','blank':true}]};
            +footerBox(footer05)
            -const footer06={'tit':'推廣教育','list':[{'name':'地球部落','link':'earth_list.html'},{'name':'專題報導','link':'topic_list.html'},{'name':'大學生研習計畫','link':'study_plan.html'}]};
            +footerBox(footer06)
            -const footer07={'tit':'所內專區','list':[{'name':'相關連結','link':'web_link.html'}, {'name':'電子信箱','link':'###'}, {'name':'IES行事曆','link':'ies_calendar.html'}, {'name':'IES活動記錄','link':'###'}, {'name':'三十周年專刊','link':'###'}, {'name':'Logo(小)','link':'###'}, {'name':'Logo(大)','link':'###'}]};
            +footerBox(footer07)
        .footer-info-area
            .footer-info-box
                .tit Contact
                ul.list
                    li tin2868@earth.sinica.edu.tw
                    li Tel:+886-2-2783-9910ext.1303
                    li 11529 台北市南港區研究院路二段128號
                .local-box
                    .icon
                        img(src="img/icon_f_location.svg", alt="")
                    a(href="###") 本院位置及交通資訊
                a(href="###").logo
                    img(src="img/logo_cce.jpg", alt="")
            .footer-info-logo
                .txt
                    a(href="personal_info.html") 保有個人資料檔案公開項目彙整表
                a(href="###").logo
                    img(src="img/logo_aca.jpg", alt="")
                .logo
                    img(src="img/logo_footer.svg", alt="")
        .copyright © 2022 中央研究院 地球科學研究所 All Rights Reserved.