head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- 設定給手機device用
    meta(name="viewport", content="width=device-width,initial-scale=1.0, user-scalable=no")
    meta(name="title" content="中央研究院 地球科學研究所")
    meta(name="description" content="中央研究地球科學研究所")
    meta(name="Copyright" content="© 2022")
    //- FB分享設定
    meta(property="og:title" content="中央研究院 地球科學研究所")
    meta(property="og:site_name" content="")
    meta(property="og:url" content="")
    meta(property="og:description" content="中央研究院 地球科學研究所")
    meta(property="og:image" content="")
    meta(property="og:type" content="website")
    //- https://developers.facebook.com/tools/debug (Facebook測試的og屬性的地方)
    title 中央研究院 地球科學研究所
    //- 頁籤icon
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    //- JS
    script(src="js/jquery-1.11.0.min.js")
    //- script(src="../js/jquery-3.1.1.min.js")
    //- 驗證
    script(src="js/jquery.validate.min.js")
    script(src="js/additional-methods.min.js")
    script(src="js/messages_zh_TW.js")
    //- 輪播swiper
    script(src="js/swiper.min.js")
    //- 自定義滾輪
    script(src="js/jquery.mCustomScrollbar.concat.min.js")
    //- 日期選擇器
    //- script(src="../js/datepicker.min.js")
    //- script(src="../js/i18n/datepicker.en.js")
    //- script(src="../js/i18n/datepicker.zh.js")

    script(src="js/common.js")

    //- CSS
    //- FONT文字
    link(rel="stylesheet", href="css/all.min.css")
    //- 漢堡CSS https://jonsuh.com/hamburgers/
    link(rel="stylesheet", href="css/hamburgers.min.css")
    //- 滾輪自定義
    link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
    //- swiper
    link(rel="stylesheet", href="css/swiper.min.css")
    //- 日期選取器
    //- link(rel="stylesheet", href="../css/datepicker.min.css")
    //- photoSwiper
    link(rel="stylesheet", href="css/photoswipe.css")

    link(rel="stylesheet", href="css/sty.css")
    //- link(rel="stylesheet", href="../css/pugnote.css")