//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

mixin tit(data)
    .tit-blur-area(class=data.isBtn?"tit":undefined)
        img(src="img/"+data.img, alt="")
        .tit-blur-box
            .tit-blur
                .tit #{data.tit}
                .sup !{data.sup}

//- nav第二層
mixin navSup(data)
    .item.more(id=data.btnId+'Btn')
        span #{data.name}
        .mb-nav
            if isBlank
                each n in data.supLink
                    a(href=n.link id=n.btnMbId target="_blank") #{n.name}
            else
                each n in data.supLink
                    a(href=n.link id=n.btnMbId) #{n.name}

//- 最新消息列表
mixin indNewsBox(data)
    a(href="news_cont.html").ind-news-box
        .ind-news-img-box
            .ind-news-img(style="background-image: url(img/"+data.img+")")
        .ind-news-info
            .news-tag #{data.tag}
            .ind-news-cont
                .tit #{data.tit}
                .date 2022/03/14

//- 演講會列表
mixin indEarthBox(data)
    a(href="speech_cont.html").ind-earth-box
        .ind-earth-img-box
            .ind-earth-img
                .ind-earth-date
                    .day 14
                    .mon APR
                    .time 14:30
                    <i class="fas fa-calendar-alt"></i>
                img(src="img/"+data.img, alt="")
        .ind-earth-info-area
            .earth-tag #{data.tag}
            .ind-earth-info
                .date 2022/4/14 14：30
                .tit Geoclub｜Dr. Thi Hue Dinh / Mr. Pallab Roy
                .info 主講人：Mr. Sebastian Wege, Ms. Hue Anh Mai

//- 地球所sw Box
mixin earthSwBox(data)
    .earth-sw-box
        .earth-sw-img
            img(src="img/"+data.img, alt="")
        .earth-sw-info
            .tit #{data.tit}
            .cont #{data.cont}
        .earth-sw-more
            .name-box
                .icon
                    img(src="img/"+data.memImg, alt="")
                .name #{data.name}
            a(href="study_cont.html").more
                span 瞭解更多
                .icon
                    img(src="img/icon_more.svg", alt="")

//- 演講會sw Box
mixin earthVideoSwBox(data)
    .earth-video-sw-box
        .earth-video-sw
            iframe(src="https://www.youtube.com/embed/e_uzD4ilt7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .earth-video-sw-info
            a(href="earth_cont.html").tit #{data.tit}
            .date-box
                .date 2022/02/23
                .time 16m57s

//- footer Box
mixin footerBox(data)
    .footer-box
        .tit #{data.tit}
        ul.list
            each n in data.list
                li
                    if n.id
                        a(href=n.link id=n.id) #{n.name}
                    else
                        if n.blank
                            a(href=n.link target="_blank") #{n.name}
                        else
                            a(href=n.link) #{n.name}

//-麵包屑
mixin breadBox(data)
    .bread-box
        a(href="index.html") 首頁
        span /
        each n in data.link
            a(href=n.link) #{n.name}
            span /
        span.act #{data.act}

//-成員box
mixin memberBox(data)
    a(href="member_cont.html").member-box
        .member-img
            img(src="img/"+data.img, alt="")
            .member-name-box
                .tit #{data.tit}
                .name-box
                    span.name #{data.name}
                    span.en / #{data.nameEn}
        .member-info
            .info-box
                .tit 研究領域
                .cont #{data.cont}
            if data.time
                .info-box
                    .tit 任職期間
                    .cont 2006-8-29 ~ 2017-12-31

//-成員文字box
mixin memberSupBox(data)
    .member-sup-box
        .member-sup-cont
            .office #{data.office}
            .name-box
                .name #{data.name}
                .en / #{data.nameEn}
            ul.member-sup-info
                li
                    .icon
                        img(src="img/icon_phone.svg", alt="")
                    .txt +886-2-2783-9910 ext. 1307
                li
                    .icon
                        img(src="img/icon_mail.svg", alt="")
                    .txt namietseng@earth.sinica.edu.tw

//-發展年box
mixin developBox(data)
    .develop-box(data-aos="fade-up" data-aos-duration="800")
        .develop #{data.year}
        .develop-info-box
            .tit #{data.tit}
            .info !{data.info}

//-資訊服務box
mixin infoServerBox(data)
    .info-server-box
        .tit #{data.tit}
        .info-server-img
            img(src="img/"+data.img, alt="")
        .cont #{data.cont}
        .icon-link-box
            .icon
                img(src="img/icon_link.svg", alt="")
            .link
                a(href=data.link target="_blank") #{data.link}

//-相關連結box
mixin webLinkBox(data)
    .web-link-box
        .tit #{data.tit}
        .icon-link-box
            .icon
                img(src="img/icon_link.svg", alt="")
            .link
                a(href=data.link target="_blank") #{data.link}

//- 最新消息列表box
mixin newsBox(data)
    a(href="news_cont.html").news-box
        .news-img
            img(src="img/"+data.img, alt="")
        .news-cont
            .news-tag #{data.tag}
            .date #{data.date}
            .tit #{data.tit}

//- 地球部落列表box
mixin earthListBox(data)
    a(href="earth_cont.html").news-box
        .news-img
            img(src="img/"+data.img, alt="")
        .news-cont.earth-cont
            .date
                div #{data.date}
                div #{data.mins}
            .tit #{data.tit}

//- 地球部落banner box
mixin earthBannerBox(data)
    .ind-main-earth-box
        .ind-earth-img-box
            .ind-earth-img
                .ind-earth-date
                    .day 14
                    .mon APR
                    .time 14:30
                    <i class="fas fa-calendar-alt"></i>
                a(href="speech_cont.html").cover
                .add-date.pc <i class="fas fa-calendar-alt"></i> 加入行事曆
                img(src="img/"+data.img, alt="")
            .add-date.mb <i class="fas fa-calendar-alt"></i> 加入行事曆
        a(href="speech_cont.html").ind-earth-info
            .earth-tag #{data.tag}
            .date 2022/4/14 14：30
            .tit #{data.tit}
            .info 主講人：#{data.name}

//-頁碼
mixin pagination
    .pagination-box
        a(href="###").page <i class="far fa-angle-left"></i>
        a(href="###").page.act 1
        a(href="###").page 2
        a(href="###").page 3
        a(href="###").page 4
        a(href="###").page 5
        .page.center ...
        a(href="###").page 12
        a(href="###").page <i class="far fa-angle-right"></i>
    .pagination-select-box
        .txt 每頁
        .select
            select#pageNum.page-sel(name="pageNum")
                option(value="10") 10
                option(value="20") 20
                option(value="50") 50
        .txt 筆

//-頁碼2
mixin paginationNum
    .pagination-box
        a(href="###").page <i class="far fa-angle-left"></i>
        a(href="###").page.act 1
        a(href="###").page 2
        a(href="###").page 3
        a(href="###").page 4
        a(href="###").page 5
        .page.center ...
        a(href="###").page 12
        a(href="###").page <i class="far fa-angle-right"></i>

//- 演講所內頁列表
mixin speechBox(data)
    .speech-box
        +indEarthBox(data)
        .add-date-box
            .add-date <i class="fas fa-calendar-alt"></i> 加入行事曆

//- 專題報導列表box
mixin topicListBox(data)
    a(href="topic_cont.html").news-box
        .news-img
            img(src="img/"+data.img, alt="")
        .news-cont.topic-cont
            .date #{data.date}
            .tit #{data.tit}
            .author By <span>#{data.author}</span>

//- 研究計畫icon資訊
mixin planInfoBox(data)
    .plan-info-box
        .tit
            .block
                span #{data.tit1}
            .line #{data.tit2}
        .icon
            img(src="img/"+data.img, alt="")
        .txt !{data.txt}

//- 研究計畫icon資訊
mixin planMem(data)
    .plan-mem
        .img-box
            img(src="img/"+data.img, alt="")
        .name #{data.name}

//- 主管簡介
mixin directorBox(data)
    .director-box
        .director-img
            img(src="img/"+data.img, alt="")
        .director-info
            .director-info-top
                .director-name
                    .tit #{data.name}
                    span #{data.nameSup}
                .director-txt
                    .tit !{data.tit}
                    .txt #{data.txt}
            .director-info-bot
                .director-info-box
                    .tit MAIL
                    .cont #{data.mail}
                .director-info-box
                    .tit TEL
                    .cont #{data.tel}
                .director-info-box
                    .tit FAX
                    .cont #{data.fax}

//- 活動紀錄
mixin eventBox(data)
    a(href="ies_event_cont.html").event-box
        .event-img
            img(src="img/"+data.img, alt="")
        .event-tit #{data.tit}
        .event-txt #{data.txt}
        .event-date #{data.date}

//- 活動紀錄相本
mixin eventPhotoBox(data)
    .event-photo-box
        a(href="ies_photo_list.html").img-box
            .view-btn 點擊查看
            img(src="img/"+data.img, alt="")
        .tit #{data.tit}

//- 網站導覽
mixin sitemapBox(data)
    .sitemap-box
        .tit #{data.tit}
        ul.list
            each n in data.links
                li
                    if n.isOut
                        a(href=n.url target="_blank") #{n.name}
                    else
                        a(href=n.url) #{n.name}
                    