.header-wrap
    .header-area
        .header-cont
            a(href="index.html").logo
                h1 中央研究地球科學研究所
                img(src="img/logo.svg", alt="")
            .nav-area
                .nav-main
                    .nav-top
                        a(href="###")
                            .icon
                                img(src="img/icon_web.svg", alt="")
                            span 網站導覽
                        a(href="###")
                            span 中央研究院
                        a(href="###") <i class="fas fa-search"></i>
                    .nav-bot
                        nav#navItem
                            h2.ht
                                span 中央研究地球科學研究所 導航列
                            -const nav01={'name':'首頁','link':'index.html'};
                            a.item(href=nav01.link)
                                span #{nav01.name}
                            -const nav02={'btnId':'navAbout','name':'關於本所','supLink':[{'name':'本所簡介','link':'about.html'},{'name':'發展沿革','link':'develop.html'},{'name':'主管簡介','link':'director_info.html'},{'name':'聯絡我們','link':'contact.html'}]};
                            +navSup(nav02)
                            -const nav03={'btnId':'navNews','name':'最新消息','supLink':[{'name':'全部','link':'news_list.html'},{'name':'公告','link':'###'},{'name':'榮譽','link':'###'},{'name':'徵才','link':'###'}]};
                            +navSup(nav03)
                            -const nav04={'btnId':'navSpeech','name':'演講','supLink':[{'name':'全部','link':'speech_list.html'},{'name':'地球所演講','link':'###'},{'name':'地化討論會','link':'###'},{'name':'地震討論會','link':'###'},{'name':'地物討論會','link':'###'}]};
                            +navSup(nav04)
                            -const nav05={'btnId':'navMember','name':'成員','supLink':[{'name':'研究人員','link':'member_list.html#m1','btnId':'navMemBtn1','btnMbId':'navMbMemBtn1'},{'name':'研究技術人員','link':'member_list.html#m2','btnId':'navMemBtn2','btnMbId':'navMbMemBtn2'},{'name':'駐所、訪問者學者','link':'member_list.html#m3','btnId':'navMemBtn3','btnMbId':'navMbMemBtn3'},{'name':'博士後研究','link':'member_list.html#m4','btnId':'navMemBtn4','btnMbId':'navMbMemBtn4'},{'name':'學術諮詢委員','link':'member_list.html#m5','btnId':'navMemBtn5','btnMbId':'navMbMemBtn5'}]};
                            +navSup(nav05)
                            -const nav06={'btnId':'navStudy','name':'研究','supLink':[{'name':'研究領域','link':'study_area.html'},{'name':'研究計畫','link':'plan.html'},{'name':'學術出版','link':'academic_list.html'},{'name':'TIGP學程','link':'tigp.html'},{'name':'實驗室','link':'laboratory.html'},{'name':'觀測網/設備','link':'observation.html'}]};
                            +navSup(nav06)
                            -const nav07={'btnId':'navInfo','name':'資訊服務','supLink':[{'name':'資訊服務','link':'info_server.html'},{'name':'儀器服務','link':'info_server.html#s2','btnId':'navInfoBtn2','btnMbId':'navMbInfoBtn2'},{'name':'即時系統','link':'info_server.html#s3','btnId':'navInfoBtn3','btnMbId':'navMbInfoBtn3'}]};
                            +navSup(nav07)
                            -const nav08={'btnId':'navLibrary','name':'圖書館','isBlank':true,'supLink':[{'name':'地球所圖書館','link':'###'},{'name':'中研院圖書館','link':'###'}]};
                            +navSup(nav08)
                            -const nav09={'btnId':'navPromote','name':'推廣教育','supLink':[{'name':'地球部落','link':'earth_list.html'},{'name':'專題報導','link':'topic_list.html'},{'name':'大學生研習計畫','link':'study_plan.html'}]};
                            +navSup(nav09)
                            //- -const nav07={'name':'圖書館','link':'###'};
                            //- a.item(href=nav07.link)
                            //-     span #{nav07.name}
                            //- -const nav08={'name':'推廣教育','link':'###'};
                            //- a.item(href=nav08.link)
                            //-     span #{nav08.name}
                            -const nav10={'btnId':'navInner','name':'所內專區','supLink':[{'name':'相關連結','link':'web_link.html'},{'name':'電子信箱','link':'###'},{'name':'IES行事曆','link':'ies_calendar.html'},{'name':'IES活動紀錄','link':'###'},{'name':'三十週年專刊','link':'###'},{'name':'Logo(小)','link':'###'},{'name':'Logo(大)','link':'###'}]};
                            +navSup(nav10)
                        .lang-box
                            .icon <i class="fal fa-globe"></i>
                            a(href="###").act 中文
                            span /
                            a(href="###") EN
                //- 漢堡
                button(class="hamburger hamburger--squeeze" type="button" id="hamBtn")
                    span(class="hamburger-box")
                        span(class="hamburger-inner")
        //-- 關於本所
        .sup-nav-area#navAboutList
            .sup-nav-box.sup-nav-box02
                each n in nav02.supLink
                    a(href=n.link) #{n.name}
        //-- 最新消息
        .sup-nav-area#navNewsList
            .sup-nav-box.sup-nav-box03
                each n in nav03.supLink
                    a(href=n.link) #{n.name}
        //-- 演講
        .sup-nav-area#navSpeechList
            .sup-nav-box.sup-nav-box04
                each n in nav04.supLink
                    a(href=n.link id=n.btnId) #{n.name}
        //-- 成員
        .sup-nav-area#navMemberList
            .sup-nav-box.sup-nav-box05
                each n in nav05.supLink
                    a(href=n.link id=n.btnId) #{n.name}
        //-- 研究
        .sup-nav-area#navStudyList
            .sup-nav-box.sup-nav-box06
                each n in nav06.supLink
                    a(href=n.link) #{n.name}
        //-- 資訊服務
        .sup-nav-area#navInfoList
            .sup-nav-box.sup-nav-box07
                each n in nav07.supLink
                    a(href=n.link id=n.btnId) #{n.name}
        //-- 圖書館
        .sup-nav-area#navLibraryList
            .sup-nav-box.sup-nav-box08
                each n in nav08.supLink
                    a(href=n.link) #{n.name}
        //-- 推廣教育
        .sup-nav-area#navPromoteList
            .sup-nav-box.sup-nav-box09
                each n in nav09.supLink
                    a(href=n.link) #{n.name}
        //-- 所內專區
        .sup-nav-area#navInnerList
            .sup-nav-box.sup-nav-box10
                each n in nav10.supLink
                    a(href=n.link) #{n.name}
                    
                    
                    
                    
                //-n 是值 i 是KEY
                //- each n,i in nav
                //-     a(href=n)= i