include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 本所簡介','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 關於本所
                .page-sup-tab-area
                    a(href="about.html").tab.act 關於本所
                    a(href="develop.html").tab 發展沿革
                    a(href="director_info.html").tab 主管簡介
                    a(href="contact.html").tab 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .about-wrap
                        .about-video-cont
                            .about-video-box
                                .page-sup-tit 地球所簡介影片 
                                .video-box
                                    iframe(src="https://www.youtube.com/embed/N7YdaNGYbw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            .about-video-box
                                .page-sup-tit 中研院簡介影片<span>1分鐘</span>版 
                                .video-box
                                    iframe(src="https://www.youtube.com/embed/4NUjzge_SiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            .about-video-box
                                .page-sup-tit 中研院簡介影片<span>3分鐘</span>版 
                                .video-box
                                    iframe(src="https://www.youtube.com/embed/1Hy4wTY2gFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        .about-txt-cont
                            p 中央研究院是政府在台灣最高學術研究單位，包括數理科學、生命科學、及人文科學。地球科學研究所成立於西元1982年，是中研院約三十多個研究所、研究所籌備處、及研究中心之一。 
                            p 1971年9月「行政院國家科學委員會地震專案小組」正式成立，利用向台灣大學海洋研究所借用的兩間研究室開展觀測和研究工作。1973年1月，位於台灣大學海洋研究所西側的地震研究大樓建成啟用。1973年4月「地震專案小組」改隸「中央研究院物理所地震組」。1976年7月1日成立「地球科學研究所籌備處」，由蔡義本先生擔任籌備處主任，初期研究內容涵蓋地震學、重力地磁學、大地測量學、古地磁學、以及同位素地球化學。六年以後，「地球科學研究所」於1982年8月1日正式成立。1993年10月地球所由台灣大學校區搬遷至今天的南港中研院院區。
                            p 地球科學研究所目前有27位研究人員、7位研究技師、5位駐所客座研究學者、30多位博士後研究學者、近100位約聘研究助理、以及10多位行政及電子室人員支援系統人員等。
                            p 台灣及鄰近地區乃是世上罕見的地殼劇烈活動及氣候變化帶，為地球科學研究提供了最佳的天然實驗場所，讓我們可以用最精密的地球物理及化學理論、觀測、實驗以及模擬來瞭解各種地球科學現象的本質。地球所研究領域長期以來著重在固體地球物理及化學，也兼顧海洋及氣候變遷。近期之研究内容大致包括觀測與理論地震學、地質與板塊構造學、地球與宇宙化學、活動大地構造學、地球動力學、高溫高壓晶體學、地表作用過程等。地球所的研究範圍亦逐步拓展到東南亞以及歐亞各國，研究的領域也延伸到地球核心，甚至地球以外的星際成因主題。
                            p 地球科學研究所的研究人員常規性與各大學之地球科學進行合作研究計畫。雖然沒有直接的教學任務，但研究人員們都積極參與各層級的教育，無論是研究生的訓練、大專生的實習，以至高中層級的教育推廣，同時也協助參與中研院在地球科學系統方面的國際研究生學程TIGP之博士生培育計畫。在研究計畫和專業人員交流上，地球所和中研院的環境變遷中心維持密切合作關係。



        include includes/footer
//- script.
//-     $(document).ready(function(){
        
//-     });