include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 研究
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'研究 - 學術出版','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 學術出版
                .academic-year-box
                    .tit 年份篩選
                    select#academicYear(name="academicYear").academic-year-sel
                        option(value="2022") 2022
                        option(value="2021") 2021
                        option(value="2020") 2020
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .academic-area
                        ul.academic-list
                            li Rehman, H. U., H. Yamamoto, T. Mateen, K. Okamoto,<b>T. F. Yui</b>, M. Terabayashi and K. Nanamura (2022) Oxygen isotope data of quartz from San-yo and Ryoke belt granites, schists, and siliceous veins: constraining the effects of O-18-rich fluids on granitic magma Episodes 45(2), 147-159, <a href="https://doi.org/10.18814/epiiugs/2021/021012", target="_blank", rel="noopener noreferrer">https://doi.org/10.18814/epiiugs/2021/021012</a>
                            li Hsieh, W. P., E. Marzotto, T. Ishii, L. Dubrovinsky, A. A. Aslandukova, G. Criniti, Y. C. Tsao, C. H. Lin, J. Tsuchiya and E. Ohtani (2022) Low Thermal Conductivity of Hydrous Phase D Leads to a Self-Preservation Effect Within a Subducting Slab Journal of Geophysical Research-Solid Earth 127(6), <a href="https://doi.org/10.1029/2022JB024556", target="_blank", rel="noopener noreferrer">https://doi.org/10.1029/2022JB024556</a>
                            li <b>Wege, S., C. P. Legendre, W. C. Chi</b>, T. K. Wang, P. Kunath and C. S. Liu (2022) Field and Synthetic Waveform Tests on Using Large-Offset Seismic Streamer Data to Derive Shallow Seabed Shear-Wave Velocity and Geotechnical Properties Earth and Space Science 9(6), <a href="https://doi.org/10.1029/2021EA002196", target="_blank", rel="noopener noreferrer">https://doi.org/10.1029/2021EA002196</a>
                            li Chou, M. L., H. Y. Tseng, <b>C. H. Wang</b> and Z. Y. Hseu (2022) Identification of the water source and groundwater recharge in a paddy field using stable hydrogen and oxygen isotopes Water Supply, <a href="https://doi.org/10.2166/ws.2022.232", target="_blank", rel="noopener noreferrer">https://doi.org/10.2166/ws.2022.232</a>
                            li <b>Lin, H. F.</b>, Y. F. Hsu and <b>A. Canitano</b> (2022) Source Modeling of the 2009 Fengpin-Hualien Earthquake Sequence, Taiwan, Inferred From Static Strain Measurements Pure and Applied Geophysics, <a href="https://doi.org/10.1007/s00024-022-03068-y", target="_blank", rel="noopener noreferrer">https://doi.org/10.1007/s00024-022-03068-y</a>
                            li <b>Fongngern</b>, <b>R., W. C. Chi</b>, C. Berndt and D. Mohrig (2022) Recognition and three-dimensional characteristics of ancient supercritical flow bedforms on a submarine slope: An example from the South China Sea Sedimentology, <a href="https://doi.org/10.1111/sed.13002", target="_blank", rel="noopener noreferrer">https://doi.org/10.1111/sed.13002</a>
                            li <b>Dirgantara, F.</b>, A. T. S. Lin and C. S. Liu (2022) Seismic de-multiple strategy in the submarine slope of Taiwan accretionary wedge Exploration Geophysics, <a href="https://doi.org/10.1080/08123985.2022.2086040", target="_blank", rel="noopener noreferrer">https://doi.org/10.1080/08123985.2022.2086040</a>
                            li Siteng Fan*, Daniel Zhao, Cheng Li, Donald E. Shemansky, <b>Mao-Chang Liang</b>, Yuk L. Yung, (2022) Seasonal variations of chemical species and haze in Titan's upper atmosphere The Planetary Science Journal 3, 130, <a href="https://doi.org/10.3847/PSJ/ac6953", target="_blank", rel="noopener noreferrer">https://doi.org/10.3847/PSJ/ac6953</a>
                            li Zhao, J. S., <b>L. C. Lee</b>, H. S. Xie, Y. H. Yao, D. J. Wu, Y. Voitenko and V. Pierrard (2022) Quantifying Wave-Particle Interactions in Collisionless Plasmas: Theory and Its Application to the Alfven-mode Wave Astrophysical Journal 930(1), <a href="https://doi.org/10.3847/1538-4357/ac59b7", target="_blank", rel="noopener noreferrer">https://doi.org/10.3847/1538-4357/ac59b7</a>
                            li <b>Zhang, X. R.</b>, T. N. Huang, <b>S. L. Chung</b>, A. Maulana, M. Mawaleda, C. Y. Tien, H. Y. Lee and P. P. Liu (2022) Late Eocene subduction initiation of the Indian Ocean in the North Sulawesi Arc, Indonesia, induced by abrupt Australian plate acceleration Lithos 422, <a href="https://doi.org/10.1016/j.lithos.2022.106742", target="_blank", rel="noopener noreferrer">https://doi.org/10.1016/j.lithos.2022.106742</a>
        include includes/footer