include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 聯絡我們','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 聯絡我們
                .page-sup-tab-area
                    a(href="about.html").tab 關於本所
                    a(href="develop.html").tab 發展沿革
                    a(href="director_info.html").tab 主管簡介
                    a(href="contact.html").tab.act 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .page-contact-tit-box
                        .page-sup-tit 中央研究院　地球科學研究所
                        .page-sup-en-tit INSTITUTE OF EARTH SCIENCES ACADEMIA SINICA
                    .page-contact-info-box
                        ul.page-contact-info-list
                            -const contactInfoList01=['地址：台北市南港區115研究院路二段128號','電話：886-2-27839910','傳真：886-2-27839871']
                            each n in contactInfoList01
                                li #{n}
                        ul.page-contact-info-list
                            -const contactInfoList02=['聯絡人：洪小姐','電話：(02) 2783-9910 ext.1303','電子郵件：tin2868@earth.sinica.edu.tw']
                            each n in contactInfoList02
                                li #{n}
                    form#form(action="###")
                        .page-contact-input-area
                            .note ＊欄位均為必填，敬請詳填需求，謝謝
                            .page-contact-column
                                .page-input-box
                                    label(for="theme") ＊詢問主題
                                    .page-input.page-sel
                                        select.page-sel-sty#theme(name="theme")
                                            option(value="1") 參觀地球所
                                            option(value="2") 演講邀約
                                            option(value="3") 意見回饋
                                            option(value="4") 網站問題回報
                                .page-input-box
                                    label(for="name") ＊您的姓名
                                    .page-input
                                        input.page-input-sty#name(type="text" name="name" class="required" placeholder="請填寫您的姓名")
                                .page-input-box
                                    label(for="email") ＊聯絡Email
                                    .page-input
                                        input.page-input-sty#email(type="email" name="email" class="required" placeholder="請填寫您可聯絡的Email")
                            .page-contact-column
                                .page-input-box.txtarea
                                    label(for="email") ＊聯絡Email
                                    .page-input
                                        textarea#msg(name="msg" class="required" placeholder="請輸入您想詢問的問題。")
                            .page-btn-area
                                .page-btn-submit 送出訊息
                                    input(type="submit")
        include includes/footer
script.
    $(document).ready(function(){
        var validator = $("#form").validate({
            submitHandler: function (form) {
                alert("完成");
                form.submit();
            }
        });
    });