include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 發展沿革','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 發展沿革
                .page-sup-tab-area
                    a(href="about.html").tab 關於本所
                    a(href="develop.html").tab.act 發展沿革
                    a(href="director_info.html").tab 主管簡介
                    a(href="contact.html").tab 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .develop-wrap
                        .develop-line-area
                            .develop-main-area
                                .develop-page-tit
                                    .page-sup-tit 鍾孫霖特聘研究員出任所長
                                    p.develop-p 林正洪、趙里研究員任副所長<br>2018年1月林正洪、詹瑜璋研究員任副所長。
                                .develop-main-box 
                                    .develop-main 2017
                            -const develop01={'year':'2014','tit':'李羅權特聘研究員出任所長','info':'汪中和、趙里研究員任副所長<br>2015年2月俞震甫、趙里研究員任副所長'};
                            +developBox(develop01)
                            -const develop02={'year':'2013','tit':'李羅權特聘研究員出任代理所長','info':'汪中和、趙里研究員任副所長'};
                            +developBox(develop02)
                            -const develop03={'year':'2010','tit':'趙丰特聘研究員出任所長','info':'陳中華研究員任副所長<br>2013年5月俞震甫副所長'};
                            +developBox(develop03)
                            -const develop04={'year':'2004','tit':'江博明特聘研究員出任所長','info':'俞震甫、黃柏壽研究員，之後陳中華研究員<br>之後李建成、林正洪研究員任副所長'};
                            +developBox(develop04)
                            -const develop05={'year':'2002','tit':'新院所建成','info':'完成後棟鋼骨結構建築，地下室設立機電設備，<br>一樓為停車場、二樓為實驗室'};
                            +developBox(develop05)
                            -const develop06={'year':'2001','tit':'納莉颱風風災','info':'納莉颱風造成本所地下室淹水，地下實驗室全毀'};
                            +developBox(develop06)
                            -const develop07={'year':'2000','tit':'李太楓研究員出任所長','info':'余水倍、郭本垣研究員為副所長'};
                            +developBox(develop07)
                            -const develop08={'year':'1999','tit':'921集集大地震','info':'921集集大地震，地球所加強地震物理及地殼形變研究。成立 “環境變遷研究計畫”<br>(Environmental Change Research Project; ECRP)，日後成為中研院的環境變遷中心'};
                            +developBox(develop08)
                            -const develop09={'year':'1994','tit':'葉義雄研究員出任所長','info':'汪中和研究員，之後藍晶瑩研究員任副所長'};
                            +developBox(develop09)
                            -const develop10={'year':'1993','tit':'搬遷新建大樓','info':'搬遷至南港院區之地球所新建大樓。吳大銘博士出任代理所長(葉義雄研究員任副所長)'};
                            +developBox(develop10)
                            -const develop11={'year':'1989','tit':'增設高壓實驗室','info':'增設高壓實驗室'};
                            +developBox(develop11)
                            -const develop12={'year':'1987','tit':'葉永田博士出任所長','info':'李太楓研究員，之後汪中和研究員任副所長'};
                            +developBox(develop12)
                            -const develop13={'year':'1985','tit':'葉永田副所長代理所務','info':'蔡義本所長離職赴美'};
                            +developBox(develop13)
                            -const develop14={'year':'1982','tit':'地球科學研究所正式成立','info':'蔡義本博士擔任首任所長（葉永田研究員擔任副所長）。<br>設立學術諮詢委員會(每年開會一次)'};
                            +developBox(develop14)
                            -const develop15={'year':'1980','tit':'新增研究群','info':'增加同位素地球化學及地體構造物理學兩研究群'};
                            +developBox(develop15)
                            -const develop16={'year':'1976','tit':'成立地球科學研究所籌備處','info':'總統府核准成立地球科學研究所籌備處，<br>蔡義本博士擔任主任'};
                            +developBox(develop16)
                            -const develop17={'year':'1973','tit':'中央研究院物理所成立地震組','info':'任蔡義本博士為組長。台大海洋研究所旁邊興建完成二層樓建築物。<br>(當時的物理所所長為吳大猷先生，蔡義本先生應吳大猷先生之請，返台主持地震組的研究工作。)'};
                            +developBox(develop17)
                            -const develop18={'year':'1972','tit':'開始設置全臺灣地震網及強震網','info':'開始設置全臺灣地震網及強震網'};
                            +developBox(develop18)
                            -const develop19={'year':'1971','tit':'國科會地震專案小組成立','info':'游世高博士擔任組長。<br>(先在長科會改制後的國科會下成立「地震專案小組」，辦公室初期設在台北市寧波西街，後來向台灣大學海洋研究所借用研究室)。'};
                            +developBox(develop19)
                            -const develop20={'year':'1969','tit':'鍾孫霖特聘研究員出任所長','info':'在當時國科會前身的國家長期科學發展委員會（長科會）主委吳大猷先生敦促下，鄧大量、吳大銘和蔡義本教授等旅美學者向國科會提出地震研究長程計畫'};
                            +developBox(develop20)
        include includes/footer
        link(rel="stylesheet", href="js/aos/aos-min.css")
        script(src="js/aos/aos.js")
        script.
            window.addEventListener('load', (event) => {
                AOS.init();
            })