include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 主管簡介','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 主管簡介
                .page-sup-tab-area
                    a(href="about.html").tab 關於本所
                    a(href="develop.html").tab 發展沿革
                    a(href="director_info.html").tab.act 主管簡介
                    a(href="contact.html").tab 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .director-area
                        .director-main-box
                            -const director01={'img':'director01.jpg','name':'鍾孫霖','nameSup':'所長','tit':'特聘研究員<span>（中央研究院院士）</span>','txt':'專長 : 火成岩成因，地球化學動力學，亞洲岩漿活動與大地構造','mail':'sunlin@earth.sinica.edu.tw','tel':'886-2-27839910 ext. 1602 / 1103','fax':'886-2-27883493'};
                            +directorBox(director01)
                        .director-sup-box
                            -const director02={'img':'director02.jpg','name':'林正洪','nameSup':'副所長','tit':'特聘研究員','txt':'專長 : 大地構造學 、地震學、重力學','mail':'lin@earth.sinica.edu.tw','tel':'886-2-2783-9910 ext. 1521 / 1105','fax':'886-2-2783-9871'};
                            +directorBox(director02)
                            -const director03={'img':'director03.jpg','name':'詹瑜璋','nameSup':'副所長','tit':'研究員','txt':'專長 : 構造地質學、構造地形學、遙測地質學','mail':'yuchang@earth.sinica.edu.tw','tel':'886-2-2783-9910 ext. 1411','fax':'886-2-2783-9871'};
                            +directorBox(director03)
                        .director-list
                            .title 歷任所長
                            .director-info-box
                                .tit 2017/05 - 迄今
                                .cont 鍾孫霖 所長
                            .director-info-box
                                .tit 2013/09 - 2017/04
                                .cont 李羅權 所長
                            .director-info-box
                                .tit 2010/09 - 2013/08
                                .cont 趙丰 所長
                            .director-info-box
                                .tit 2004/08 - 2010/08
                                .cont 江博明 所長
                            .director-info-box
                                .tit 2000/08 - 2004/07
                                .cont 李太楓 所長
                            .director-info-box
                                .tit 1994/08 - 2000/07
                                .cont 葉義雄 所長
                            .director-info-box
                                .tit 1993/08 - 1994/07
                                .cont 吳大銘 代所長
                            .director-info-box
                                .tit 1987/08 - 1993/07
                                .cont 葉永田 代所長
                            .director-info-box
                                .tit 1985/08 - 1987/07
                                .cont 葉永田 副所長代理所務
                            .director-info-box
                                .tit 1982/08 - 1985/07
                                .cont 蔡義本 首任所長
                            .director-info-box
                                .tit 1976/07 - 1982/07
                                .cont 蔡義本 籌備處主任


                                    

                        //- .edit-area
                        //-     p.def 大年初四，新竹一小時之內發生連續六震，兩天狂搖十二次，震得大家有點心驚；年後，東部更是每兩、三天，就有一次地震發生。
                        //-     p.def 要研究地震的最新動向，都得靠地震觀測網的監測與收集資料。獨立特派員曾針對歷史上發生大規模地震的活動斷層監測做了系列報導，今天我們要繼續跟著中研院地球科學所的腳步，到台東池上鄉的池上斷層。
                        //-     img.def(src="img/news_cont_01.jpg", alt="")
                        //-     p.def 池上斷層是全世界位移速率很快的一條活動斷層，台灣地科界在這裡記錄到斷層潛移的觀測資料，累積相當豐富的科學數據。其中有位功不可沒的法籍地質學家安朔葉教授，他從1981年開始，每年到台灣進行研究，讓池上活動斷層成為國際地震研究重點之一，池上鄉的地牛故事館也特別收藏他當年來台灣進行田野調查的手稿，紀念他為台灣所做的一切。
        include includes/footer