include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 推廣教育
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'推廣教育 - 地球部落','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 地球部落
                //- .page-sup-tab-area.orange
                .page-sup-tab-area
                    a(href="earth_list.html").tab.act 地球部落
                    a(href="topic_list.html").tab 專題報導
                    a(href="study_plan.html").tab 大學生研習計畫
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-list
                        -const earth01={'img':'earth01.jpg','date':'2022/02/24','mins':'16m56s','tit':'台東池上斷層研究，走進地牛博物館。｜獨立特派員 第738集 (池上斷層故事)'};
                        +earthListBox(earth01)
                        -const earth02={'img':'earth02.jpg','date':'2022/02/23','mins':'1m','tit':'【公視紀實】┃大地之心-一位斷層上的法國人​┃The Heart of Nature'};
                        +earthListBox(earth02)
                        -const earth03={'img':'earth03.jpg','date':'2022/02/22','mins':'13m12s','tit':'【公視紀實】┃大地之心-一位斷層上的法國人​┃The Heart of Nature┃5分鐘搶先看'};
                        -const earth04={'img':'earth04.jpg','date':'2022/03/14','mins':'1m06s','tit':'【范琪斐 X 林慶仁】| 潛入隱沒帶 X《海洋大地震了嗎》|〈公視主題之夜SHOW〉'};
                        +earthListBox(earth03)
                        +earthListBox(earth04)
                        +earthListBox(earth01)
                        +earthListBox(earth02)
                        +earthListBox(earth04)
                        +earthListBox(earth03)
                        +earthListBox(earth01)
                        +earthListBox(earth02)
                    +pagination
                        
        include includes/footer