include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 所內專區
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'所內專區 -  IES活動記錄','link':[]}
                +breadBox(bread)
                .page-tit-box.news-page-tit
                    h3.tit  IES活動記錄
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .event-list
                        -const event01={'img':'event01.jpg','tit':'2022年大學生暑期研習計畫','txt':'地球所針對大學生開設的研習計畫，旨在教學與傳達地球科學之奧妙。','date':'2022/07/01'};
                        +eventBox(event01)
                        -const event02={'img':'event02.jpg','tit':'IES Geoclub','txt':'GeoClub 是地球所新的系列討論會，旨在促進同學之間的交流與互動。','date':'2022/07/01'};
                        +eventBox(event02)
                        -const event03={'img':'event03.jpg','tit':'地球所開放參觀活動 第一日','txt':'為吸引各領域優秀大學生及碩士生參與地球科學學習及研究，以促進將來跨領域合作研究之進行...','date':'2022/07/01'};
                        +eventBox(event03)
                        -const event04={'img':'event04.jpg','tit':'地球所開放參觀活動 第二日活動','txt':'為吸引各領域優秀大學生及碩士生參與地球科學學習及研究，以促進將來跨領域合作研究之進行...','date':'2022/07/01'};
                        +eventBox(event04)
                        -const event05={'img':'event05.jpg','tit':'本所尾牙活動','txt':'欣葉日本料理新光三越A11尾牙活動','date':'2022/07/01'};
                        +eventBox(event05)
                    +pagination
        include includes/footer