include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 所內專區
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'地球所開放參觀活動','link':[{'link':'ies_event_list.html','name':'所內專區 - IES活動記錄'}]}
                +breadBox(bread)
                .page-tit-box.news-page-tit
                    h3.tit  地球所開放參觀活動
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .event-page-area
                        .event-page-img#ttt
                            img(src="img/page_event01.jpg", alt="")
                        .event-page-cont
                            .cont 為吸引各領域優秀大學生及碩士生參與地球科學學習及研究，以促進將來跨領域合作研究之進行，並厚植國內未來地球科學研究人力的質和量，本所於111年3月5日於二樓演講廳及各實驗室/研究室舉辦「地球所開放參觀活動」。
                            .link-box
                                a(href="###" target="_blank") 議程介紹
                            .link-box
                                a(href="###" target="_blank") 交通地圖
                    .event-video-area
                        .event-video-box
                            .event-video
                                iframe(src="https://www.youtube.com/embed/NBFQY6yPFfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        .event-video-box
                            .event-video
                                iframe(src="https://www.youtube.com/embed/NBFQY6yPFfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    .event-photo-area
                        .title 活動相簿
                        .event-photo-list
                            .event-photo-box
                                a(href="ies_album_cont.html").img-box
                                    img(src="img/event_photo01.jpg", alt="")
                                    .view-btn 點擊查看
                                .tit 第一日 地球所二館 環變大樓 7 樓 參觀
                            .event-photo-box
                                a(href="ies_album_cont.html").img-box
                                    img(src="img/event_photo02.jpg", alt="")
                                    .view-btn 點擊查看
                                .tit 第二日 地球所二館 環變大樓 參觀
                            .event-photo-box
                                a(href="ies_album_cont.html").img-box
                                    img(src="img/event_photo01.jpg", alt="")
                                    .view-btn 點擊查看
                                .tit 第三日 地球所二館 環變大樓 參觀
                        .back-box
                            a.back-btn(href="ies_event_list.html")
                                <i class="far fa-angle-left"></i>
                                .dot
                                span 返回列表
        include includes/footer