include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 所內專區
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'地球所開放參觀活動','link':[{'link':'ies_event_list.html','name':'所內專區 - IES活動記錄'}]}
                +breadBox(bread)
                .page-tit-box.news-page-tit
                    h3.tit  地球所開放參觀活動
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .event-page-area
                        .event-page-img#ttt
                            img(src="img/page_event01.jpg", alt="")
                        .event-page-cont
                            .cont 為吸引各領域優秀大學生及碩士生參與地球科學學習及研究，以促進將來跨領域合作研究之進行，並厚植國內未來地球科學研究人力的質和量，本所於111年3月5日於二樓演講廳及各實驗室/研究室舉辦「地球所開放參觀活動」。
                            .link-box
                                a(href="###" target="_blank") 議程介紹
                            .link-box
                                a(href="###" target="_blank") 交通地圖
                    .event-album-area
                        .title-box
                            .tit#btnTest 活動相簿 / 第一日 地球所二館 環變大樓 7 樓 參觀
                            a(href="ies_event_cont.html") 返回相簿
                        .event-album-list#albumList
                            a(href="img/photo1.jpg" data-pswp-width="300" data-pswp-height="225" target="_blank")
                                img(src="img/photo1.jpg", alt="")
                            a(href="img/photo2.jpg" data-pswp-width="300" data-pswp-height="225" target="_blank")
                                img(src="img/photo2.jpg", alt="")
                            a(href="img/photo3.jpg" data-pswp-width="300" data-pswp-height="225" target="_blank")
                                img(src="img/photo3.jpg", alt="")
                            a(href="img/photo4.jpg" data-pswp-width="300" data-pswp-height="225" target="_blank")
                                img(src="img/photo4.jpg", alt="")
                            a(href="img/photo5.jpg" data-pswp-width="300" data-pswp-height="225" target="_blank")
                                img(src="img/photo5.jpg", alt="")
                            a(href="img/photo6.jpg" data-pswp-width="300" data-pswp-height="225" target="_blank")
                                img(src="img/photo6.jpg", alt="")
                        +paginationNum
        include includes/footer
script(type="module" src="js/photoModule.js")