include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/nav
		.main-wrap.sw-banner-wrap
			.main-cont
				.banner-wrap
					.sw-banner-area
						.banner-video-btn-box#bannerVideoOpenBtn
							.banner-video-btn
								img(src="img/icon_video.svg", alt="")
							span 播放影片
						//- bannerVideo
						.banner-video-area#bannerVideoArea
							.banner-video-close-box#bannerVideoCloseBtn
								.banner-video-close
									img(src="img/icon_close.svg", alt="")
								span 關閉影片
							.banner-video-cont
								.banner-video-box
									.banner-video
										iframe(src="https://www.youtube.com/embed/NBFQY6yPFfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
								.banner-video-info
									.tit 地球科學研究所簡介
									.cont#bannerVideoInfo 「地球科學研究所」於1982年8月1日正式成立。1993年10月地球所由台灣大學校區搬遷至今天的南港中研院院區。
						//- bannerBox
						.swiper#banner
							.swiper-wrapper
								-const bannerList=['banner.jpg','banner.jpg','banner.jpg','banner.jpg','banner.jpg','banner.jpg']
								each n in bannerList
									.swiper-slide
										.banner-img
											img(src="img/"+n, alt="")
						//- bannerTxt
						.swiper.sw-banner-txt#bannerTxt
							.swiper-wrapper
								-const bannerTxtList=['2022年大學生暑期研習計畫錄取公告','本所副研究員謝文斌博士榮獲科技部110年度傑出研究獎','地震觀測「光」世代：世界首例跨斷層井下光纖地震觀測','第5屆台灣地震科學中心年會','本所研究員許雅儒博士榮獲科技部109年度傑出研究獎','本所研究員許雅儒博士榮獲科技部109年度傑出研究獎']
								each n,i in bannerTxtList
									.swiper-slide(data-txtnum=i+1)
										.banner-txt #{n}
					.banner-page-box
						.swiper-button-prev#bannerPrev <i class="fas fa-angle-left"></i>
						.swiper-pagination#bannerPage
						.swiper-button-next#bannerNext <i class="fas fa-angle-right"></i>
		//- 最新消息
		.main-wrap.ind-wrap
			.main-cont
				section
					.tit-box
						.tit
							h2 最新消息
						a(href="news_list.html").more-btn 更多
					.ind-news-wrap
						a(href="news_cont.html").ind-main-news-box
							.ind-news-img
								.news-tag 公告
								.ind-main-news-img
									img(src="img/news01.jpg", alt="")
							.ind-news-cont
								.tit 本所博士後研究學者柯菲瑪(Fatma Kourim)博士日前接受中央廣播電台法語頻道的「研究學者故事」系列節目的訪問
								.date 2022/03/14
						.ind-news-list
							-const indNews01={'img':'news02.jpg','tag':'公告','tit':'2022年大學生暑期研習計畫招生中（即日起至4/8止）'};
							+indNewsBox(indNews01)
							-const indNews02={'img':'hiring_default.png','tag':'徵才','tit':'由本所與中央大學地震災害鏈風險評估及管理研究中心共同執行的花蓮地震災害研究 世界首例跨斷層井下光纖地震觀測'};
							+indNewsBox(indNews02)
							-const indNews03={'img':'news04.jpg','tag':'榮譽','tit':'極端條件實驗室徵求 博士後研究員、碩士級專任研究助理、博士班/碩士班研究生、大學部專題生等數名'};
							+indNewsBox(indNews03)
							-const indNews04={'img':'news02.jpg','tag':'公告','tit':'本所柯菲瑪博士後研究榮獲科技部110年度博士後研究人員學術研究獎'};
							+indNewsBox(indNews04)
		//- 地球所演講
		.main-wrap.ind-wrap
			.main-cont
				section
					.tit-box
						.tit
							h2 地球所演講
						a(href="speech_list.html").more-btn 更多
				.ind-earth-wrap
					-const earthBanne={'img':'speech01.jpg','tag':'地化討論會','tit':'Geoclub｜Dr. Thi Hue Dinh / Mr. Pallab Roy','name':'Mr. Sebastian Wege, Ms. Hue Anh Mai'};
					+earthBannerBox(earthBanne)
					//- a(href="###").ind-main-earth-box
					//- 	.ind-earth-img-box
					//- 		.ind-earth-img
					//- 			.ind-earth-date
					//- 				.day 14
					//- 				.mon APR
					//- 				.time 14:30
					//- 				<i class="fas fa-calendar-alt"></i>
					//- 			img(src="img/speech01.jpg", alt="")
					//- 	.ind-earth-info
					//- 		.earth-tag 地化討論會
					//- 		.date 2022/4/14 14：30
					//- 		.tit Geoclub｜Dr. Thi Hue Dinh / Mr. Pallab Roy
					//- 		.info 主講人：Mr. Sebastian Wege, Ms. Hue Anh Mai
					.ind-earth-list
						-const indEarth01={'img':'speech02.jpg','tag':'地球所演講'};
						+indEarthBox(indEarth01)
						-const indEarth02={'img':'speech03.jpg','tag':'地化討論會'};
						+indEarthBox(indEarth02)
						-const indEarth03={'img':'speech04.jpg','tag':'地球所演講'};
						+indEarthBox(indEarth03)
		//- 研究成果
		.main-wrap.ind-wrap.ind-wrap03
			.main-cont
				section
					.tit-box
						.tit
							h2 研究成果
					.earth-type-area
						-const earthType=['地震學','地球物理學與地球動力學','地質學與活動構造學','地球化學'];
						each n,i in earthType
							-const tpyeNum=i+1;
							.earth-type-box
								.icon
									img(src="img/icon_earth"+tpyeNum+".svg", alt="")
								.txt #{n}
					//- 研究成果Sw
					.earth-sw-area
						.arr-sw-area
							.swiper.arr-sw#earthSw
								.swiper-wrapper
									.swiper-slide
										-const earthSw01={'img':'result01.jpg','tit':'Unveiling Tatun volcanic plumbing structure induced by post-collision...','cont':'The Tatun Volcanic Group (TVG) is proximal to the metropolis of Taipei ...','memImg':'result_mem01.jpg','name':'黃信樺'};
										+earthSwBox(earthSw01)
									.swiper-slide
										-const earthSw02={'img':'result02.jpg','tit':'The dynamics of Pluto’s nitrogen ice glacier','cont':'During its flyby of Pluto, in July 2015, the NASA\'s spacecraft New Horizon reveal...','memImg':'result_mem02.jpg','name':'戴夏飛'};
										+earthSwBox(earthSw02)
									.swiper-slide
										-const earthSw03={'img':'result03.jpg','tit':'Active Volcanism Revealed from a Seismicity Conduit in the Long-rest...','cont':'本所林正洪特聘研究員研究團隊分析從西元2014年到2017年間，大屯火山觀測站（TVO）在...','memImg':'result_mem03.jpg','name':'林正洪'};
										+earthSwBox(earthSw03)
									.swiper-slide
										+earthSwBox(earthSw01)
							.swiper-button-prev#earthPrev
								.icon
									img(src="img/icon_sw_arr.svg", alt="")
							.swiper-button-next#earthNext
								.icon
									img(src="img/icon_sw_arr.svg", alt="")
		//- 地球部落影片
		.main-wrap.ind-wrap.ind-wrap04
			.main-cont
				section
					.tit-box
						.tit
							h2 地球部落影片	
					.tit-box.tit-wrap04
						a(href="earth_list.html").more-btn 更多
					//- 研究成果Sw
					.earth-video-sw-area
						.arr-sw-area
							.swiper.arr-sw#earthVideoSw
								.swiper-wrapper
									.swiper-slide
										-const earthVideoSw01={'tit':'台東池上斷層研究，走進地牛博物館。｜獨立特派員 第738集 (池上斷層故事)'};
										+earthVideoSwBox(earthVideoSw01)
									.swiper-slide
										-const earthVideoSw02={'tit':'【公視紀實】┃大地之心-一位斷層上的法國人​┃The Heart of Nature'};
										+earthVideoSwBox(earthVideoSw02)
									.swiper-slide
										-const earthVideoSw03={'tit':'【公視紀實】┃大地之心-一位斷層上的法國人​┃The Heart of Nature┃5分鐘搶先看'};
										+earthVideoSwBox(earthVideoSw03)
									.swiper-slide
										+earthVideoSwBox(earthVideoSw01)
							.swiper-button-prev#earthVideoPrev
								.icon
									img(src="img/icon_sw_arr.svg", alt="")
							.swiper-button-next#earthVideoNext
								.icon
									img(src="img/icon_sw_arr.svg", alt="")
		include includes/footer

script.
	var bannerTxt;
	$(document).ready(function(){
		var banner = new Swiper('#banner', {
			slidesPerView: 1,
			spaceBetween: 0,
			//- initialSlide: 2,
			//- breakpoints: {
			//- 	1200: {
			//- 		slidesPerView: 5,
			//- 		spaceBetween: 30,
			//- 	},
			//- 	768: {
			//- 		slidesPerView: 4,
			//- 		spaceBetween: 20,
			//- 	},
			//- 	600: {
			//- 		slidesPerView: 3,
			//- 		spaceBetween: 20,
			//- 	},
			//- 	480: {
			//- 		slidesPerView: 2,
			//- 		spaceBetween: 20,
			//- 	},
			//- },
			navigation: {
				nextEl: '#bannerNext',
				prevEl: '#bannerPrev',
			},
			pagination: {
				el: '#bannerPage',
				clickable: true,
			},
			on:{
				slideChange(){
					var actIndex=this.activeIndex;
					console.log(actIndex);
					bannerTxtAct(actIndex);
					//- foodName(actIndex);
				}
			}
		});
		bannerTxt = new Swiper('#bannerTxt', {
			slidesPerView: 5,
			spaceBetween: 1,
			//- initialSlide: 2,
			breakpoints: {
				1023: {
					slidesPerView: 4,
					//- spaceBetween: 30,
				},
				768: {
					slidesPerView: 3,
					//- spaceBetween: 20,
				},
				600: {
					slidesPerView: 2,
					//- spaceBetween: 20,
				},
				480: {
					slidesPerView: 1,
					//- spaceBetween: 20,
				},
			},
		});
		//=== slide連動 ===
		$('#bannerTxt').find('.swiper-slide').eq(0).addClass('act');
		$('#bannerTxt').find('.swiper-slide').each(function(ind,val){
			$(val).on('click',function(){
				var num=$(this).data('txtnum');
				var numAct=num-1;
				console.log(numAct);
				banner.slideTo(numAct);
			});
		});
		//=== bannerVideo開關 ===
		$('#bannerVideoOpenBtn').on('click',function(){
			$('#bannerVideoArea').fadeIn(300);
			$('#bannerVideoOpenBtn').hide();
			$("#bannerVideoInfo").mCustomScrollbar();
		});
		$('#bannerVideoCloseBtn').on('click',function(){
			$('#bannerVideoArea').fadeOut(300);
			$('#bannerVideoOpenBtn').show();
			$("#bannerVideoInfo").mCustomScrollbar("destroy");
		});

		//=== 研究成果Sw ===
		var earthSw = new Swiper('#earthSw', {
			slidesPerView: 3,
			spaceBetween: 20,
			breakpoints: {
				1023: {
					slidesPerView: 2,
					spaceBetween: 25,
				},
				768: {
					slidesPerView: 1,
					spaceBetween: 20,
				},
				//- 600: {
				//- 	slidesPerView: 3,
				//- 	spaceBetween: 20,
				//- },
				//- 480: {
				//- 	slidesPerView: 2,
				//- 	spaceBetween: 20,
				//- },
			},
			navigation: {
				nextEl: '#earthNext',
				prevEl: '#earthPrev',
			},
		});

		//=== 地球部落影片Sw ===
		var earthVideoSw = new Swiper('#earthVideoSw', {
			slidesPerView: 3,
			spaceBetween: 30,
			noSwipingClass: 'earth-video-sw',
			breakpoints: {
				1023: {
					slidesPerView: 2,
					spaceBetween: 30,
				},
				768: {
					slidesPerView: 1,
					spaceBetween: 20,
				},
				//- 600: {
				//- 	slidesPerView: 3,
				//- 	spaceBetween: 20,
				//- },
				//- 480: {
				//- 	slidesPerView: 2,
				//- 	spaceBetween: 20,
				//- },
			},
			navigation: {
				nextEl: '#earthVideoNext',
				prevEl: '#earthVideoPrev',
			},
		});
	});
	function bannerTxtAct(num){
		$('#bannerTxt').find('.swiper-slide').removeClass('act');
		$('#bannerTxt').find('.swiper-slide').eq(num).addClass('act');
		bannerTxt.slideTo(num);
	}