include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 資訊服務
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'資訊服務','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 資訊服務
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .info-server-area
                        .page-tit-box
                            h4.tit.line 資料服務
                        .info-server-list
                            -const infoServer01={'img':'server01.jpg','tit':'資料管理中心','cont':'中央研究院地球科學研究所 (IESDMC) 數據管理中心負責歸檔由 IES 和合作機構收集/測量/發布的所有研究數據','link':'https://dmc.earth.sinica.edu.tw/'};
                            +infoServerBox(infoServer01)
                            -const infoServer02={'img':'server02.jpg','tit':'GPS資料服務','cont':'中研院地球所研發GPS資料服務，提供各項數據資料與開放API，歡迎使用。','link':'http://gps.earth.sinica.edu.tw/'};
                            +infoServerBox(infoServer02)
                            -const infoServer03={'img':'server03.jpg','tit':'即時計算地震學地震報告','cont':'中研院地球所研發GPS資料服務，提供各項數據資料與開放API，歡迎使用。','link':'http://rcs.earth.sinica.edu.tw/'};
                            +infoServerBox(infoServer03)
                            +infoServerBox(infoServer02)
                            +infoServerBox(infoServer01)
                        .page-tit-box#infoArea2
                            h4.tit.line 儀器服務
                        .info-server-list
                            +infoServerBox(infoServer03)
                        .page-tit-box#infoArea3
                            h4.tit.line 即時系統
                        .info-server-list
                            +infoServerBox(infoServer03)
                            +infoServerBox(infoServer02)
                            +infoServerBox(infoServer01)
                            +infoServerBox(infoServer01)
                            +infoServerBox(infoServer03)
                            +infoServerBox(infoServer02)
                            
        include includes/footer
script.
    $(document).ready(function(){
        //=== nav上的成員按鈕 ===
        var hasNavScrollList=[
            {'btn':'#navInfoBtn2','mbBtn':'#navMbInfoBtn2','footerBtn':'#footerInfoBtn2','cont':'#infoArea2','href':'#s2'},
            {'btn':'#navInfoBtn3','mbBtn':'#navMbInfoBtn3','footerBtn':'#footerInfoBtn3','cont':'#infoArea3','href':'#s3'},
        ];
        $.each(hasNavScrollList,function(ind,val){
            var $navBtn=$(val.btn);
            var $navMbBtn=$(val.mbBtn);
            var $footerBtn=$(val.footerBtn);
            //== 避免跳頁的閃跳，所以把nav上的連結狀態改掉 ==
            $navBtn.attr('href',val.href);
            $navMbBtn.attr('href',val.href);
            $footerBtn.attr('href',val.href);
            //== 點按nav時的滑動 ==
            //- var $navBtn=$(val.btn);
            var $cont=$(val.cont);
            //= nav =
            $navBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
            });
            //= footer =
            $footerBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
            });
            //=== 手機 ===
            $navMbBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
                //== 手機點選nav縮起來 ==
                var $hamburger = $("#hamBtn");
                var $navItem = $('#navItem');
                $hamburger.removeClass("is-active");
                $navItem.slideUp();
                hamSwitch = false;
                bgUnFix();
            });
        });
    });
    $(window).on('load', function () {
        console.log('load Fin');
        //=== hash tage scroll ===
        hashScroll();
    });
    //=== hash tage scroll ===
    function hashScroll(){
        var hashId=window.location.hash;
        console.log(hashId);
        if(hashId!==''){
            var hrefNum=hashId.replace('#s','');
            console.log(hrefNum);
            var hashToId='#infoArea'+hrefNum;
            //- if(hashId=='#s1'){
            //-     var hashToId='#infoArea1';
            //- }
            console.log(hashToId);
            var navH=$('.header-wrap').outerHeight();
            var navHMar = navH + 20;

            $('html,body').stop().animate({ scrollTop: ($(hashToId).offset().top - navHMar) }, 'slow');
        }
    }