include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 本院位置及交通資訊
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'本院位置及交通資訊','link':[]}
                +breadBox(bread)
                .page-tit-box.news-page-tit
                    h3.tit 本院位置及交通資訊
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .location-area
                        .google-map
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.796692225553!2d121.60917915039612!3d25.040972744087597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab46b2f9a81f%3A0x74112a66e7796ca!2zMTE15Y-w5YyX5biC5Y2X5riv5Y2A56CU56m26Zmi6Lev5LqM5q61MTI46Jmf5Lit5aSu56CU56m26Zmi5Lq65paH56S-5pyD56eR5a246aSo!5e0!3m2!1szh-TW!2stw!4v1669604283720!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
                        .map-info-box
                            .tit 聯絡資訊
                            .cont
                                .tit-s 中央研究院地球科學研究所
                                | 地址 : 台北市南港區115研究院路二段128號<br>
                                | 電話 : 886-2-27839910 #1135<br>
                                | 傳真 : 886-2-27839871<br>
                                | 聯絡人: tin2868@earth.sinica.edu.tw
        include includes/footer
script(async src="https://cse.google.com/cse.js?cx=80dea65bed06e4925")