include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-mem
            .main-wrap
                .page-cont
                    h2 本所成員
        .main-wrap.page-main-wrap.page-top-w
            .page-cont
                -const bread={'act':'研究人員 - 黃信樺','link':[{'name':'成員','link':'member_list.html'}]}
                +breadBox(bread)
                .member-cont-wrap
                    .member-cont-img-box
                        .member-cont-img
                            img(src="img/memCont01.jpg", alt="")
                        .member-cont-img-txt-box
                            .member-cont-img-txt#memberImgTxt
                                .office 副研究員
                                .name 黃信樺  /  Huang, Hsin-Hua
                            .back-box
                                a(href="member_list.html").back-btn
                                    <i class="far fa-angle-left"></i>
                                    .dot
                                    span 返回列表
                    .member-main-cont
                        .member-main-info-cont
                            .member-cont-img
                                img(src="img/memCont01.jpg", alt="")
                            .member-main-name-area
                                .member-main-name-box
                                    .office 副研究員
                                    .name 黃信樺  /  Huang, Hsin-Hua
                                    .cont 研究領域：地震學、地震地體構造學
                                .member-main-info
                                    .item
                                        .icon
                                            img(src="img/icon_phone.svg", alt="")
                                        .txt +886-2-2783-9910 ext. 1504
                                    .item
                                        .icon
                                            img(src="img/icon_profile.svg", alt="")
                                        .txt
                                            a(href="###") 個人簡歷
                                    .item
                                        .icon
                                            img(src="img/icon_mail.svg", alt="")
                                        .txt hhhuang@earth.sinica.edu.tw
                                    .item
                                        .icon
                                            img(src="img/icon_mem_web.svg", alt="")
                                        .txt
                                            a(href="###") 個人網站
                        .member-main-box#memberMainCont
                            .member-main-tit
                                .tit 研究簡介
                            .member-main-txt
                                .edit-area
                                    p.def 我的研究興趣主要在利用地震學的方式探討各種不同的地質地體構造問題；以及探測和瞭解由淺至深不同尺度的地球內部構造與成因。
                                    p.def 涵蓋的研究主題包括(但不局限於)區域構造運動學、非典型地震序列、造山運動過程、三維板塊形貌、火山岩漿庫系統與地球的內核構造演化等。
                                    p.def 主要的技術重心在利用多重資料聯合反演、全波形反演與地震干涉學等方法精進地震影像的解析能力。同時，我也在進行地震破裂方向性與噪訊環境監測的相關研究，幫助減低地震與山崩災害的發生。
                                    p.def 我的研究工作可以概括成下列幾個方向：
                                    ul.def
                                        li 地震層析成像與多重資料聯合反演
                                        li 地震預警與強地動災害評估
                                        li 區域地震地體構造建立與探討
                                        li 非典型地震序列與發震機制研究
                                        li 全波形反演與模擬
                                        li 體波地震干涉學
                                        li 震源特性與破裂行為
                                        li 噪訊環境監測
                        .member-main-box
                            .member-main-tit
                                .tit 更多
                                .icon#moreContBtn <i class="far fa-plus"></i>
                            .member-main-txt.more-hide#moreCont
                                .edit-area
                                    .tit.def Seismic tomography and multi-dataset joint inversion
                                    img.def(src="img/txtimg01.jpg", alt="")
                                    p.def One of my main research focuses is on the tomographic joint inversion of multi-dataset to improving our knowledge of subsurface structures and related tectonics. The crustal P-wave and Pn wave data, for example, are usually analyzed separately for individual studies but they can be incorporated in a complementary sense. With the dataset from a newly deployed portable array in northern Vietnam, we employed both phases to obtain the first local seismic tomography for the Red River shear zone (RRSZ), and shows that the RRSZ could be a lithospheric structure at least cutting through the crust (Huang et al., 2013). Moreover, for Taiwan region we also developed an elaborating joint-inversion scheme for various datasets (P-, S-wave, S-P time data, and especially the borehole logging data for near-surface constraints) to derive Vp, Vs, and Vp/Vs models. These new set of models which have comparable resolution and internal consistency can facilitate the tectonic exploration, waveform simulation, etc. (Huang et al., 2014a). In order to expand the model resolution in depth, the teleseismic data is further measured and incorporated together to investigate the lithospheric structures and slab interaction in the upper mantle (Huang et al., 2014b).
                                    .tit.def Earthquake early warning and hazard mitigation
                                    img.def(src="img/txtimg02.jpg", alt="")
                                    p.def Earthquakes are one of the most frequent natural hazards in Taiwan. To mitigate the level of their damage, the development of early warning system is of great importance on one hand (Wu et al., 2011); gaining better understanding of ground motion relations, such as medium attenuation, source characteristics (e.g. directivity), and site effects, is also critical on the other hand. With derived high resolution velocity models, we have analyzed the source properties of Nantou (Lee et al., 2015) and Ruisui earthquakes (Lee et al., 2014) and demonstrated the capability of capturing realistic ground motions to some extent, especially across mountains and within basins, which could give us better insights into complicated wave propagation and help the hazard mitigation ultimately. More recently, using near-field ground motion data from a dense seismic network (P-alert), we showed that earthquake rupture directivity information could be estimated at a near-real-time basis and possibly help for more accurate shaking alerts in EEW systems (Jan et al., 2018).





        include includes/footer
script.
    $(document).ready(function(){
        $('#moreContBtn').on('click',function(){
            var $hideCont=$('#moreCont');
            var isHide = $hideCont.hasClass('more-hide');
            if(isHide){
                $(this).find('i').removeClass('fa-plus');
                $(this).find('i').addClass('fa-minus');
                $hideCont.removeClass('more-hide');
            }else{
                $(this).find('i').removeClass('fa-minus');
                $(this).find('i').addClass('fa-plus');
                $hideCont.addClass('more-hide');
            }
        });
    });

    $(window).scroll(function () {
        var windowScrollNum = $(window).scrollTop();
        var memberContH=$('#memberMainCont').offset().top;
        //- var navH=$('.header-wrap').outerHeight();
        //- var navHMar = navH + 20;
        windowScrollNum > memberContH ? $('#memberImgTxt').fadeIn():$('#memberImgTxt').fadeOut();
    });