include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-mem
            .main-wrap
                .page-cont
                    h2 本所成員
        .main-wrap.page-main-wrap
            .page-cont
                -const bread={'act':'成員','link':[]}
                +breadBox(bread)
                //- .page-tit-box
                //-     h3.tit.line 研究人員
                .page-column-wrap
                    .page-column-side
                        -const sideLink='member_office_list.html';
                        -const sideListMb=[{'tit':'研究技術人員','btnId':'memBtn2','mbBtnId':'memMbBtn2','link':'#m2'}, {'tit':'駐所、訪問學者','btnId':'memBtn3','mbBtnId':'memMbBtn3','link':'#m3'}, {'tit':'博士後研究','btnId':'memBtn4','mbBtnId':'memMbBtn4','link':'#m4'}, {'tit':'學術諮詢委員','btnId':'memBtn5','mbBtnId':'memMbBtn5','link':'#m5'}, {'tit':'研究助理','btnId':'memBtn6','mbBtnId':'memMbBtn6','link':'#m6'}, {'tit':'行政人員','btnId':'memBtn7','mbBtnId':'memMbBtn7','link':'#m7'}, {'tit':'合聘、兼任及通信研究人員','btnId':'memBtn8','mbBtnId':'memMbBtn8','link':'#m8'}, {'tit':'TIGP研究生','btnId':'memBtn9','mbBtnId':'memMbBtn9','link':'#m9'}, {'tit':'退休研究人員','btnId':'memBtn10','mbBtnId':'memMbBtn10','link':'#m10'}, {'tit':'地球所友','btnId':'memBtn11','mbBtnId':'memMbBtn11','link':'#m11'}];
                        -const sideListMb2=[{'tit':'研究助理','btnId':'memBtn12','mbBtnId':'memMbBtn12','link':sideLink+'#m12'},{'tit':'行政人員','btnId':'memBtn13','mbBtnId':'memMbBtn13','link':sideLink+'#m13'}, {'tit':'前駐所、訪問學者','btnId':'memBtn14','mbBtnId':'memMbBtn14','link':sideLink+'#m14'}, {'tit':'前博士後研究','btnId':'memBtn15','mbBtnId':'memMbBtn15','link':sideLink+'#m15'}, {'tit':'TIGP畢業生','btnId':'memBtn16','mbBtnId':'memMbBtn16','link':sideLink+'#m16'}, {'tit':'歷屆諮詢委員會','btnId':'memBtn17','mbBtnId':'memMbBtn17','link':sideLink+'#m17'}];
                        //- -const sideListMb=[{'tit':'研究技術人員','btnId':'memBtn2','mbBtnId':'memMbBtn2','link':'#m2'}, {'tit':'駐所、訪問學者','btnId':'memBtn3','mbBtnId':'memMbBtn3','link':'#m3'}, {'tit':'博士後研究','btnId':'memBtn4','mbBtnId':'memMbBtn4','link':'#m4'}, {'tit':'學術諮詢委員','btnId':'memBtn5','mbBtnId':'memMbBtn5','link':'#m5'}, {'tit':'研究助理','btnId':'memBtn6','mbBtnId':'memMbBtn6','link':'#m6'}, {'tit':'行政人員','btnId':'memBtn7','mbBtnId':'memMbBtn7','link':'#m7'}, {'tit':'合聘、兼任及通信研究人員','btnId':'memBtn8','mbBtnId':'memMbBtn8','link':'#m8'}, {'tit':'TIGP研究生','btnId':'memBtn9','mbBtnId':'memMbBtn9','link':'#m9'}, {'tit':'退休研究人員','btnId':'memBtn10','mbBtnId':'memMbBtn10','link':'#m10'}, {'tit':'地球所友','btnId':'memBtn11','mbBtnId':'memMbBtn11','link':'#m11'}, {'tit':'研究助理','btnId':'memBtn12','mbBtnId':'memMbBtn12','link':'#m12'}, {'tit':'行政人員','btnId':'memBtn13','mbBtnId':'memMbBtn13','link':'#m13'}, {'tit':'前駐所、訪問學者','btnId':'memBtn14','mbBtnId':'memMbBtn14','link':'#m14'}, {'tit':'前博士後研究','btnId':'memBtn15','mbBtnId':'memMbBtn15','link':'#m15'}, {'tit':'TIGP畢業生','btnId':'memBtn16','mbBtnId':'memMbBtn16','link':'#m16'}, {'tit':'歷屆諮詢委員會','btnId':'memBtn17','mbBtnId':'memMbBtn17','link':'#m17'}];
                        .mb-select-area
                            .mb-select-box
                                .mb-select#mbSelect 研究人員
                                .mb-select-list#mbSelectList
                                    .item(id="memMbBtn1") 研究人員
                                    each n in sideListMb
                                        .item(id=n.mbBtnId) #{n.tit}
                                    each n in sideListMb2
                                        a.item(href=n.link id=n.mbBtnId) #{n.tit}
                        -const sideList01=[{'tit':'研究技術人員','btnId':'memBtn2','link':'#m2'}, {'tit':'駐所、訪問學者','btnId':'memBtn3','link':'#m3'}, {'tit':'博士後研究','btnId':'memBtn4','link':'#m4'}, {'tit':'學術諮詢委員','btnId':'memBtn5','link':'#m5'}, {'tit':'研究助理','btnId':'memBtn6','link':'#m6'}, {'tit':'行政人員','btnId':'memBtn7','link':'#m7'}, {'tit':'合聘、兼任及通信研究人員','btnId':'memBtn8','link':'#m8'}, {'tit':'TIGP研究生','btnId':'memBtn9','link':'#m9'}, {'tit':'退休研究人員','btnId':'memBtn10','link':'#m10'}, {'tit':'地球所友','btnId':'memBtn11','link':'#m11'}];
                        //- -const sideLink='member_office_list.html';
                        -const sideList02=[{'tit':'研究助理','btnId':'memBtn12','link':sideLink+'#m12'}, {'tit':'行政人員','btnId':'memBtn13','link':sideLink+'#m13'}, {'tit':'前駐所、訪問學者','btnId':'memBtn14','link':sideLink+'#m14'}, {'tit':'前博士後研究','btnId':'memBtn15','link':sideLink+'#m15'}, {'tit':'TIGP畢業生','btnId':'memBtn16','link':sideLink+'#m16'}, {'tit':'歷屆諮詢委員會','btnId':'memBtn17','link':sideLink+'#m17'}];
                        .column-side-box.pc-side-box
                            ul.column-side-list#sideMemberNav
                                li
                                    .item.act#memBtn1 研究人員
                                    //- a(href="#m1").item.act#memBtn1 研究人員
                                each n in sideList01
                                    li
                                        .item(id=n.btnId) #{n.tit}
                                        //- a(href=n.link id=n.btnId).item #{n.tit}
                        .column-side-hr.pc-side-box
                        .column-side-box.pc-side-box
                            ul.column-side-list#sideMemberNav02
                                each n in sideList02
                                    li
                                        a.item(href=n.link id=n.btnId) #{n.tit}
                    .page-column-cont
                        .page-tit-box#memberArea1
                            h3.tit.line 研究人員
                        .member-list
                            -const member01={'img':'member01.jpg','tit':'特聘研究員兼所長','name':'鍾孫霖','nameEn':'Lee, Jian-Cheng','cont':'地球化學動力學、火成岩成因學'};
                            +memberBox(member01)
                            -const member02={'img':'member02.jpg','tit':'特聘研究員','name':'馬國鳳','nameEn':'Ma, Kuo-Fong','cont':'地震學、震源力學'};
                            +memberBox(member02)
                            -const member03={'img':'member03.jpg','tit':'特聘研究員兼副所長','name':'林正洪','nameEn':'Lin, Cheng-Horng','cont':'地震學、火山觀測、地體構造'};
                            +memberBox(member03)
                            +memberBox(member02)
                            +memberBox(member03)
                            +memberBox(member01)
                        .page-tit-box#memberArea2
                            h3.tit.line 研究技術人員
                        .member-list
                            +memberBox(member01)
                            +memberBox(member02)
                            +memberBox(member03)
                            +memberBox(member02)
                            +memberBox(member03)
                        .page-tit-box#memberArea3
                            h3.tit.line 駐所、訪問學者
                        .member-list
                            +memberBox(member01)
                            +memberBox(member02)
                            +memberBox(member03)
                            +memberBox(member02)
                            +memberBox(member03)
                        .page-tit-box#memberArea4
                            h3.tit.line 博士後研究
                        .member-list
                            +memberBox(member01)
                            +memberBox(member02)
                            +memberBox(member03)
                        .page-tit-box#memberArea5
                            h3.tit.line 學術諮詢委員
                        .member-list
                            +memberBox(member01)
                            +memberBox(member02)
                            +memberBox(member03)
                        .page-tit-box#memberArea6
                            h3.tit.line 研究助理
                        .member-list
                            .no-data 尚無資料。
                        .page-tit-box#memberArea7
                            h3.tit.line 行政人員
                        .member-list
                            .no-data 尚無資料。
                        .page-tit-box#memberArea8
                            h3.tit.line 合聘、兼任及通信研究人員
                        .member-list
                            .no-data 尚無資料。
                        .page-tit-box#memberArea9
                            h3.tit.line TIGP研究生
                        .member-list
                            .no-data 尚無資料。
                        .page-tit-box#memberArea10
                            h3.tit.line 退休研究人員
                        .member-list
                            .no-data 尚無資料。
                        .page-tit-box#memberArea11
                            h3.tit.line 地球所友
                        .member-list
                            -const member04={'img':'member01.jpg','tit':'研究員','name':'趙里','nameEn':'Zhao, Li','cont':'地震學','time':true};
                            +memberBox(member04)
                            -const member05={'img':'member02.jpg','tit':'研究副技師','name':'陳春燕','nameEn':'Chen, Chun-Yen','cont':'原子阱同位素分析','time':true};
                            +memberBox(member05)
                        //- .page-tit-box#memberArea12
                        //-     h3.tit.line 研究助理
                        //- .member-sup-list
                        //-     -const memberSup01={'office':'約聘助理（計畫主持人：黃柏壽）','name':'劉庭佑','nameEn':'Tilau'};
                        //-     +memberSupBox(memberSup01)
                        //-     -const memberSup02={'office':'約聘助理（計畫主持人：李憲忠）','name':'曾秀緣','nameEn':'Namietseng'};
                        //-     +memberSupBox(memberSup02)
                        //-     -const memberSup03={'office':'約聘助理（計畫主持人：黃柏壽）','name':'楊哲倫','nameEn':'Clyang'};
                        //-     +memberSupBox(memberSup03)
                        //-     +memberSupBox(memberSup03)
                        //-     +memberSupBox(memberSup01)
                        //-     +memberSupBox(memberSup02)
                        //- .page-tit-box#memberArea13
                        //-     h3.tit.line 行政人員
                        //- .member-sup-list
                        //-     +memberSupBox(memberSup03)
                        //-     +memberSupBox(memberSup01)
                        //-     +memberSupBox(memberSup02)
                        //- .page-tit-box#memberArea14
                        //-     h3.tit.line 前駐所、訪問學者
                        //- .member-sup-list
                        //-     .no-data 尚無資料。
                        //- .page-tit-box#memberArea15
                        //-     h3.tit.line 前博士後研究
                        //- .member-sup-list
                        //-     .no-data 尚無資料。
                        //- .page-tit-box#memberArea16
                        //-     h3.tit.line TIGP畢業生
                        //- .member-sup-list
                        //-     .no-data 尚無資料。
                        //- .page-tit-box#memberArea17
                        //-     h3.tit.line 歷屆諮詢委員會
                        //- .member-sup-list
                        //-     +memberSupBox(memberSup03)
                        //-     +memberSupBox(memberSup01)
                        //-     +memberSupBox(memberSup02)
        include includes/footer
script.
    $(document).ready(function(){
        //=== nav上的成員按鈕 ===
        var hasNavScrollList=[
            {'btn':'#navMemBtn1','mbBtn':'#navMbMemBtn1','footerBtn':'#footerMemBtn1','cont':'#memberArea1','href':'#m1'},
            {'btn':'#navMemBtn2','mbBtn':'#navMbMemBtn2','footerBtn':'#footerMemBtn1','cont':'#memberArea2','href':'#m2'},
            {'btn':'#navMemBtn3','mbBtn':'#navMbMemBtn3','footerBtn':'#footerMemBtn1','cont':'#memberArea3','href':'#m3'},
            {'btn':'#navMemBtn4','mbBtn':'#navMbMemBtn4','footerBtn':'#footerMemBtn1','cont':'#memberArea4','href':'#m4'},
            {'btn':'#navMemBtn5','mbBtn':'#navMbMemBtn5','footerBtn':'#footerMemBtn1','cont':'#memberArea5','href':'#m5'}
        ];
        //== nav ==
        $.each(hasNavScrollList,function(ind,val){
            var $navBtn=$(val.btn);
            var $navMbBtn=$(val.mbBtn);
            //== 避免跳頁的閃跳，所以把nav上的連結狀態改掉 ==
            $navBtn.attr('href',val.href);
            $navMbBtn.attr('href',val.href);
            //== 點按nav時的滑動 ==
            //- var $navBtn=$(val.btn);
            var $cont=$(val.cont);
            $navBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
            });
            //=== 手機 ===
            $navMbBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
                //== 手機點選nav縮起來 ==
                var $hamburger = $("#hamBtn");
                var $navItem = $('#navItem');
                $hamburger.removeClass("is-active");
                $navItem.slideUp();
                hamSwitch = false;
                bgUnFix();
            });
        });
        //== footer ==
        var hasFooterScrollList=[
            {'footerBtn':'#footerMemBtn1','cont':'#memberArea1','href':'#m1'},
            {'footerBtn':'#footerMemBtn2','cont':'#memberArea2','href':'#m2'},
            {'footerBtn':'#footerMemBtn3','cont':'#memberArea3','href':'#m3'},
            {'footerBtn':'#footerMemBtn4','cont':'#memberArea4','href':'#m4'},
            {'footerBtn':'#footerMemBtn5','cont':'#memberArea5','href':'#m5'},
            {'footerBtn':'#footerMemBtn6','cont':'#memberArea6','href':'#m6'},
            {'footerBtn':'#footerMemBtn7','cont':'#memberArea7','href':'#m7'},
            {'footerBtn':'#footerMemBtn8','cont':'#memberArea8','href':'#m8'},
            {'footerBtn':'#footerMemBtn9','cont':'#memberArea9','href':'#m9'},
            {'footerBtn':'#footerMemBtn10','cont':'#memberArea10','href':'#m10'},
            {'footerBtn':'#footerMemBtn11','cont':'#memberArea11','href':'#m11'},
        ]
        $.each(hasFooterScrollList,function(ind,val){
            var $footerBtn=$(val.footerBtn);
            //== 避免跳頁的閃跳，所以把nav上的連結狀態改掉 ==
            $footerBtn.attr('href',val.href);
            //== 點按nav時的滑動 ==
            var $cont=$(val.cont);
            $footerBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
            });
        });
        
        //=== 頁面上的按鈕 ===
        var hasScrollList=[
            {'btn':'#memBtn1','mbBtn':'#memMbBtn1','cont':'#memberArea1'},
            {'btn':'#memBtn2','mbBtn':'#memMbBtn2','cont':'#memberArea2'},
            {'btn':'#memBtn3','mbBtn':'#memMbBtn3','cont':'#memberArea3'},
            {'btn':'#memBtn4','mbBtn':'#memMbBtn4','cont':'#memberArea4'},
            {'btn':'#memBtn5','mbBtn':'#memMbBtn5','cont':'#memberArea5'},
            {'btn':'#memBtn6','mbBtn':'#memMbBtn6','cont':'#memberArea6'},
            {'btn':'#memBtn7','mbBtn':'#memMbBtn7','cont':'#memberArea7'},
            {'btn':'#memBtn8','mbBtn':'#memMbBtn8','cont':'#memberArea8'},
            {'btn':'#memBtn9','mbBtn':'#memMbBtn9','cont':'#memberArea9'},
            {'btn':'#memBtn10','mbBtn':'#memMbBtn10','cont':'#memberArea10'},
            {'btn':'#memBtn11','mbBtn':'#memMbBtn11','cont':'#memberArea11'},
            //- {'btn':'#memBtn12','mbBtn':'#memMbBtn12','cont':'#memberArea12'},
            //- {'btn':'#memBtn13','mbBtn':'#memMbBtn13','cont':'#memberArea13'},
            //- {'btn':'#memBtn14','mbBtn':'#memMbBtn14','cont':'#memberArea14'},
            //- {'btn':'#memBtn15','mbBtn':'#memMbBtn15','cont':'#memberArea15'},
            //- {'btn':'#memBtn16','mbBtn':'#memMbBtn16','cont':'#memberArea16'},
            //- {'btn':'#memBtn17','mbBtn':'#memMbBtn17','cont':'#memberArea17'}
        ]
        $.each(hasScrollList,function(ind,val){
            var $btn=$(val.btn);
            var $mbBtn=$(val.mbBtn);
            var $cont=$(val.cont);
            $btn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
                //- hashScroll();
            });
            //== 手機點選 ==
            $mbBtn.on('click',function(){
                var navH=$('.header-wrap').outerHeight();
                var navHMar = navH + 20;
                $('html,body').stop().animate({ scrollTop: ($cont.offset().top - navHMar) }, 'slow');
                //- hashScroll();
                var actTxt=$(this).html();
                console.log(actTxt);
                $('#mbSelectList').slideUp();
                $('#mbSelect').html(actTxt);
            });
        });

        //=== 手機下拉單開合 ===
        $('#mbSelect').on('click',function(){
            var $mbSelectList=$('#mbSelectList');
            var isShow=$mbSelectList.is(':visible');
            isShow ? $mbSelectList.slideUp() : $mbSelectList.slideDown();
        });
    });

    $(window).resize(function () {
        var windowW = $(window).width();
        if(windowW > 767){
            $('#mbSelectList').hide();
        }
    });

    $(window).scroll(function () {
        var windowScrollNum = $(window).scrollTop();
        var scrollList=['#memberArea1','#memberArea2','#memberArea3','#memberArea4','#memberArea5','#memberArea6','#memberArea7','#memberArea8','#memberArea9','#memberArea10','#memberArea11','#memberArea12','#memberArea13','#memberArea14','#memberArea15','#memberArea16','#memberArea17'];
        var navH=$('.header-wrap').outerHeight();
        var navHMar = navH + 25;//多加範圍後，移到這才會被納入範圍 不然會列為上一個內容高度
        var areaH1=$(scrollList[0]).offset().top - navHMar;
        var areaH2=$(scrollList[1]).offset().top - navHMar;
        var areaH3=$(scrollList[2]).offset().top - navHMar;
        var areaH4=$(scrollList[3]).offset().top - navHMar;
        var areaH5=$(scrollList[4]).offset().top - navHMar;
        var areaH6=$(scrollList[5]).offset().top - navHMar;
        var areaH7=$(scrollList[6]).offset().top - navHMar;
        var areaH8=$(scrollList[7]).offset().top - navHMar;
        var areaH9=$(scrollList[8]).offset().top - navHMar;
        var areaH10=$(scrollList[9]).offset().top - navHMar;
        var areaH11=$(scrollList[10]).offset().top - navHMar;
        //- var areaH12=$(scrollList[11]).offset().top - navHMar;
        //- var areaH13=$(scrollList[12]).offset().top - navHMar;
        //- var areaH14=$(scrollList[13]).offset().top - navHMar;
        //- var areaH15=$(scrollList[14]).offset().top - navHMar;
        //- var areaH16=$(scrollList[15]).offset().top - navHMar;
        //- var areaH17=$(scrollList[16]).offset().top - navHMar;
        if(windowScrollNum < areaH2){
            reSetSideAct('#memBtn1');
            //- $('#sideMemberNav').find('.item').removeClass('act');
            //- $('#memBtn1').addClass('act');
        }else if(areaH2 < windowScrollNum && windowScrollNum < areaH3){
            reSetSideAct('#memBtn2');
        }else if(areaH3 < windowScrollNum && windowScrollNum < areaH4){
            reSetSideAct('#memBtn3');
        }else if(areaH4 < windowScrollNum && windowScrollNum < areaH5){
            reSetSideAct('#memBtn4');
        }else if(areaH5 < windowScrollNum && windowScrollNum < areaH6){
            reSetSideAct('#memBtn5');
        }else if(areaH6 < windowScrollNum && windowScrollNum < areaH7){
            reSetSideAct('#memBtn6');
        }else if(areaH7 < windowScrollNum && windowScrollNum < areaH8){
            reSetSideAct('#memBtn7');
        }else if(areaH8 < windowScrollNum && windowScrollNum < areaH9){
            reSetSideAct('#memBtn8');
        }else if(areaH9 < windowScrollNum && windowScrollNum < areaH10){
            reSetSideAct('#memBtn9');
        }else if(areaH10 < windowScrollNum && windowScrollNum < areaH11){
            reSetSideAct('#memBtn10');
        }else if(areaH11 < windowScrollNum){
            reSetSideAct('#memBtn11');
        }
        //- }else if(areaH12 < windowScrollNum && windowScrollNum < areaH13){
        //-     reSetSideAct('#memBtn12');
        //- }else if(areaH13 < windowScrollNum && windowScrollNum < areaH14){
        //-     reSetSideAct('#memBtn13');
        //- }else if(areaH14 < windowScrollNum && windowScrollNum < areaH15){
        //-     reSetSideAct('#memBtn14');
        //- }else if(areaH15 < windowScrollNum && windowScrollNum < areaH16){
        //-     reSetSideAct('#memBtn15');
        //- }else if(areaH16 < windowScrollNum && windowScrollNum < areaH17){
        //-     reSetSideAct('#memBtn16');
        //- }else if(areaH17 < windowScrollNum){
        //-     reSetSideAct('#memBtn17');
        //- }
    });
    $(window).on('load', function () {
        console.log('load Fin');
        //=== hash tage scroll ===
        hashScroll();
    });
    //=== 重置側邊狀態和上ACT ===
    function reSetSideAct(id){
        $('#sideMemberNav,#sideMemberNav02').find('.item').removeClass('act');
        $(id).addClass('act');
    }
    //=== hash tage scroll ===
    function hashScroll(){
        var hashId=window.location.hash;
        console.log(hashId);
        if(hashId!==''){
            var hrefNum=hashId.replace('#m','');
            console.log(hrefNum);
            var hashToId='#memberArea'+hrefNum;
            //- if(hashId=='#m5'){
            //-     var hashToId='#memberArea5';
            //- }

            //- else if(hashId=='#s5'){
            //-     var hashToId='#area5';
            //- }
            console.log(hashToId);
            var navH=$('.header-wrap').outerHeight();
            var navHMar = navH + 20;

            $('html,body').stop().animate({ scrollTop: ($(hashToId).offset().top - navHMar) }, 'slow');

            //== 手機顯示 ==
            var isMbShow=$('#mbSelect').is(':visible');
            if(isMbShow){
                var actTxt = $('#memMbBtn'+hrefNum).html();
                $('#mbSelect').html(actTxt);

                //- if(hashId=='#m5'){
                //-     var actTxt = $('#memMbBtn5').html();
                //-     $('#mbSelect').html(actTxt);
                //- }
            }
        }
    }