include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 最新消息
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'最新消息 - 全部','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 全部消息
                //- .page-sup-tab-area.orange
                .page-sup-tab-area
                    a(href="news_list.html").tab.act 全部
                    a(href="###").tab 公告問題
                    a(href="###").tab 榮譽
                    a(href="###").tab 徵才
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-list
                        -const news01={'img':'page_news01.jpg','tag':'公告','date':'2022/02/24','tit':'由本所與中央大學地震災害鏈風險評估及管理研究中心共同執行的花蓮地震災害研究世界首例跨'};
                        +newsBox(news01)
                        -const news02={'img':'page_news02.jpg','tag':'榮譽','date':'2022/02/23','tit':'本所柯菲瑪博士後研究榮獲科技部110年度博士後研究人員學術研究獎'};
                        +newsBox(news02)
                        -const news03={'img':'hiring_default.png','tag':'徵才','date':'2022/02/22','tit':'極端條件實驗室徵求 博士後研究員、碩士級專任研究助理、博士班/碩士班研究生、大學部專題生等數名。'};
                        -const news04={'img':'news05.jpg','tag':'公告','date':'2022/03/14','tit':'地球科學研究所開放參觀日〈報名已截止〉'};
                        +newsBox(news03)
                        +newsBox(news04)
                        +newsBox(news01)
                        +newsBox(news02)
                        +newsBox(news04)
                        +newsBox(news03)
                        +newsBox(news01)
                        +newsBox(news02)
                    +pagination
                        
        include includes/footer