include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 研究
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'研究 - 觀測網/設備','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 觀測網/設備
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .page-earth-area
                        .edit-area
                            p.def 大年初四，新竹一小時之內發生連續六震，兩天狂搖十二次，震得大家有點心驚；年後，東部更是每兩、三天，就有一次地震發生。
                            p.def 要研究地震的最新動向，都得靠地震觀測網的監測與收集資料。獨立特派員曾針對歷史上發生大規模地震的活動斷層監測做了系列報導，今天我們要繼續跟著中研院地球科學所的腳步，到台東池上鄉的池上斷層。
                            img.def(src="img/news_cont_01.jpg", alt="")
                            p.def 池上斷層是全世界位移速率很快的一條活動斷層，台灣地科界在這裡記錄到斷層潛移的觀測資料，累積相當豐富的科學數據。其中有位功不可沒的法籍地質學家安朔葉教授，他從1981年開始，每年到台灣進行研究，讓池上活動斷層成為國際地震研究重點之一，池上鄉的地牛故事館也特別收藏他當年來台灣進行田野調查的手稿，紀念他為台灣所做的一切。
        include includes/footer