include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 保有個人資料檔案公開項目彙整表
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'保有個人資料檔案公開項目彙整表','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 保有個人資料檔案公開項目彙整表
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .page-earth-area
                        .edit-area
                            <table class="table-sty2" style="width: 100%;">
                                <tr>
                                    <th style="width: 160px;">個人資料檔案名稱</th>
                                    <th>保有依據</th>
                                    <th>特定目的</th>
                                    <th style="width: 180px">個人資料類別</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">人事行政資料</td>
                                    <td>
                                        <ul>
                                            <li>中央研究院組織法第2條</li>
                                            <li>中央研究院研究人員新聘、續聘、升等及特聘審議作業要點</li>
                                            <li>行政院及所屬機關人事資料統一管理要點</li>
                                            <li>人事管理條例</li>
                                            <li>中央研究院聘僱人員工作規則</li>
                                            <li>中央研究院約聘僱人員處理原則</li>
                                            <li>中央研究院聘僱人員採計曾任年資提敘薪級原則</li>
                                            <li>中央研究院學術研究獎金支給要點</li>
                                            <li>公務人員考績法及公務人員考績法施行細則</li>
                                            <li>中央研究院聘僱人員工作規則</li>
                                            <li>中央研究院延聘顧問、專家及學者作業要點</li>
                                            <li>科技部補助延攬客座科技人才作業要點</li>
                                            <li>中央研究院延聘博士後研究人員作業要點</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>002人事管理</li>
                                            <li>031全民健康保險、勞工保險、農民保險、國民年金保險或其他社會保險</li>
                                            <li>129會計與相關服務</li>
                                            <li>135資(通)訊服務</li>
                                            <li>136資(通)訊與資料庫管理</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>C001辨識個人者</li>
                                            <li>C003政府資料中之辨識者</li>
                                            <li>C011個人描述</li>
                                            <li>C021家庭情形</li>
                                            <li>C051學校紀錄</li>
                                            <li>C061現行之受僱情形</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">經費核銷資料</td>
                                    <td>
                                        <ul>
                                            <li>中央研究院採購作業要點</li>
                                            <li>中央研究院科學技術研究發展採購作業要點</li>
                                            <li>中央研究院組織法第2條</li>
                                            <li>支出憑證處理要點</li>
                                            <li>會計法</li>
                                            <li>科技部補助專題研究計畫助理人員約用注意事項</li>
                                            <li>所得稅法，所得稅法施行細則</li>
                                            <li>薪資所得扣繳辦法</li>
                                            <li>全民健康保險扣取及繳納補充保險費辦法</li>
                                            <li>政府採購法</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>002人事管理</li>
                                            <li>107採購與供應管理</li>
                                            <li>129會計與相關服務</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>C001 辨識個人者</li>
                                            <li>C002 辨識財務者</li>
                                            <li>C003 政府資料中之辨識者</li>
                                            <li>C023 家庭其他成員之細節</li>
                                            <li>C033 移民情形</li>
                                            <li>C054 職業專長</li>
                                            <li>C055 委員會之會員資格</li>
                                            <li>C061 現行之受僱情形</li>
                                            <li>C067 工會及員工之會員資格</li>
                                            <li>C068 薪資與預扣款</li>
                                            <li>C083 信用評等</li>
                                            <li>C086 票據信用</li>
                                            <li>C088 保險細節</li>
                                            <li>C093 財務交易</li>
                                            <li>C101 資料主體之商業活動</li>
                                            <li>C102 約定或契約</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">學術研究個資</td>
                                    <td>
                                        <ul>
                                            <li>中央研究院組織法第2條</li>
                                            <li>中央研究院研究所組織規程第25條</li>
                                            <li>游離輻射防護法</li>
                                            <li>中央研究院輻射工作人員認定要點</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>109 教育或訓練行政</li>
                                            <li>135 資(通)訊服務</li>
                                            <li>146 圖書館、出版品管理</li>
                                            <li>159 學術研究</li>
                                            <li>161 輻射防護</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>C001 辨識個人者</li>
                                            <li>C003 政府資料中之辨識者</li>
                                            <li>C011 個人描述</li>
                                            <li>C021 家庭情形</li>
                                            <li>C061 現行之受僱情形</li>
                                            <li>C111 健康紀錄</li>
                                            <li>C133 輻射劑量資料</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">教學、實習管理個資</td>
                                    <td>中央研究院組織法第2條</td>
                                    <td>
                                        <ul>
                                            <li>109 教育或訓練行政</li>
                                            <li>159. 學術研究</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>C001辨識個人者</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">設備管理相關個資</td>
                                    <td>
                                        <ul>
                                            <li>中央研究院組織法第2條</li>
                                            <li>中央研究院研究所組織規程第25條</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>109教育或訓練行政</li>
                                            <li>159學術研究</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>C001辨識個人者</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <div class="updata-date">以上資料為地球所單位保有<br/>更新日期 2022-09-14</div>
        include includes/footer
style.
    .table-sty2 ul{
        margin: 0;
        padding: 0 0 0 16px;
    }
    .table-sty2 li{
        line-height: 1.4;
        margin: 0 0 5px;
    }
    .table-sty2 td{
        vertical-align: top;
    }