include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 研究計畫最新消息
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'本計畫徵求碩士級以上研究助理一名','link':[{'link':'plan.html','name':'研究計畫'}]}
                +breadBox(bread)
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-area
                        .news-txt-cont.plan-news-txt-cont
                            .news-txt-tit-box
                                .date 2022/03/14
                                h4.tit 本所博士後研究學者柯菲瑪(Fatma Kourim)博士日前接受中央廣播電台法語頻道的「研究學者故事」系列節目的訪問
                            .news-txt-box
                                .edit-area
                                    p.def 本所博士後研究學者柯菲瑪(Fatma Kourim)博士日前接受中央廣播電台法語頻道的「研究學者故事」系列節目的訪問，向全球法語系國家一般聽眾介紹台灣地質，和身為旅居台灣的外國地質學家研究與生活的甘苦談。央廣官網相關節目介紹與訪談錄音檔（法文發音）如下連結。
                                    p.def
                                        a.news-def(href="###" target="_blank") https://fr.rti.org.tw/radio/programMessageView/id/106690#.Yi_br4BqvN5.whatsapp
                                    p.def [<a href="###" class="news-def" target="_blank">英文節目介紹</a>]
                                    img.def(src="img/news_cont_01.jpg", alt="")
                            .doc-area
                                .tit 附件檔案
                                ul.list
                                    -const docList=[{'icon':'pdf'},{'icon':'odt'},{'icon':'doc','note':'(*.doc, *.docx)'},{'icon':'xsl','note':'(*.xlsx , *.xls)'},{'icon':'csv'},{'icon':'zip'},{'icon':'ppt','note':'(*.ppt, *.pptx)'}];
                                    each n in docList
                                        li
                                            .icon(class=n.icon)
                                            if n.note
                                                a(href="###") 檔名檔名.#{n.icon} 
                                                .note #{n.note} 
                                            else
                                                a(href="###") 檔名檔名.#{n.icon}

                    .back-box
                        a(href="plan.html").back-btn
                            <i class="far fa-angle-left"></i>
                            .dot
                            span 返回列表
        include includes/footer