include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-plan
            .main-wrap
                .page-cont
                    h2
                        span.block 福衛衛星科學軟體應用加值專案計畫
                        span 中研院地球所執行成果
        .main-wrap.page-gray-b
            .page-cont
                .plan-info-area
                    p 本多計畫為科技部多年期專案項目，目標為配合國家太空中心第三期太空計畫進行技術創新、資料整合、應用探討、產業結合等前期準備
                    .plan-info-cont
                        -const planInfo01={'tit1':'技術','tit2':'創新','img':'plan01.svg','txt':'建立或引入合成孔徑雷達<br>資料處理與分析之最新技術'};
                        +planInfoBox(planInfo01)
                        -const planInfo02={'tit1':'資料','tit2':'整合','img':'plan02.svg','txt':'結合不同領域資料以<br>進行跨領域整合'};
                        +planInfoBox(planInfo02)
                        -const planInfo03={'tit1':'應用','tit2':'探討','img':'plan03.svg','txt':'探討最新太空技術如何<br>應用於解決現有問題'};
                        +planInfoBox(planInfo03)
                        -const planInfo04={'tit1':'產業','tit2':'結合','img':'plan04.svg','txt':'研究產出能夠以具體的<br>資料庫形式回饋社群'};
                        +planInfoBox(planInfo04)
        .main-wrap.ind-wrap03.ind-wrap.page-plan-sw-area
            .main-cont
                .tit-box
                    .tit
                        h3 歷年研究成果
                //- 研究成果Sw
                .earth-sw-area
                    .arr-sw-area
                        .swiper.arr-sw#earthSw
                            .swiper-wrapper
                                .swiper-slide
                                    -const earthSw01={'img':'result01.jpg','tit':'Unveiling Tatun volcanic plumbing structure induced by post-collision...','cont':'The Tatun Volcanic Group (TVG) is proximal to the metropolis of Taipei ...','memImg':'result_mem01.jpg','name':'黃信樺'};
                                    +earthSwBox(earthSw01)
                                .swiper-slide
                                    -const earthSw02={'img':'result02.jpg','tit':'The dynamics of Pluto’s nitrogen ice glacier','cont':'During its flyby of Pluto, in July 2015, the NASA\'s spacecraft New Horizon reveal...','memImg':'result_mem02.jpg','name':'戴夏飛'};
                                    +earthSwBox(earthSw02)
                                .swiper-slide
                                    -const earthSw03={'img':'result03.jpg','tit':'Active Volcanism Revealed from a Seismicity Conduit in the Long-rest...','cont':'本所林正洪特聘研究員研究團隊分析從西元2014年到2017年間，大屯火山觀測站（TVO）在...','memImg':'result_mem03.jpg','name':'林正洪'};
                                    +earthSwBox(earthSw03)
                                .swiper-slide
                                    +earthSwBox(earthSw01)
                        .swiper-button-prev#earthPrev
                            .icon
                                img(src="img/icon_sw_arr.svg", alt="")
                        .swiper-button-next#earthNext
                            .icon
                                img(src="img/icon_sw_arr.svg", alt="")
                    .tit-box
                        a(href="study_area.html").more-btn 更多
        .main-wrap
            .page-cont.plan-more-info-area
                .plan-more-info-cont
                    .tit-box
                        .tit
                            h3 最新消息
                    .plan-news-list-area
                        .plan-news-list
                            a(href="plan_news_cont.html").plan-news-list-box
                                .title-box
                                    img(src="img/plan_news.svg", alt="")
                                    .tit 本計畫徵求碩士級以上研究助理一名
                                .date 2022/05/12
                            a(href="plan_news_cont.html").plan-news-list-box
                                .title-box
                                    img(src="img/plan_news.svg", alt="")
                                    .tit 林玉儂、史天元獲得JAXA EO-RA3 proposal (Ionospheric Study)
                                .date 2022/04/10
                            a(href="plan_news_cont.html").plan-news-list-box
                                .title-box
                                    img(src="img/plan_news.svg", alt="")
                                    .tit 陳奕婧獲得TerraSAR-X proposal (TomoSAR)
                                .date 2022/03/05
                        +paginationNum
            .page-cont.plan-more-info-area
                .plan-more-info-cont
                    .tit-box
                        .tit
                            h3 聯絡我們
                    .plan-more-info-box
                        .plan-more-info
                            .tit 地址
                            .txt 11529 台北市南港區研究院路二段58號5樓<br>中央研究院地球科學研究所
                        .plan-more-info
                            .tit 電話
                            .txt +886 2-27839910
                        .plan-more-info
                            .tit Email
                            a(href="mailto:ninalin@earth.sinica.edu.tw").txt ninalin@earth.sinica.edu.tw
                .plan-more-info-cont
                    .tit-box
                        .tit
                            h3 關於計畫
                    .plan-more-info-box
                        .plan-about-box
                            .plan-about
                                .tit 計畫緣起
                                .txt 科技部自然科學與永續研究發展司自109年度起，為配合第三期太空計畫，建立由國內不同科研團隊組成的台灣太空聯盟(Taiwan Space Union，TSU)，並提出「福衛衛星科學軟體應用加值」專案計畫。此計畫主要目標為運用太空科技來有效回應社會需求之關鍵課題，以期能對太空計畫之發展產生正向的回饋效應。
                            .plan-about
                                .tit 計畫目標
                                .txt 為回應科技部與太空聯盟的研究徵求，中研院地球所、陽明交大土木系與台大地質系於110年起共同執行整合型計畫「從都市到區域：多尺度合成孔徑雷達(Synthetic Aperture Radar，SAR)訊號處理與應用開發」，此項目為呼應「福衛衛星科學軟體應用加值」專案計畫中之福衛光學與SAR酬載軟體應用加值，試圖提出針對不同波段之合成孔徑雷達影像進行技術與應用開發，特別是在圖幅大小、像元空間解析度、相干性衰退曲線、對流層敏感度、電離層敏感度等方面，不同波段均顯示不同特性，因此本計畫試圖提出具適應性與創新價值的技術與應用。本計畫不僅探討多空間尺度，更具有多波段的觀點， 所提出之技術與應用也多屬概念驗證(POC)階段，其創新價值將有助於推動台灣SAR應用技術向前邁進。
                .plan-more-info-cont
                    .tit-box
                        .tit
                            h3 110年計畫
                    .plan-more-info-box
                        .plan-mem-area
                            .plan-mem-tit
                                .tit 福衛10號超前部屬：X波段SAR應用開發
                                .txt 本計畫主要目地為探討X波段的各種應用，<br>特別是當具備或是不具備精密軌道軌道控制的時候，<br>SAR資料可產出什麼樣的資料。
                            .plan-mem-group
                                .tit 參與人員
                                .plan-mem-box
                                    -const planMem01={'img':'plan_mem01.jpg','name':'陳奕婧 教授'};
                                    -const planMem02={'img':'plan_mem02.jpg','name':'史天元 教授'};
                                    -const planMem03={'img':'plan_mem03.jpg','name':'張智安 教授'};
                                    -const planMem04={'img':'plan_mem04.jpg','name':'王昱 教授'};
                                    -const planMem05={'img':'plan_mem05.jpg','name':'林玉儂 教授'};
                                    -const planMem06={'img':'plan_mem06.jpg','name':'童忻 教授'};
                                    -const planMem07={'img':'plan_mem07.jpg','name':'劉千義 教授'};
                                    -const planMem08={'img':'plan_mem08.jpg','name':'陳佳宏 教授'};
                                    +planMem(planMem01)
                                    +planMem(planMem02)
                                    +planMem(planMem03)
                                    +planMem(planMem04)
                                    +planMem(planMem05)
                        .plan-mem-area
                            .plan-mem-tit
                                .tit 結合氣象衛星雲資料與GNSS對流層延遲應用於<br>差分合成孔徑雷達之大氣誤差改正
                                .txt 本計畫主要目地為結合光學衛星雲頂資料與GNSS對流層延遲，<br>建立台灣地區的大氣誤差校正模型，<br>以供國內SAR資料使用者參考與應用。
                            .plan-mem-group
                                .tit 參與人員
                                .plan-mem-box
                                    +planMem(planMem06)
                                    +planMem(planMem05)
                                    +planMem(planMem07)
                        .plan-mem-area
                            .plan-mem-tit
                                .tit SAR提取全電子含量於區域電離層監測之應用
                                .txt 本計畫主要目的為提取SAR影像中的電離層資訊，<br>並探討將其整合入現有電離層全電子含量模型之可能。
                            .plan-mem-group
                                .tit 參與人員
                                .plan-mem-box
                                    +planMem(planMem02)
                                    +planMem(planMem05)
                                    +planMem(planMem08)


                                

        //- .main-wrap.page-main-wrap.page-w
        //-     .page-cont
        //-         -const bread={'act':'Core-mantle boundary topography and the Earth’s deep mantle structure','link':[{'link':'study_area.html','name':'研究 - 研究領域'}]}
        //-         +breadBox(bread)
        //-         .page-tit-box.news-page-tit
        //-             h3.tit 研究領域
        //- .main-wrap.page-gray
        //-     .page-cont
        //-         .page-sup-area
        //-             .news-area
        //-                 .news-banner
        //-                     img(src="img/study_banner.jpg", alt="")
        //-                 .news-txt-cont
        //-                     .news-txt-tit-box
        //-                         .news-tag 地球物理學與地球動力學
        //-                         .date 2022/03/14
        //-                         h4.tit Core-mantle boundary topography and the Earth’s deep mantle structure
        //-                         .study-author
        //-                             .icon
        //-                                 img(src="img/result_mem02.jpg" alt="")
        //-                             a(href="###" target="_blank").name 戴夏飛
        //-                     .news-txt-box
        //-                         .edit-area
        //-                             p.def Mantle convection and core-mantel boundary (CMB) topography. Plumes of hot material stretch the CMB upward (A), while descending slabs induce depressions (B). Piles of dense material create wide depressions with maximum depth that depends on the pile’s density, heavier piles triggering deeper depressions (C and D). © Deschamps et al. (2018).
        //-                             p.def The Earth’s mantle is animated by large movement of convection transporting material from its bottom to its surface, and vice-versa. This flow is impacting the boundary between the core and the mantle, or core-mantle boundary (CMB), located at a depth of 2890 km. In particular, it deforms this boundary, creating some topography: thermal plumes stretch the CMB upward, inducing hills, while slabs arriving from the surface bump into it, triggering depressions. It is reasonable to think that details of CMB topography are controlled by the mode of convection animating the mantle, which depends itself on the mantle structure and properties. To assess whether CMB topography can indeed bring constraints on the deep mantle structure, Dr. Frédéric Deschamps (IES research fellow) and colleagues have calculated CMB dynamic topography induced by mantle flow for different models of mantle convection (Deschamps et al., GJI, 2018). Results show that in purely thermal models, plume clusters induce positive topography. By contrast, in thermo-chemical models with density contrast (ΔρC) around 100 kg/m3 or more, reservoirs of dense material induce depressions about 2 km deep in the CMB. In addition, the long-wavelength (spherical harmonic degrees up to l = 4) dynamic topography and seismic shear velocity anomalies are anti-correlated for purely thermal models, while they correlate for models with ΔρC ≥ 100 kg/m3. This potentially provides a test to infer the nature, thermal or thermo-chemical, of low shear-wave velocity provinces (LLVSP) observed by global tomographic images.
        //-                             p.def Full Article:<br>Frédéric Deschamps, Yves Rogister, Paul J Tackley, (2018), Constraints on core-mantle boundary topography from models of thermal and thermo-chemical convection, Geophysical Journal International 212(1), 164-188 <br>
        //-                                 a.news-def(href="###" target="_blank") https://doi.org/10.1093/gji/ggx402
        //-                     .doc-area
        //-                         .tit 附件檔案
        //-                         ul.list
        //-                             -const docList=[{'icon':'pdf'},{'icon':'odt'},{'icon':'doc','note':'(*.doc, *.docx)'},{'icon':'xsl','note':'(*.xlsx , *.xls)'},{'icon':'csv'},{'icon':'zip'},{'icon':'ppt','note':'(*.ppt, *.pptx)'}];
        //-                             each n in docList
        //-                                 li
        //-                                     .icon(class=n.icon)
        //-                                     if n.note
        //-                                         a(href="###") 檔名檔名.#{n.icon} 
        //-                                         .note #{n.note} 
        //-                                     else
        //-                                         a(href="###") 檔名檔名.#{n.icon}

        //-             .back-box
        //-                 a(href="study_area.html").back-btn
        //-                     <i class="far fa-angle-left"></i>
        //-                     .dot
        //-                     span 返回列表
        include includes/footer
script.
    $(document).ready(function(){
        //=== 研究成果Sw ===
        var earthSw = new Swiper('#earthSw', {
            slidesPerView: 3,
            spaceBetween: 20,
            breakpoints: {
                1023: {
                    slidesPerView: 2,
                    spaceBetween: 25,
                },
                768: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
            },
            navigation: {
                nextEl: '#earthNext',
                prevEl: '#earthPrev',
            },
        });
    });