include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 全站搜尋
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'全站搜尋','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 全站搜尋
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .google-search-box
                        .gcse-search      
        include includes/footer
script(async src="https://cse.google.com/cse.js?cx=d624e0c6580ab451d")
//- script(async src="https://cse.google.com/cse.js?cx=80dea65bed06e4925")