include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 網站導覽
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'網站導覽','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 網站導覽
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .sitemap-area
                        .sitemap-cont
                            -const sitemap1={'tit':'關於本所','links':[{'name':'簡介','url':'###'},{'name':'發展沿革','url':'###'},{'name':'主管簡介','url':'###'},{'name':'聯絡我們','url':'###'}]};
                            +sitemapBox(sitemap1)
                            -const sitemap2={'tit':'最新消息','links':[{'name':'全部','url':'###'},{'name':'徵才','url':'###'},{'name':'公告','url':'###'},{'name':'榮譽','url':'###'}]};
                            +sitemapBox(sitemap2)
                            -const sitemap3={'tit':'演講','links':[{'name':'全部','url':'###'},{'name':'地球所演講','url':'###'},{'name':'地化討論會','url':'###'},{'name':'地震討論會','url':'###'},{'name':'地物討論會','url':'###'}]};
                            +sitemapBox(sitemap3)
                            -const sitemap4={'tit':'研究','links':[{'name':'研究領域','url':'###'},{'name':'研究計畫','url':'###'},{'name':'學術出版','url':'###'},{'name':'TIGP學程','url':'###'},{'name':'實驗室','url':'###'},{'name':'觀測網 / 設備','url':'###'}]};
                            +sitemapBox(sitemap4)
                            -const sitemap5={'tit':'資訊服務','links':[{'name':'資料服務','url':'###'},{'name':'儀器服務','url':'###'},{'name':'即時系統','url':'###'}]};
                            +sitemapBox(sitemap5)
                            -const sitemap6={'tit':'圖書館','links':[{'isOut':true,'name':'地球所圖書館','url':'https://www.earth.sinica.edu.tw/webearth-library/'},{'name':'中研院圖書館','url':'https://aslib.sinica.edu.tw/'}]};
                            +sitemapBox(sitemap6)
                            -const sitemap7={'tit':'推廣教育','links':[{'name':'推廣教育','url':'###'},{'name':'專題報導','url':'###'},{'name':'大學生研習計畫','url':'###'},{'name':'地球部落','url':'###'}]}
                            +sitemapBox(sitemap7)
                            -const sitemap8={'tit':'所內專區','links':[{'isOut':true,'name':'電子信箱','url':'https://webmail.earth.sinica.edu.tw/cgi-bin/login?index=1'},{'name':'IES行事曆','url':'###'},{'name':'IES活動記錄','url':'###'},{'isOut':true,'name':'三十周年專刊','url':'https://www.earth.sinica.edu.tw/iessp/30th.pdf'},{'isOut':true,'name':'Logo(小)','url':'http://140.109.80.226/storage/2logo/group-1663727444ss0kW.png'},{'isOut':true,'name':'Logo(大)','url':'https://www.earth.sinica.edu.tw/iessp/IES-logo-original.jpg'},{'name':'相關連結','url':'###'}]}
                            +sitemapBox(sitemap8)
                        .sitemap-side
                            -const sitemap9={'tit':'成員','links':[{'name':'研究人員','url':'###'},{'name':'研究技術人員','url':'###'},{'name':'駐所、訪問學者','url':'###'},{'name':'博士後研究','url':'###'},{'name':'學術諮詢委員','url':'###'},{'name':'合聘、兼任及通信研究人員','url':'###'},{'name':'研究助理','url':'###'},{'name':'行政人員','url':'###'},{'name':'TIGP研究生','url':'###'},{'name':'退休研究人員','url':'###'},{'name':'地球所友','url':'###'}]}
                            +sitemapBox(sitemap9)

        include includes/footer
script(async src="https://cse.google.com/cse.js?cx=80dea65bed06e4925")