include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 演講
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'演講 - 全部','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 全部
                //- .page-sup-tab-area.orange
                .page-sup-tab-area
                    a(href="speech_list.html").tab.act 全部
                    a(href="###").tab 地球所演講
                    a(href="###").tab 地化討論會
                    a(href="###").tab 地震討論會
                    a(href="###").tab 地物討論會
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .speech-area
                        .speech-banner-area
                            .speech-banner-box
                                -const earthBanne01={'img':'speechB01.jpg','tag':'地球所演講','tit':'Methodology for developing Empirical Ground Motion Models Compatible Shear -Wave Velocity Profiles and Kappa.','name':'馮文龐 博士(本所博士後研究員)'};
                                +earthBannerBox(earthBanne01)
                            .speech-banner-box
                                -const earthBanne02={'img':'speechB02.jpg','tag':'地球所演講','tit':'How does a 52-year-old popular science magazine tell science stories?','name':'趙軒翎 女士（科學月刊副總編輯）'};
                                +earthBannerBox(earthBanne02)
                        .speech-list
                            -const indEarth01={'img':'speech02.jpg','tag':'地球所演講'};
                            +speechBox(indEarth01)
                            -const indEarth02={'img':'speech03.jpg','tag':'地化討論會'};
                            +speechBox(indEarth02)
                            -const indEarth03={'img':'speech04.jpg','tag':'地球所演講'};
                            +speechBox(indEarth03)
                    +pagination
                        
        include includes/footer