include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 研究
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'Core-mantle boundary topography and the Earth’s deep mantle structure','link':[{'link':'study_area.html','name':'研究 - 研究領域'}]}
                +breadBox(bread)
                .page-tit-box.news-page-tit
                    h3.tit 研究領域
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-area
                        .news-banner
                            img(src="img/study_banner.jpg", alt="")
                        .news-txt-cont
                            .news-txt-tit-box
                                .news-tag 地球物理學與地球動力學
                                .date 2022/03/14
                                h4.tit Core-mantle boundary topography and the Earth’s deep mantle structure
                                .study-author
                                    .icon
                                        img(src="img/result_mem02.jpg" alt="")
                                    a(href="###" target="_blank").name 戴夏飛
                            .news-txt-box
                                .edit-area
                                    p.def Mantle convection and core-mantel boundary (CMB) topography. Plumes of hot material stretch the CMB upward (A), while descending slabs induce depressions (B). Piles of dense material create wide depressions with maximum depth that depends on the pile’s density, heavier piles triggering deeper depressions (C and D). © Deschamps et al. (2018).
                                    p.def The Earth’s mantle is animated by large movement of convection transporting material from its bottom to its surface, and vice-versa. This flow is impacting the boundary between the core and the mantle, or core-mantle boundary (CMB), located at a depth of 2890 km. In particular, it deforms this boundary, creating some topography: thermal plumes stretch the CMB upward, inducing hills, while slabs arriving from the surface bump into it, triggering depressions. It is reasonable to think that details of CMB topography are controlled by the mode of convection animating the mantle, which depends itself on the mantle structure and properties. To assess whether CMB topography can indeed bring constraints on the deep mantle structure, Dr. Frédéric Deschamps (IES research fellow) and colleagues have calculated CMB dynamic topography induced by mantle flow for different models of mantle convection (Deschamps et al., GJI, 2018). Results show that in purely thermal models, plume clusters induce positive topography. By contrast, in thermo-chemical models with density contrast (ΔρC) around 100 kg/m3 or more, reservoirs of dense material induce depressions about 2 km deep in the CMB. In addition, the long-wavelength (spherical harmonic degrees up to l = 4) dynamic topography and seismic shear velocity anomalies are anti-correlated for purely thermal models, while they correlate for models with ΔρC ≥ 100 kg/m3. This potentially provides a test to infer the nature, thermal or thermo-chemical, of low shear-wave velocity provinces (LLVSP) observed by global tomographic images.
                                    p.def Full Article:<br>Frédéric Deschamps, Yves Rogister, Paul J Tackley, (2018), Constraints on core-mantle boundary topography from models of thermal and thermo-chemical convection, Geophysical Journal International 212(1), 164-188 <br>
                                        a.news-def(href="###" target="_blank") https://doi.org/10.1093/gji/ggx402
                            .doc-area
                                .tit 附件檔案
                                ul.list
                                    -const docList=[{'icon':'pdf'},{'icon':'odt'},{'icon':'doc','note':'(*.doc, *.docx)'},{'icon':'xsl','note':'(*.xlsx , *.xls)'},{'icon':'csv'},{'icon':'zip'},{'icon':'ppt','note':'(*.ppt, *.pptx)'}];
                                    each n in docList
                                        li
                                            .icon(class=n.icon)
                                            if n.note
                                                a(href="###") 檔名檔名.#{n.icon} 
                                                .note #{n.note} 
                                            else
                                                a(href="###") 檔名檔名.#{n.icon}

                    .back-box
                        a(href="study_area.html").back-btn
                            <i class="far fa-angle-left"></i>
                            .dot
                            span 返回列表
        include includes/footer