include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 推廣教育
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'推廣教育 - 大學生研習計畫','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 大學生研習計畫
                .page-sup-tab-area
                    a(href="earth_list.html").tab 地球部落
                    a(href="topic_list.html").tab 專題報導
                    a(href="study_plan.html").tab.act 大學生研習計畫
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .page-earth-area
                        .edit-area
                            h2.table-tit 2022 研究計畫 
                            table.table-sty2
                                tr
                                    th(width="20%") 學生/校系
                                    th(width="30%") 計畫名稱
                                    th(Width="10%" align="center") 主持人
                                tr
                                    td
                                        |李維哲（臺灣大學地質科學系二年級）<br/>
                                        |詹子弘（中興大學水保系二年級）<br/>
                                        |王奕婷（成功大學測量系四年級）
                                    td
                                        |利用UAV LiDAR及攝影測量獲取高精度之數值地形並解析東北海岸地質構造之發育<br/>
                                        |Using UAV LiDAR and Photogrammetry for Surveying and Interpreting the Development of Geologic Structures in the Lailai Area, Northeast Coast
                                    td(align="center") 詹瑜璋 研究員
                                tr
                                    td 王韋傑（臺灣師範大學地球科學系三年級）
                                    td
                                        |以鍶釹同位素來追溯過去143ka西菲律賓海沉積物的來源<br/>
                                        |Tracing sediment sources in the western Philippine Sea since 143 ka with Sr and Nd isotopes
                                    td(align="center") 劉怡偉 助研究員
                                tr
                                    td
                                        |李振維（臺灣大學地質科學系二年級）<br/>
                                        |王景瑜（臺灣大學地質科學系三年級）<br/>
                                        |陳冠學（成功大學地球科學系三年級）
                                    td
                                        |利用微區XRF探討越南新生代火成岩基性與超基性捕獲岩之物理及化學特徵<br/>
                                        |Using micro-X-ray fluorescence to study chemical and physical properties of mafic-ultramafic xenoliths hosted in Late Cenozoic volcanic rocks, Vietnam
                                    td(align="center") 彭君能 副研究員
                                tr
                                    td
                                        |吳文皓（臺灣大學地質科學系三年級）<br/>
                                        |賴宣蓉（中央大學地球科學系二年級）
                                    td
                                        |花蓮米崙井下光纖資料分析<br/>
                                        |MiDAS Optical Fiber Data Analysis
                                    td(align="center") 馬國鳳特聘研究員
                                tr
                                    td
                                        |吳立芃（中山大學海洋科學系三年級）<br/>
                                        |謝佳佑（成功大學地球科學系三年級）<br/>
                                        |張嘉晴（文化大學地質學系三年級）
                                    td
                                        |以海洋碳酸鈣多重地化及同位素代用指標重建過去海洋環境之變遷<br/>
                                        |Reconstruction of past changes in the ocean environment using multiple geochemical/isotopic proxies in marine carbonate
                                    td(align="center") 黃國芳 副研究員
                                tr
                                    td
                                        |陳俊錤（臺灣大學地質科學系二年級）<br/>
                                        |廖艾庭（臺灣大學地質科學系三年級）
                                    td
                                        |宜蘭輕度變質岩區地熱地質模型初探<br/>
                                        |Geothermal geological model of low-graded metamorphic terrain in the Ilan area
                                    td(align="center") 李建成 研究員
                                tr
                                    td
                                        |楊佳悅（中央大學地球科學系四年級）<br/>
                                        |張庭語（臺灣大學地質科學系二年級）
                                    td
                                        |由多元地球物理觀測量、環境因子之時空特徵分析地震活動度並探討地震觸發機制<br/>
                                        |Toward understanding earthquake triggering by characterizing the spatiotemporal features of seismicity, geophysical data, and environmental factors
                                    td(align="center") 許雅儒 研究員
                                tr
                                    td
                                        |張筱敏（成功大學地球科學系四年級）<br/>
                                        |汪可晴（臺灣大學地質科學系二年級）<br/>
                                        |嚴語晨（臺灣大學地質科學系四年級）
                                    td
                                        |1/ 琉球隱沒系統的淺部地殼構造及其地質上的意義<br/>
                                        |Shallow crustal structure of the Ryukyu subduction system determined from seafloor compliance and P-wave polarization(嚴語晨、汪可晴）<br/>
                                        |2/ 紐西蘭南島的相速度分布
                                        |Phase velocity distribution in South Island, New Zealand, determined from ambient noise(張筱敏)
                                    td(align="center") 郭本垣 研究員
                                tr
                                    td
                                        |陳立瑾（中正大學地環系二年級）<br/>
                                        |康譯云（臺北市立大學地生系三年級）
                                    td
                                        |時變地震層析成像的研究與應用<br/>
                                        |Time-dependent Seismic Tomography
                                    td(align="center") 黃信樺 副研究員
                                tr
                                    td
                                        |柯俊杰（臺灣大學地質科學系二年級）<br/>
                                        |李明翰（臺灣大學地質科學系二年級）
                                    td
                                        |自由震盪的訊號分析：以台北101大樓為例<br/>
                                        |Signal analysis of normal modes  --  Free oscillations of Taipei 101 building
                                    td(align="center") 趙丰 客座講座
                            table.table-sty
                                tr
                                    th(width="20%") 學生/校系
                                    th(width="30%") 計畫名稱
                                    th(Width="10%" align="center") 主持人
                                tr
                                    td
                                        |李維哲（臺灣大學地質科學系二年級）<br/>
                                        |詹子弘（中興大學水保系二年級）<br/>
                                        |王奕婷（成功大學測量系四年級）
                                    td
                                        |利用UAV LiDAR及攝影測量獲取高精度之數值地形並解析東北海岸地質構造之發育<br/>
                                        |Using UAV LiDAR and Photogrammetry for Surveying and Interpreting the Development of Geologic Structures in the Lailai Area, Northeast Coast
                                    td(align="center") 詹瑜璋 研究員
                                tr
                                    td 王韋傑（臺灣師範大學地球科學系三年級）
                                    td
                                        |以鍶釹同位素來追溯過去143ka西菲律賓海沉積物的來源<br/>
                                        |Tracing sediment sources in the western Philippine Sea since 143 ka with Sr and Nd isotopes
                                    td(align="center") 劉怡偉 助研究員
                                tr
                                    td
                                        |李振維（臺灣大學地質科學系二年級）<br/>
                                        |王景瑜（臺灣大學地質科學系三年級）<br/>
                                        |陳冠學（成功大學地球科學系三年級）
                                    td
                                        |利用微區XRF探討越南新生代火成岩基性與超基性捕獲岩之物理及化學特徵<br/>
                                        |Using micro-X-ray fluorescence to study chemical and physical properties of mafic-ultramafic xenoliths hosted in Late Cenozoic volcanic rocks, Vietnam
                                    td(align="center") 彭君能 副研究員
                                tr
                                    td
                                        |吳文皓（臺灣大學地質科學系三年級）<br/>
                                        |賴宣蓉（中央大學地球科學系二年級）
                                    td
                                        |花蓮米崙井下光纖資料分析<br/>
                                        |MiDAS Optical Fiber Data Analysis
                                    td(align="center") 馬國鳳特聘研究員
                                tr
                                    td
                                        |吳立芃（中山大學海洋科學系三年級）<br/>
                                        |謝佳佑（成功大學地球科學系三年級）<br/>
                                        |張嘉晴（文化大學地質學系三年級）
                                    td
                                        |以海洋碳酸鈣多重地化及同位素代用指標重建過去海洋環境之變遷<br/>
                                        |Reconstruction of past changes in the ocean environment using multiple geochemical/isotopic proxies in marine carbonate
                                    td(align="center") 黃國芳 副研究員
                                tr
                                    td
                                        |陳俊錤（臺灣大學地質科學系二年級）<br/>
                                        |廖艾庭（臺灣大學地質科學系三年級）
                                    td
                                        |宜蘭輕度變質岩區地熱地質模型初探<br/>
                                        |Geothermal geological model of low-graded metamorphic terrain in the Ilan area
                                    td(align="center") 李建成 研究員
                                tr
                                    td
                                        |楊佳悅（中央大學地球科學系四年級）<br/>
                                        |張庭語（臺灣大學地質科學系二年級）
                                    td
                                        |由多元地球物理觀測量、環境因子之時空特徵分析地震活動度並探討地震觸發機制<br/>
                                        |Toward understanding earthquake triggering by characterizing the spatiotemporal features of seismicity, geophysical data, and environmental factors
                                    td(align="center") 許雅儒 研究員
                                tr
                                    td
                                        |張筱敏（成功大學地球科學系四年級）<br/>
                                        |汪可晴（臺灣大學地質科學系二年級）<br/>
                                        |嚴語晨（臺灣大學地質科學系四年級）
                                    td
                                        |（1）琉球隱沒系統的淺部地殼構造及其地質上的意義<br/>
                                        |Shallow crustal structure of the Ryukyu subduction system determined from seafloor compliance and P-wave polarization(嚴語晨、汪可晴）
                                        |（2）紐西蘭南島的相速度分布
                                        |Phase velocity distribution in South Island, New Zealand, determined from ambient noise(張筱敏)
                                    td(align="center") 郭本垣 研究員
                                tr
                                    td
                                        |陳立瑾（中正大學地環系二年級）<br/>
                                        |康譯云（臺北市立大學地生系三年級）
                                    td
                                        |時變地震層析成像的研究與應用<br/>
                                        |Time-dependent Seismic Tomography
                                    td(align="center") 黃信樺 副研究員
                                tr
                                    td
                                        |柯俊杰（臺灣大學地質科學系二年級）<br/>
                                        |李明翰（臺灣大學地質科學系二年級）
                                    td
                                        |自由震盪的訊號分析：以台北101大樓為例<br/>
                                        |Signal analysis of normal modes  --  Free oscillations of Taipei 101 building
                                    td(align="center") 趙丰 客座講座
                            
                            .table-box
                                table.table-sty3
                                    tr
                                        th(width="20%") 學生/校系
                                        th(width="30%") 計畫名稱
                                        th(Width="10%" align="center") 主持人
                                    tr
                                        td
                                            |李維哲（臺灣大學地質科學系二年級）<br/>
                                            |詹子弘（中興大學水保系二年級）<br/>
                                            |王奕婷（成功大學測量系四年級）
                                        td
                                            |利用UAV LiDAR及攝影測量獲取高精度之數值地形並解析東北海岸地質構造之發育<br/>
                                            |Using UAV LiDAR and Photogrammetry for Surveying and Interpreting the Development of Geologic Structures in the Lailai Area, Northeast Coast
                                        td(align="center") 詹瑜璋 研究員
                                    tr
                                        td 王韋傑（臺灣師範大學地球科學系三年級）
                                        td
                                            |以鍶釹同位素來追溯過去143ka西菲律賓海沉積物的來源<br/>
                                            |Tracing sediment sources in the western Philippine Sea since 143 ka with Sr and Nd isotopes
                                        td(align="center") 劉怡偉 助研究員
                                    tr
                                        td
                                            |李振維（臺灣大學地質科學系二年級）<br/>
                                            |王景瑜（臺灣大學地質科學系三年級）<br/>
                                            |陳冠學（成功大學地球科學系三年級）
                                        td
                                            |利用微區XRF探討越南新生代火成岩基性與超基性捕獲岩之物理及化學特徵<br/>
                                            |Using micro-X-ray fluorescence to study chemical and physical properties of mafic-ultramafic xenoliths hosted in Late Cenozoic volcanic rocks, Vietnam
                                        td(align="center") 彭君能 副研究員
                                    tr
                                        td
                                            |吳文皓（臺灣大學地質科學系三年級）<br/>
                                            |賴宣蓉（中央大學地球科學系二年級）
                                        td
                                            |花蓮米崙井下光纖資料分析<br/>
                                            |MiDAS Optical Fiber Data Analysis
                                        td(align="center") 馬國鳳特聘研究員
                                    tr
                                        td
                                            |吳立芃（中山大學海洋科學系三年級）<br/>
                                            |謝佳佑（成功大學地球科學系三年級）<br/>
                                            |張嘉晴（文化大學地質學系三年級）
                                        td
                                            |以海洋碳酸鈣多重地化及同位素代用指標重建過去海洋環境之變遷<br/>
                                            |Reconstruction of past changes in the ocean environment using multiple geochemical/isotopic proxies in marine carbonate
                                        td(align="center") 黃國芳 副研究員
                                    tr
                                        td
                                            |陳俊錤（臺灣大學地質科學系二年級）<br/>
                                            |廖艾庭（臺灣大學地質科學系三年級）
                                        td
                                            |宜蘭輕度變質岩區地熱地質模型初探<br/>
                                            |Geothermal geological model of low-graded metamorphic terrain in the Ilan area
                                        td(align="center") 李建成 研究員
                                    tr
                                        td
                                            |楊佳悅（中央大學地球科學系四年級）<br/>
                                            |張庭語（臺灣大學地質科學系二年級）
                                        td
                                            |由多元地球物理觀測量、環境因子之時空特徵分析地震活動度並探討地震觸發機制<br/>
                                            |Toward understanding earthquake triggering by characterizing the spatiotemporal features of seismicity, geophysical data, and environmental factors
                                        td(align="center") 許雅儒 研究員
                                    tr
                                        td
                                            |張筱敏（成功大學地球科學系四年級）<br/>
                                            |汪可晴（臺灣大學地質科學系二年級）<br/>
                                            |嚴語晨（臺灣大學地質科學系四年級）
                                        td
                                            |（1）琉球隱沒系統的淺部地殼構造及其地質上的意義<br/>
                                            |Shallow crustal structure of the Ryukyu subduction system determined from seafloor compliance and P-wave polarization(嚴語晨、汪可晴）
                                            |（2）紐西蘭南島的相速度分布
                                            |Phase velocity distribution in South Island, New Zealand, determined from ambient noise(張筱敏)
                                        td(align="center") 郭本垣 研究員
                                    tr
                                        td
                                            |陳立瑾（中正大學地環系二年級）<br/>
                                            |康譯云（臺北市立大學地生系三年級）
                                        td
                                            |時變地震層析成像的研究與應用<br/>
                                            |Time-dependent Seismic Tomography
                                        td(align="center") 黃信樺 副研究員
                                    tr
                                        td
                                            |柯俊杰（臺灣大學地質科學系二年級）<br/>
                                            |李明翰（臺灣大學地質科學系二年級）
                                        td
                                            |自由震盪的訊號分析：以台北101大樓為例<br/>
                                            |Signal analysis of normal modes  --  Free oscillations of Taipei 101 building
                                        td(align="center") 趙丰 客座講座

                            p.def 大年初四，新竹一小時之內發生連續六震，兩天狂搖十二次，震得大家有點心驚；年後，東部更是每兩、三天，就有一次地震發生。
                            p.def 要研究地震的最新動向，都得靠地震觀測網的監測與收集資料。獨立特派員曾針對歷史上發生大規模地震的活動斷層監測做了系列報導，今天我們要繼續跟著中研院地球科學所的腳步，到台東池上鄉的池上斷層。
                            img.def(src="img/news_cont_01.jpg", alt="")
                            p.def 池上斷層是全世界位移速率很快的一條活動斷層，台灣地科界在這裡記錄到斷層潛移的觀測資料，累積相當豐富的科學數據。其中有位功不可沒的法籍地質學家安朔葉教授，他從1981年開始，每年到台灣進行研究，讓池上活動斷層成為國際地震研究重點之一，池上鄉的地牛故事館也特別收藏他當年來台灣進行田野調查的手稿，紀念他為台灣所做的一切。
        include includes/footer