include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 研究
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'研究 - 研究領域','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 研究領域
                .page-sup-tab-area
                    a(href="study_area.html").tab.act 地球物理學與地球動力學
                    a(href="###").tab 地震學
                    a(href="###").tab 地球化學
                    a(href="###").tab 地質學與活動構造學
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .study-area
                        .study-tit 地球物理學與地球動力學
                        .study-txt
                            p 
                                | 研究人員︰<a href="###">林正洪</a>、<a href="###">郭本垣</a>、<a href="###">戴夏飛</a>、<a href="###">戚務正</a>、<a href="###">郁文哲</a>、<a href="###">謝文斌</a>、<a href="###">譚諤</a>、<a href="###">黃信樺</a>、<a href="###">張耘瑗</a><br>
                                | 研究技術人員︰<a href="###">梁文宗</a>、<a href="###">林慶仁</a>、<a href="###">林欽仁</a>
                                | 地球物理學與地球動力學研究利用各式尖端的地球物理方法研究(一)固體地球內部複雜的構造及其分佈﹔(二)海底地震學﹔(三)板塊隱沒、行星地幔與岩石圈流動之機制及動力學過程﹔(四)地球深部礦物之物理與化學性質﹔(五)地球重力場與地磁場之演變及在自然災害與環境相關研究領域之應用等重要課題。
                            p 近年來重要的研究成果包括更清楚地重建歐亞板塊與菲律賓海板塊的三維隱沒幾何形貌、研究琉球隱沒帶之地幔流非均向性與動力機制、發現大屯火山與美國黃石火山下的深部岩漿庫、解析內核邊界速度構造與可能的半球邊界位置、自主研發寬頻海底地震儀並將其產業化與國際化、深度剖析全球動力學與地幔大尺度熱化學結構以及岩石圈剪切帶之形成機制、首次成功量測地幔與地核之熱傳導性質並結合數值模擬驗證其在地球熱演化過程之影響、精準觀測全球大地震對於地球自由震盪簡正模式頻譜之影響、發現由變質岩侵蝕而來的磁黃鐵礦可幫助追溯沉積物之來源以了解台灣及其它造山帶的剝蝕歷史。
        .main-wrap.page-black
            .page-cont
                .page-sup-area
                    .study-result-area
                        .page-tit-box
                            h3.tit 研究成果
                    .study-result-list
                        -const earthSw01={'img':'result01.jpg','tit':'Unveiling Tatun volcanic plumbing structure induced by post-collision...','cont':'The Tatun Volcanic Group (TVG) is proximal to the metropolis of Taipei ...','memImg':'result_mem01.jpg','name':'黃信樺'};
                        +earthSwBox(earthSw01)
                        -const earthSw02={'img':'result02.jpg','tit':'The dynamics of Pluto’s nitrogen ice glacier','cont':'During its flyby of Pluto, in July 2015, the NASA\'s spacecraft New Horizon reveal...','memImg':'result_mem02.jpg','name':'戴夏飛'};
                        +earthSwBox(earthSw02)
                        -const earthSw03={'img':'result03.jpg','tit':'Active Volcanism Revealed from a Seismicity Conduit in the Long-rest...','cont':'本所林正洪特聘研究員研究團隊分析從西元2014年到2017年間，大屯火山觀測站（TVO）在...','memImg':'result_mem03.jpg','name':'林正洪'};
                        +earthSwBox(earthSw03)
                        +earthSwBox(earthSw02)
                        +earthSwBox(earthSw03)
        include includes/footer