include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 推廣教育
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'推廣教育 - 專題報導','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 專題報導
                //- .page-sup-tab-area.orange
                .page-sup-tab-area
                    a(href="earth_list.html").tab 地球部落
                    a(href="topic_list.html").tab.act 專題報導
                    a(href="study_plan.html").tab 大學生研習計畫
                    //- a(href="###").tab 動態報導
                    //- a(href="###").tab 特別專題
                    .page-sup-inner
                        a(href="topic_list.html").stab.act 《中研院訊》專欄
                        a(href="###").stab 科普專欄
                        a(href="###").stab 研究心得
                        a(href="###").stab 動態報導
                        a(href="###").stab 特別專題

        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-list
                        -const earth01={'img':'earth01.jpg','date':'2022/02/24','tit':'海洋酸化了，牠們怎麼辦？─從同位素看造殼海洋生物如何應變','author':'劉怡偉'};
                        +topicListBox(earth01)
                        -const earth02={'img':'earth02.jpg','date':'2022/02/23','tit':'大屯山偷偷藏了一個岩漿牛奶罐？用震波破解大屯火山身下的秘密！','author':'黃信樺'};
                        +topicListBox(earth02)
                        -const earth03={'img':'earth03.jpg','date':'2022/02/22','tit':'臺灣地震前兆研究之展望','author':'傅慶州'};
                        -const earth04={'img':'earth04.jpg','date':'2022/03/14','tit':'內地核，您今年貴庚?','author':'謝文斌'};
                        +topicListBox(earth03)
                        +topicListBox(earth04)
                        +topicListBox(earth01)
                        +topicListBox(earth02)
                        +topicListBox(earth04)
                        +topicListBox(earth03)
                        +topicListBox(earth01)
                        +topicListBox(earth02)
                    +pagination
                        
        include includes/footer