include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 所內專區
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'所內專區 - 相關連結','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 相關連結
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .web-link-area
                        //- .page-tit-box
                        //-     h4.tit.line 資料服務
                        //- .web-link-list
                        //-     -const webLink01={'tit':'資料管理中心','link':'https://dmc.earth.sinica.edu.tw/'};
                        //-     +webLinkBox(webLink01)
                        //-     -const webLink02={'tit':'GPS資料服務','link':'http://gps.earth.sinica.edu.tw/'};
                        //-     +webLinkBox(webLink02)
                        //-     -const webLink03={'tit':'即時計算地震學地震報告','link':'http://rcs.earth.sinica.edu.tw/'};
                        //-     +webLinkBox(webLink03)
                        //-     -const webLink04={'tit':'台灣地區寬頻地震觀測網','link':'https://bats.earth.sinica.edu.tw/'};
                        //-     +webLinkBox(webLink04)
                        //- .page-tit-box
                        //-     h4.tit.line 儀器服務
                        //- .web-link-list
                        //-     -const webLink05={'tit':'TEC儀器服務中心','link':'https://tec.earth.sinica.edu.tw/service.php'};
                        //-     +webLinkBox(webLink05)
                        //- .page-tit-box
                        //-     h4.tit.line 即時系統
                        //- .web-link-list
                        //-     -const webLink06={'tit':'即時地震矩張量監測系統','link':'http://rcs.earth.sinica.edu.tw/'};
                        //-     +webLinkBox(webLink06)
                        //-     -const webLink07={'tit':'即時線上地震模擬服務系統','link':'http://ros.earth.sinica.edu.tw/'};
                        //-     +webLinkBox(webLink07)
                        //-     -const webLink08={'tit':'台灣即時地震科學資訊系統','link':'https://tesis.earth.sinica.edu.tw/new/'};
                        //-     +webLinkBox(webLink08)
                        //-     -const webLink09={'tit':'AutoBATS 震源機制解','link':'https://tecws1.earth.sinica.edu.tw/AutoBATS/'};
                        //-     +webLinkBox(webLink09)
                        .page-tit-box
                            h4.tit.line 國內相關網站
                        .web-link-list.center
                            -const webLink10={'tit':'政府機關 / 學會','link':'https://www.earth.sinica.edu.tw/content/other/國內相關網站_學術單位.pdf'};
                            +webLinkBox(webLink10)
                            -const webLink11={'tit':'學術單位 / 學校單位','link':'https://www.earth.sinica.edu.tw/content/other/國內相關網站_政府機關_組織.pdf'};
                            +webLinkBox(webLink11)
                        .page-tit-box
                            h4.tit.line 國外相關網站
                        .web-link-list.center
                            -const webLink12={'tit':'政府機關 / 組織','link':'https://www.earth.sinica.edu.tw/content/other/國外相關網站_組織.pdf'};
                            +webLinkBox(webLink12)
                            -const webLink13={'tit':'學術單位 / 學校單位','link':'https://www.earth.sinica.edu.tw/content/other/國外相關網站_學術單位.pdf'};
                            +webLinkBox(webLink13)
                            
                            
        include includes/footer